<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet">
    <link href="/faw/css/all.css" rel="stylesheet">
    <title>COSCUP Secretary</title>
  </head>
  <body>
  <nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="button is-success is-light" href="/">COSCUP Secretary</a>
      </div>
  
      <a role="button" class="navbar-burger" v-on:click="navtoggle = !navtoggle" v-bind:class="{'is-active': navtoggle}" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" v-bind:class="{'is-active': navtoggle}">
      <div class="navbar-end">
          {% if g.user and g.user.data %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span><figure class="image is-24x24">
                    <img class="is-rounded" src="{{g.user.data.picture}}">
                    </figure></span>
                <span>{{g.user.data.name}}</span>
            </a>
            <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="/setting"><span class="icon"><i class="fas fa-user-cog"></i></span> <span>Setting</span></a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/logout"><span class="icon"><i class="fas fa-sign-out-alt"></i></span> <span>Logout</span></a>
            </div>
          </div>
          {% else %}
          <div class="navbar-item">
              <div class="field is-grouped">
                  <p class="control">
                  <a class="button is-info" href="/oauth2callback"><span class="icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login</span></a>
                  </p>
              </div>
          </div>
          {% endif %}
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
  <footer class="footer" style="margin-top: 50px;">
    <div class="content has-text-centered">
      <p>COSCUP Secretary</p>
    </div>
  </footer>
  <script src="/js/vue.min.js"></script>
  <script>
      var app = new Vue({
          el: 'nav',
          data: {
              navtoggle: false
          },
          delimiters: ['[[', ']]']
      });
  </script>
  {% block js %}{% endblock %}
  </body>
</html>
