<!doctype html>
<html lang="zh-Hant">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bulma.min.090.css" rel="stylesheet">
    <link href="/faw/css/all.min.css" rel="stylesheet">
    <title>COSCUP Volunteer{%block head_title%}{%endblock%}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@coscup">
    {%block og%}
    <meta property="og:title" content="{%block og_title%}{%endblock%}Volunteer with COSCUP! 志工服務系統">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="COSCUP Volunteer">
    <meta property="og:image" content="https://volunteer.coscup.org/img/coscup_volunteer_og.png">
    <meta property="og:description" content="完成志工成員登錄、各屆組織建立、住宿、交通費補助等行政事宜。Volunteer with COSCUP!">
    {%endblock%}
    <meta name="theme-color" content="#48c774">
    <meta name="google-site-verification" content="bNlKpOt_7KyKFIigR-8ZHnAVn4z-rLm8FdVIGC_wlTU" />
    {%block header%}{%endblock%}
    <style>
        [v-cloak] { display: none; }
        html { font-size: 14px; }
    </style>
    {%block style%}{%endblock%}
  </head>
  <body>
  <nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-active has-text-weight-semibold" href="/">
            <img src="/img/coscup_volunteer_og.png" style="margin-right: 5px; box-shadow: white 0px 0px 10px;border-radius: 25px;">
            COSCUP Volunteer
        </a>
  
      <a role="button" class="navbar-burger" v-on:click="navtoggle = !navtoggle" v-bind:class="{'is-active': navtoggle}" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" v-bind:class="{'is-active': navtoggle}">
      <div class="navbar-start">
          <a class="navbar-item has-text-weight-medium" href="/tasks/2020">
              <span class="icon"><i class="fas fa-pizza-slice"></i></span>
              <span>解任務！</span>
          </a>
          <a class="navbar-item has-text-weight-medium" href="/project/2020/">
              <span class="icon"><i class="far fa-bookmark"></i></span>
              <span>COSCUP2020</span>
          </a>
          {% if g.user and g.user.data %}
          {% for team in g.user['participate_in'] %}
          <a class="navbar-item has-text-weight-medium" href="/team/{{team['pid']}}/{{team['tid']}}/">
              <span class="icon"><i class="fas fa-thumbtack"></i></span>
              <span>{{team['name']}}</span>
          </a>
          {% endfor %}
          {% endif %}
      </div>
      <div class="navbar-end">
          {% if g.user and g.user.data %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span style="margin-right: 5px;">
                    <figure class="image is-24x24">
                        <img class="is-rounded" src="{{g.user.data.picture}}">
                    </figure>
                </span>
                <span class="has-text-weight-medium">{{g.user.data.name}}</span>
            </a>
            <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="/user/{{g.user.account._id}}">
                    <span class="icon"><i class="far fa-id-badge"></i></span> <span>關於我</span>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/setting">
                    <span class="icon"><i class="fas fa-user-cog"></i></span> <span>設定</span>
                </a>
                <a class="navbar-item" href="/guide">
                    <span class="icon"><i class="fas fa-book"></i></span> <span>使用手冊</span>
                </a>
                <a class="navbar-item" href="/setting/waitting">
                    <span class="icon"><i class="fas fa-clipboard-check"></i></span> <span>組別申請狀況</span>
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/logout">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span> <span>登出</span>
                </a>
            </div>
          </div>
          {% else %}
          <div class="navbar-item">
              <div class="field is-grouped">
                  <p class="control">
                  <a class="button is-info" href="/oauth2callback"><span class="icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login</span></a>
                  </p>
              </div>
          </div>
          {% endif %}
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
  <footer class="footer" style="margin-top: 50px;">
    <div class="content has-text-centered">
      <p>COSCUP Volunteer 志工服務系統 | 行政組</p>
      <p>
        <a href="/privacy">
            <span class="icon has-text-info"><i class="fas fa-user-shield"></i></span>
            隱私權政策
        </a>
        <a href="https://hackmd.io/@coscup/cococo-zh" target="_blank">
            <span class="icon has-text-info"><i class="fas fa-user-tag"></i></span>
            社群守則
        </a>
        <a href="/bug-report">
            <span class="icon has-text-info"><i class="fas fa-bug"></i></span>
            缺陷回報
        </a>
      </p>
    </div>
  </footer>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156956691-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-156956691-1');
  </script>
  <script src="/js/vue.min.js"></script>
  <script>
      (function() {
          let app = new Vue({
              el: 'nav',
              data: {
                  navtoggle: false
              },
              delimiters: ['[[', ']]']
          });
      })();
  </script>
  {% block js %}{% endblock %}
  </body>
</html>
