{% extends "base.html" %}
{% block head_title %}缺陷回報{% endblock %}
{% block og_title %}缺陷回報 {% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        缺陷回報
    </h1>
    <p class="subtitle">有洞幫忙補，凹嗚！</p>
  </div>
</section>
<section class="section">
  <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="content">
                    <h3>如何回報</h3>
                    <p>如有發現任何缺陷問題，可以透過以下方式回報，非常感謝。</p>
                    <ul>
                        <li>寄信到 <a href="mailto:volunteer@coscup.org">volunteer@coscup.org</a></li>
                        <li>透過 PGP 加密內容後傳送：
                            <ul>
                                <li class="is-family-monospace"><a href="/pgp/85328B3E566983C4F4FD048768429A6CD9689A13.asc">85328B3E566983C4F4FD048768429A6CD9689A13</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h3>原始碼</h3>
                    <p>或是透過 Github 的 Issues 回報，原始碼的授權條款為：<a href="https://zh.wikipedia.org/zh-tw/GNU_Affero%E9%80%9A%E7%94%A8%E5%85%AC%E5%85%B1%E8%AE%B8%E5%8F%AF%E8%AF%81">GNU AGPLv3</a>。</p>
                    <ul>
                        <li>
                            COSCUP/COSCUP-Volunteer：<a href="https://github.com/COSCUP/COSCUP-Volunteer">https://github.com/COSCUP/COSCUP-Volunteer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  </div>
</section>
{% endblock %}
