{% extends "base.html" %}
{% block head_title %}{{g.user.data.name}} Dev Setting {%block head_title_setting%}{%endblock%} [{{g.user.account._id}}]{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Development Setting
    </h1>
    <p class="subtitle">設定頁面</p>
  </div>
</section>
<section class="section">
  <div id="devp" class="container" v-cloak>
      <div class="columns">
          <div class="column is-one-fifth"></div>
          <div class="column">
              <div class="content">
                  <h2>Accounts ([[ accounts.length ]])</h2>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Email</th>
                              <th>Create At</th>
                              <th>Suspend</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="account in accounts">
                              <td>[[ account._id ]]</td>
                              <td>[[ account.mail ]]<br>[[ account.property ]]</td>
                              <td>[[ new Date(account.created_at*1000).toLocaleString() ]]</td>
                              <td>
                                <a class="button is-danger is-small is-light is-outlined"
                                  @click="make_suspend(account._id)"
                                >Suspend</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="content">
                  <h2>Sessions ([[ sessions.length ]])</h2>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>UID</th>
                              <th>Session ID(sid) / Alive / Create At</th>
                              <th>Switch to</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="session in sessions">
                              <td>[[ session.uid ]]</td>
                              <td>
                                  [[ session._id ]]<br>
                                  <span class="tag is-success" v-if="session.alive">alive</span>
                                  <span class="tag is-dark" v-if="!session.alive">expired</span>
                                  [[ new Date(session.created_at*1000).toLocaleString() ]]<br>
                              </td>
                              <td style="vertical-align:middle;">
                                  <a class="button is-link is-small is-light is-outlined"
                                      v-if="sid != session._id"
                                      :href="'./cookie?sid='+session._id">Switch</a>
                                <span class="tag is-success" v-if="sid == session._id">Current</span>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="content">
                  <h2>Projects ([[ projects.length ]])</h2>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>PID</th>
                              <th>Name</th>
                              <th>Action Date</th>
                              <th>Setting</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="project in projects">
                              <td>[[ project._id ]]</td>
                              <td>[[ project.name]]</td>
                              <td>[[ new Date(project.action_date).toLocaleString() ]]</td>
                              <td>
                                  <a class="button is-link is-light is-outlined is-small"
                                      :href="`/project/${project._id}/edit`">Setting</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="content">
                  <details>
                  <summary class="is-clickable">To create a project</summary>
                  <h3>Create a Project</h3>
                  <div class="field-body">
                      <div class="field">
                          <label class="label">Pid</label>
                          <div class="control">
                              <input class="input" name="pid" type="text" v-model.trim="project.pid" required>
                          </div>
                          <p class="help is-success">Project id, ex. 2022, 2023 ...</p>
                      </div>
                      <div class="field">
                          <label class="label">Name</label>
                          <div class="control">
                              <input class="input" name="name" type="text" v-model.trim="project.name" required>
                          </div>
                          <p class="help is-success">Project name, ex. COSCUP 2022, COSCUP 2023 ...</p>
                      </div>
                      <div class="field">
                          <label class="label">Action Date</label>
                          <div class="control">
                              <input class="input" type="date" v-model.trim="project.action_date">
                          </div>
                          <p class="help is-success">Which date is the action's first day.</p>
                      </div>
                  </div>
                  <div class="field">
                      <div class="control">
                          <button class="button is-primary" :class="{'is-loading': is_loading}" @click="create_project">Create Project</button>
                      </div>
                  </div>
                  </details>
              </div>
          </div>
          <div class="column is-one-fifth"></div>
      </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $devp = new Vue({
            el: '#devp',
            data: {
                sid: '',
                accounts: [],
                sessions: [],
                projects: [],
                project: {pid: '', name: '', action_date: ''},
                is_loading: 0
            },
            mounted: function() {
                this.load();
            },
            methods: {
                create_project: function() {
                    let $this = this;
                    axios.post('./', {casename: 'create_project', project: this.project}).then(function(resp) {
                        window.location.href = '/dev/';
                    });
                },
                make_suspend: function(uid) {
                    let $this = this;
                    axios.post('./', {casename: 'make_suspend', uid: uid}).then(function(resp) {
                        window.location.href = '/dev/';
                    });
                },
                load: function() {
                    let $this = this;
                    axios.post('./', {casename: 'get'}).then(function(resp) {
                        $this.sid = resp.data.sid;
                        $this.accounts = resp.data.accounts;
                        $this.sessions = resp.data.sessions;
                        $this.projects = resp.data.projects;
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
