{% extends "expense_menu.html" %}
{% block expense_subtitle %}我的申請單{% endblock %}
{% block expense_my_menu %}is-active{% endblock %}
{% block expense_body %}
<link href="{{ url_for('static', filename='expense-component.css') }}" rel="stylesheet">
<div class="column">
    <div id="expensemy" class="container" v-cloak>
      <div class="content">
        <div class="section" v-if="stand_alone_expenses.length">
            <h2>已申請、審核中</h2>
            <expense-table
              :expenses="stand_alone_expenses"
              :is-editable="true"
              :budgets="budgets"
              :is-admin="false"
              :me="my_id"
              @edit="edit"
            ></expense-table>
        </div>
        <div class="section" v-if="dispenses_by_status.length">
            <h2>出款中、已出款、已完成</h2>
            <dispense-table
              :all-expenses="items"
              :dispenses="dispenses_by_status"
              :budgets="budgets"
              :users="users"
              :status-list="status_list"
              :me="my_id"
              :is-admin="false"
              @edit-expense="edit"
            ></dispense-table>
        </div>
      </div>
    <!-- modal -->
    <div class="modal" :class="{'is-active': modaldata.show === true}" v-if="modaldata.request">
      <div class="modal-background"></div>
      <div class="modal-card">
          <header class="modal-card-head">
              <p class="modal-card-title">申請預算經費 - [[ budgets[modaldata.request['buid'] ]['name'] ]]</p>
              <button class="delete" aria-label="close" @click="close"></button>
          </header>
          <section class="modal-card-body">
              <div class="content">
                  <h4>預算表資訊</h4>
                  <table class="table is-bordered is-narrow is-striped">
                      <thead>
                          <tr>
                              <th>項目</th>
                              <th>名稱</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>預算表編號</td>
                              <td><span class="tag is-dark">[[ budgets[modaldata.request['buid'] ]['bid'] ]]</span></td>
                          </tr>
                          <tr>
                              <td>組別 / 預算建立者</td>
                              <td>
                                  <div class="field-body">
                                      <div class="field">
                                          <span class="select is-small">
                                              <select v-model="modaldata.tid" disabled>
                                                  <option v-for="team in teams" :value="team.tid">[[ team.name ]]</option>
                                              </select>
                                          </span>
                                      </div>
                                      <div class="field">
                                          <input class="input is-small" type="text" v-model="budgets[modaldata.request['buid'] ].uid" disabled>
                                      </div>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>預算總金額</td>
                              <td>
                                  <span class="tag">[[ budgets[modaldata.request['buid'] ].currency ]]</span>
                                  <span>$[[ budgets[modaldata.request['buid'] ].total.toLocaleString('en') ]]</span>
                              </td>
                          </tr>
                          <tr>
                              <td>預計支出時間</td>
                              <td>[[ budgets[modaldata.request['buid'] ].paydate ]]</td>
                          </tr>
                          <tr>
                              <td>說明</td>
                              <td>[[ budgets[modaldata.request['buid'] ].desc ]]</td>
                          </tr>
                          <tr>
                              <td>估算方式</td>
                              <td>[[ budgets[modaldata.request['buid'] ].estimate ]]</td>
                          </tr>
                          <tr>
                              <td>唯一編號</td>
                              <td><span class="tag is-link is-light">[[ modaldata.code ]]</span></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="content" v-if="modaldata.relevant_code.length > 0">
                  <h4>與其他申請單有關聯</h4>
                  <div class="tags">
                      <span class="tag is-link is-light" v-for="relevant in modaldata.relevant_code">[[ relevant ]]</span>
                  </div>
              </div>
              <div class="content">
                  <h4>檢附單據</h4>
              </div>
              <div class="field" v-for="invoice, index in modaldata.invoices">
                  <div class="field-body">
                      <div class="field">
                          <div class="control">
                              [[ index+1 ]].
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <input class="input" type="text" v-model="invoice.name"
                                    :disabled="!['1', '2', '3'].includes(modaldata.status)">
                          </div>
                      </div>
                      <div class="field">
                          <div class="field has-addons">
                              <div class="control">
                                  <span class="select">
                                      <select v-model="invoice.currency" disabled>
                                          <option>TWD</option>
                                          <option>USD</option>
                                      </select>
                                  </span>
                              </div>
                              <div class="control">
                                  <input class="input" type="number" step="0.01" v-model.number="invoice.total"
                                  :disabled="!['1'].includes(modaldata.status)">
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <span class="select">
                                  <select v-model="invoice.status" :disabled="['4'].includes(modaldata.status)">
                                      <option value="not_send">還未寄出</option>
                                      <option value="sent">已寄出</option>
                                      <option value="no_invoice">無單據</option>
                                  </select>
                              </span>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <span class="select" :class="{'is-success': invoice.received, 'is-danger': !invoice.received}">
                                  <select v-model="invoice.received" disabled>
                                      <option value="false">還未收到</option>
                                      <option value="true">已收到</option>
                                  </select>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content">
                  <h4 class="mt-5">其他</h4>
              </div>
              <div class="field" v-if="modaldata.request != undefined">
                  <label class="label">期望出款時間</label>
                  <div class="control">
                      <input class="input" type="date" v-model="modaldata.request.paydate">
                  </div>
              </div>
              <div class="field" v-if="modaldata.request != undefined">
                  <label class="label">其他補充說明</label>
                  <div class="control">
                      <textarea class="textarea" type="text" v-model.trim="modaldata.request.desc"></textarea>
                  </div>
              </div>
              <div class="content">
                  <h4 class="mt-5">設定撥款資訊</h4>
              </div>
              <div class="field" v-if="modaldata.bank != undefined">
                  <div class="field-body">
                      <div class="field">
                          <label class="label">銀行代碼</label>
                          <div class="control">
                              <input class="input" type="text" v-model="modaldata.bank.code" required
                              :disabled="['2', '3', '4'].includes(modaldata.status)">
                          </div>
                          <p class="help is-success">銀行代碼</p>
                      </div>
                      <div class="field">
                          <label class="label">銀行帳號</label>
                          <div class="control">
                              <input class="input" type="text" v-model="modaldata.bank.no" required
                              :disabled="['2', '3', '4'].includes(modaldata.status)">
                          </div>
                          <p class="help is-success">銀行帳號</p>
                      </div>
                  </div>
              </div>
              <div class="field" v-if="modaldata.bank != undefined">
                  <div class="field-body">
                      <div class="field">
                          <label class="label">分行名稱</label>
                          <div class="control">
                              <input class="input" type="text" v-model="modaldata.bank.branch" required
                              :disabled="['2', '3', '4'].includes(modaldata.status)">
                          </div>
                          <p class="help is-success">例：新莊分行，也可以<a target="_blank" href="https://www.fisc.com.tw/tc/download/twd.txt">查詢</a>這張表。</p>
                      </div>
                      <div class="field">
                          <label class="label">戶名</label>
                          <div class="control">
                              <input class="input" type="text" v-model="modaldata.bank.name" required
                              :disabled="['2', '3', '4'].includes(modaldata.status)">
                          </div>
                          <p class="help is-success">帳戶名稱，通常是本名為戶名</p>
                      </div>
                  </div>
              </div>
              <div class="content">
                  <h4 class="mt-5">取消</h4>
              </div>
              <div class="field">
                  <div class="control">
                      <button class="button is-danger is-light is-outlined"
                             :disabled="!['1'].includes(modaldata.status)"
                          @click="remove" :class="{'is-loading': modaldata.is_loading}">
                          取消整份申請單
                      </button>
                  </div>
              </div>
          </section>
          <footer class="modal-card-foot">
              <button class="button" @click="close" :class="{'is-loading': modaldata.is_loading}">
                  取消編輯
              </button>
              <button class="button is-success"
                     @click="update" :class="{'is-loading': modaldata.is_loading}">
                  <span class="icon"><i class="far fa-save"></i></span>
                  <span>更新</span>
              </button>
          </footer>
      </div>
    </div>
    <!-- modal -->
        </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script src="{{ url_for('static', filename='buefy.min.js') }}"></script>
<script src="{{ url_for('static', filename='InvoiceList.js') }}"></script>
<script src="{{ url_for('static', filename='UserBadge.js') }}"></script>
<script src="{{ url_for('static', filename='ExpenseStatusLabel.js') }}"></script>
<script src="{{ url_for('static', filename='ExpenseTable.js') }}"></script>
<script src="{{ url_for('static', filename='DispenseTable.js') }}"></script>
<script>
    (function () {
        Vue.prototype.$buefy.config.setOptions({
            defaultIconPack: 'fas'
        })
        const STAND_ALONE_STATUS = ['1', '2']
        let $expensemy = new Vue({
            el: '#expensemy',
            data: {
                is_loading: false,
                modaldata: {show: false, total: 0},
                budgets: {},
                users: {},
                status: {},
                teams: [],
                items: [],
                dispenses: [],
                my_id: ''
            },
            computed: {
                stand_alone_expenses () {
                    // only return expense status in 已申請 & 審核中
                    return this.items
                        .filter(item => STAND_ALONE_STATUS.includes(item.status))
                        .sort((a, b) => a.status - b.status)
                },
                dispenses_by_status () {
                    return this.dispenses
                        .slice()
                        .sort((a, b) => a.status - b.status)
                },
                status_list () {
                    return Object
                        .entries(this.status)
                        .map(([code, label]) => {
                            return { code, label }
                        })
                        .sort((a, b) => a.code - b.code)
                }
            },
            mounted: function() {
                this.load();
            },
            methods: {
                create_expense: function() {
                    this.modaldata.show = true;
                    document.querySelector('html').classList.toggle('is-clipped');
                },
                close: function() {
                    this.modaldata = {show: false, total: 0};
                    document.querySelector('html').classList.toggle('is-clipped');
                },
                edit: function(item) {
                    this.modaldata = Object.assign({}, item, {show: true, total: 0});
                    document.querySelector('html').classList.toggle('is-clipped');
                },
                async remove () {
                    if (window.confirm('確定是否刪除？')) {
                        this.is_loading = true
                        await axios.post('./my', {casename: 'remove', eid: this.modaldata._id})
                        this.close()
                        this.load()
                        this.is_loading = false
                    }
                },
                async update () {
                    this.is_loading = true
                    await axios.post('./my', {casename: 'update',
                        eid: this.modaldata._id,
                        invoices: this.modaldata.invoices,
                        bank: this.modaldata.bank,
                        req: this.modaldata.request,
                    })
                    this.close()
                    this.load()
                },
                load: function() {
                    this.is_loading = true
                    axios.post('./my', {casename: 'get'}).then(function(resp) {
                        $expensemy.teams = resp.data.teams;
                        $expensemy.status = resp.data.status;
                        $expensemy.users = resp.data.users;
                        $expensemy.budgets = resp.data.budgets;
                        $expensemy.items = resp.data.items;
                        $expensemy.dispenses = resp.data.dispenses;
                        $expensemy.my_id = resp.data.my;
                        $expensemy.is_loading = false
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
