{% extends "base.html" %}
{% block head_title %} 預算申請列表{% endblock %}
{% block style %}
<style>
    .is-delete {
      text-decoration: line-through;
    }
    .button.is-filter {
        background: white;
        border-color: #888;
        color: #888;
    }
</style>
{% endblock %}
{% block body %}
<section class="hero is-info is-small">
  <div class="hero-body">
    <h1 class="title">
        Expense
    </h1>
    <p class="subtitle">管理預算申請列表</p>
  </div>
</section>
<section class="section">
  <div id="expense" class="container" v-cloak>
      <div class="columns">
          <div class="column">
            <div class="buttons">
                <expense-status-label
                    v-for="status in statusList"
                    :key="status.code"
                    role="button"
                    :class="get_status_filter_class(status)"
                    :status-code="status.code"
                    @click="filter_by_status(status)"
                ></expense-status-label>
            </div>
          </div>
          <div class="column">
              <div class="field is-grouped is-grouped-right">
                  <div class="buttons">
                      <button class="button is-loading" v-if="is_loading > 0"></button>
                      <a class="button" :href="'/budget/'+pid">
                          <span class="icon"><i class="fas fa-funnel-dollar"></i></span>
                          <span>預算表 [[pid]]</span>
                      </a>
                      <a class="button" :href="'./'+pid+'/dl'">
                          <span class="icon"><i class="fas fa-download"></i></span>
                          <span>下載資料（CSV）</span>
                      </a>
                      <a class="button is-info is-outlined" target="_blank" href="https://github.com/COSCUP/COSCUP-Volunteer/wiki/%E9%A0%90%E7%AE%97%E3%80%81%E7%B6%93%E8%B2%BB%E7%94%B3%E8%AB%8B%E6%B5%81%E7%A8%8B">
                          <span class="icon"><i class="far fa-question-circle"></i></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="block" v-if="isDispenseCreationVisible">
          <div class="notification" :class="{'is-warning': invalidDispenseReason, 'is-primary': !invalidDispenseReason}">
              <div class="is-flex is-justify-content-space-between is-align-items-center">
                  <p v-if="invalidDispenseReason">[[invalidDispenseReason]]</p>
                  <div class="is-flex is-align-items-center" v-else>
                      選擇了 [[selected_expense.length]] 筆申請單，共計
                      <span class="tags has-addons ml-1" v-for="invoice in costOfSelectedExpense">
                          <span class="tag is-info">[[ invoice.currency ]]</span>
                          <span class="tag is-success is-light">$[[ invoice.total.toLocaleString('en') ]]</span>
                      </span>
                  </div>
                  <button class="button" :disabled="!!invalidDispenseReason">製作出款單</button>
              </div>
          </div>
      </div>
      <div class="block">
          <table class="table is-fullwidth">
              <thead>
                  <tr>
                      <th v-if="isInReviewStatus">
                        <label class="checkbox">
                          <input
                            type="checkbox"
                            :checked="isAllExpenseSelected"
                            @input="toggle_all_expense"
                          >
                        </label>
                      </th>
                      <th>申請單號</th>
                      <th>狀態</th>
                      <th>預算編號</th>
                      <th>預算唯一編號</th>
                      <th>部門</th>
                      <th></th>
                      <th>申請人</th>
                      <th>金額</th>
                      <th>期望出款時間</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-if="visibleItems.length == 0">
                      <td colspan="9" class="has-text-centered">
                          <div class="message is-warning">
                            <div class="message-body">
                                <div class="is-flex is-align-items-center">
                                    <span class="icon"><i class="fas fa-info-circle"></i></span>
                                    目前沒有
                                    <expense-status-label :show-icon="false" :status-code="filter.statusCode" class="is-inline"></expense-status-label>
                                    的項目
                                </div>
                            </div>
                          </div>
                      </td>
                  </tr>
                  <tr
                    v-for="item, index in visibleItems" 
                    :class="{'is-delete': item.enabled === false, 'is-selected': is_expense_selected(item)}"
                  >
                      <td class="is-vcentered" v-if="isInReviewStatus">
                        <label class="checkbox">
                          <input
                            type="checkbox"
                            :checked="is_expense_selected(item)"
                            @input="toggle_expense(item)"
                          >
                        </label>
                      </td>
                      <td class="is-vcentered">
                          <p><span class="tag is-link is-light">[[ item.code ]]</span></p>

                          <p class="is-size-7">[[ new Date(item.create_at).toLocaleString() ]]</p>
                      </td>
                      <td class="is-vcentered">
                          <expense-status-label class="tag is-clickable" @click="edit(item, index)" :item="item"></expense-status-label>
                      </td>
                      <td class="is-vcentered">
                          <span class="tag is-dark">[[ budgets[item.request.buid].bid ]]</span>
                          <span><a @click="edit(item, index)">[[ budgets[item.request.buid].name ]]</a></span>
                      </td>
                      <td class="is-vcentered">
                          <span class="tag is-success is-light">[[ item.request.code ]]</span>
                      </td>
                      <td class="is-vcentered">[[ item.tid ]]</td>
                      <td class="is-vcentered">
                          <a :href="'/user/'+ item.create_by">
                              <figure class="image is-32x32"><img class="is-rounded" :src="users[item.create_by].oauth['picture']"></figure>
                          </a>
                      </td>
                      <td class="is-vcentered">
                          <a :href="'/user/'+ item.create_by">
                              [[ users[item.create_by].profile.badge_name ]]
                          </a>
                      </td>
                      <td class="is-vcentered">
                          <div class="field is-grouped is-grouped-multiline">
                              <div class="control">
                                  <div class="tags has-addons">
                                      <span class="tag is-dark"><span class="icon"><i class="fas fa-file-invoice-dollar"></i></span></span>
                                      <span class="tag is-link is-light">[[ item.invoices.length ]]</span>
                                  </div>
                              </div>
                              <div class="control" v-for="invoice in item.invoices">
                                  <div class="tags has-addons">
                                      <span class="tag is-info">[[ invoice.currency ]]</span>
                                      <span class="tag is-success is-light">$[[ invoice.total.toLocaleString('en') ]]</span>
                                  </div>
                              </div>
                          </div>
                      </td>
                      <td class="is-vcentered">[[ item.request.paydate ]]</td>
                  </tr>
              </tbody>
          </table>
      </div>
    <!-- modal -->
    <div class="modal" :class="{'is-active': modaldata.show}" v-if="modaldata.request != undefined">
      <div class="modal-background"></div>
      <div class="modal-card">
          <header class="modal-card-head">
              <p class="modal-card-title">申請項目 - [[ budgets[modaldata.request.buid].name ]] </p>
              <button class="delete" aria-label="close" @click="close"></button>
          </header>
          <section class="modal-card-body">
              <div class="content">
                  <div class="content">
                      <h4>預算表資訊</h4>
                      <table class="table is-bordered is-narrow is-striped">
                          <thead>
                              <tr>
                                  <th>項目</th>
                                  <th>名稱</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>預算表編號</td>
                                  <td><span class="tag is-dark">[[ budgets[modaldata.request.buid].bid ]]</span></td>
                              </tr>
                              <!--
                              <tr>
                                  <td>組別 / 預算建立者</td>
                                  <td>
                                      <div class="field-body">
                                          <div class="field">
                                              <span class="select is-small">
                                                  <select v-model="modaldata.tid" disabled>
                                                      <option v-for="team in teams" :value="team.tid">[[ team.name ]]</option>
                                                  </select>
                                              </span>
                                          </div>
                                          <div class="filed">
                                              <input class="input is-small" type="text" v-model="modaldata.uid" disabled>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              -->
                              <tr>
                                  <td>預算名稱</td>
                                  <td>[[ budgets[modaldata.request.buid].name ]]</td>
                              </tr>
                              <tr>
                                  <td>預算總金額</td>
                                  <td><span class="tag">[[ budgets[modaldata.request.buid].currency ]]</span>
                                      <span>$[[ budgets[modaldata.request.buid].total.toLocaleString('en') ]]</span></td>
                              </tr>
                              <tr>
                                  <td>預計支出時間</td>
                                  <td>[[ budgets[modaldata.request.buid].paydate ]]</td>
                              </tr>
                              <tr>
                                  <td>說明</td>
                                  <td>[[ budgets[modaldata.request.buid].desc ]]</td>
                              </tr>
                              <tr>
                                  <td>估算方式</td>
                                  <td>[[ budgets[modaldata.request.buid].estimate ]]</td>
                              </tr>
                              <tr>
                                  <td>唯一編號</td>
                                  <td><span class="tag">[[ modaldata.code ]]</span></td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="content" v-if="modaldata.relevant_code.length > 0">
                          <h4>與其他申請單有關聯</h4>
                          <div class="tags">
                              <span class="tag is-link is-light" v-for="relevant in modaldata.relevant_code">[[ relevant ]]</span>
                          </div>
                      </div>
                      <div class="content">
                          <h4>請款狀態</h4>
                          <div class="select">
                              <select v-model="modaldata.status">
                                  <option v-for="status in statusList" :key="status.code" :value="status.code">
                               [[ status.label ]]
                                  </option>
                              </select>
                          </div>
                      </div>
                      <div class="content">
                          <h4>請款說明</h4>
                          <p v-if="modaldata.request != undefined">
                              [[ modaldata.request.desc ]]
                          </p>
                      </div>
                      <div class="content">
                          <h4>單據</h4>
                          <table class="table is-narrow is-hoverable">
                              <thead>
                                  <tr>
                                      <th>名稱</th>
                                      <th class="has-text-right">金額</th>
                                      <th>狀態</th>
                                      <th class="has-text-centered">已確認收到</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="invoice in modaldata.invoices">
                                      <td>[[ invoice.name ]]</td>
                                      <td class="has-text-right is-family-monospace">
                                          [[ invoice.currency ]] $[[ invoice.total.toLocaleString('en') ]]
                                      </td>
                                      <td>
                                          <span v-if="invoice.status === 'not_send'" class="tag is-warning">還未寄出</span>
                                          <span v-if="invoice.status === 'sent'" class="tag is-success is-light">已寄出</span>
                                          <span v-if="invoice.status === 'no_invoice'" class="tag is-info is-light">無單據</span>
                                      </td>
                                      <td class="has-text-centered">
                                          <label class="checkbox">
                                              <input type="checkbox" v-model="invoice.received">
                                          </label>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="content" v-if="modaldata.bank">
                          <h4>匯款資訊</h4>
                          <ul>
                              <li>銀行代碼：<span class="is-family-monospace">[[ modaldata.bank.code ]]</span></li>
                              <li>銀行帳號：<span class="is-family-monospace">[[ modaldata.bank.no ]]</span></li>
                              <li>分行名稱：[[ modaldata.bank.branch ]]</li>
                              <li>戶名：[[ modaldata.bank.name ]]</li>
                          </ul>
                      </div>
                      <div class="content">
                          <h4>申請單狀態</h4>
                          <div class="select">
                              <select v-model="modaldata.enable">
                                  <option :value='true'>可使用</option>
                                  <option :value='false'>已刪除</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </div>
              <form @submit.prevent="to_update">
                  <div class="field">
                      <div class="control">
                          <button class="button is-link" type="submit" :class="{'is-loading': modaldata.is_loading}">
                              更新
                          </button>
                          <button class="button is-warning" @click="close" :class="{'is-loading': modaldata.is_loading}">取消</button>
                      </div>
                  </div>
              </form>
          </section>
          <footer class="modal-card-foot">
          </footer>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script src="{{ url_for('static', filename='ExpenseStatusLabel.js') }}"></script>
<script>
    (function () {
        let $expense = new Vue({
            el: '#expense',
            data () {
                return {
                    pid: '{{ project._id }}',
                    teams: [],
                    modaldata: {show: false},
                    default_modaldata: {show: false, is_loading: 0},

                    items: [],
                    budgets: {},
                    users: {},
                    status: {},
                    is_loading: 0,
                    filter: {
                        statusCode: '1'
                    },
                    // for 審核中 filter
                    selected_expense: []
                }
            },
            mounted: function() {
                this.load();
            },
            computed: {
                isInReviewStatus () {
                    return this.filter.statusCode === this.statusLabelMap.審核中
                },
                invalidDispenseReason () {
                    if (!this.isDispenseCreationVisible) {
                        return ''
                    }

                    // only one bank account
                    const bank_accounts = new Set()
                    this.selected_expense.forEach(({ bank }) => {
                        const unique_bank_str = `${bank.code}-${bank.no}`
                        bank_accounts.add(unique_bank_str)
                    })

                    if (bank_accounts.size > 1) {
                        const bank_str = [...bank_accounts].join('、')
                        return `申請單中包含了 ${bank_accounts.size} 組銀行帳號： ${bank_str}，無法合併至一張出款單。請調整申請單內容，或取消選取不同帳戶的申請單。`
                    }

                    return ''
                },
                isDispenseCreationVisible () {
                    return this.selected_expense.length > 0
                },
                isAllExpenseSelected () {
                    // selected_expense will be reset every time when visibleItems changed
                    return this.visibleItems.length === this.selected_expense.length
                },
                costOfSelectedExpense () {
                    const totalCost = this.selected_expense.reduce((cost, expense) => {
                        expense.invoices.forEach(({ currency, total }) => {
                            if (!cost[currency]) {
                                cost[currency] = 0
                            }
                            cost[currency] += total
                        })
                        return cost
                    }, {})

                    return Object.entries(totalCost).map(([currency, total]) => {
                        return { currency, total }
                    })
                },
                statusList () {
                    return Object
                        .entries(this.status)
                        .map(([code, label]) => {
                            return { code, label }
                        })
                        .sort((a, b) => a.code - b.code)
                },
                statusLabelMap () {
                    return Object
                        .entries(this.status)
                        .reduce((map, [code, label]) => {
                            map[label] = code
                            return map
                        }, {})
                },
                visibleItems () {
                    return this.items.filter(item => item.status === this.filter.statusCode)
                }
            },
            watch: {
                visibleItems () {
                    this.reset_page_state()
                }
            },
            methods: {
                is_expense_selected (expense) {
                    return this.selected_expense.indexOf(expense) >= 0
                },
                toggle_expense (expense) {
                    const index = this.selected_expense.indexOf(expense)
                    if (index >= 0) {
                        this.selected_expense.splice(index, 1)
                    } else {
                        this.selected_expense.push(expense)
                    }
                },
                toggle_all_expense () {
                    if (this.isAllExpenseSelected) {
                        this.selected_expense = []
                    } else {
                        this.selected_expense = this.visibleItems.slice()
                    }
                },
                reset_page_state () {
                    this.selected_expense = []
                },
                get_status_filter_class (status) {
                    const ret = ['button', 'is-filter']
                    if (this.filter.statusCode === status.code) {
                        ret.push('is-active')
                    }
                    return ret
                },
                filter_by_status (status) {
                    this.filter.statusCode = status.code
                },
                create_budget: function() {
                    this.modaldata.show = true;
                    document.querySelector('html').classList.toggle('is-clipped');
                },
                to_update: function() {
                    ++this.modaldata.is_loading;

                    axios.post('./'+this.pid, {casename: 'update', data: this.modaldata}).then(function(resp) {
                        $expense.items[$expense.modaldata._index] = Object.assign({}, resp.data.result);
                        --$expense.modaldata.is_loading;
                        $expense.close();
                    });
                },
                close: function() {
                    this.modaldata = Object.assign({}, this.default_modaldata);
                    document.querySelector('html').classList.toggle('is-clipped');
                },
                edit: function(item, index) {
                    this.modaldata = Object.assign({}, item, {is_edit: true, _index: index});
                    this.create_budget();
                },
                async load () {
                    ++this.is_loading;
                    const resp = await axios.post('./'+this.pid, {casename: 'get'})
                    axios.post('/dispense/'+this.pid, {casename: 'get'})

                    this.items = resp.data.datas;
                    this.budgets = resp.data.budgets;
                    this.users = resp.data.users;
                    this.status = resp.data.status;

                    --this.is_loading;
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
