{% extends "base.html" %}
{% block head_title %} 預算申請列表{% endblock %}
{% block style %}
<style>
    .is-delete {
      text-decoration: line-through;
    }
    .button.is-filter {
        background: white;
        border-color: #888;
        color: #888;
    }
    .disabled-table.content {
        margin-top: 2rem;
    }

    .disabled-table.content .table {
        opacity: 0.75;
        color: #999;
    }
</style>
{% endblock %}
{% block body %}
<link href="{{ url_for('static', filename='expense-component.css') }}" rel="stylesheet">
<section class="hero is-info is-small">
  <div class="hero-body">
    <h1 class="title">
        Expense
    </h1>
    <p class="subtitle">管理預算申請列表</p>
  </div>
</section>
<section class="section">
  <div id="expense" class="container" v-cloak>
      <div class="columns">
          <div class="column">
            <div class="buttons">
                <expense-status-label
                    v-for="status in status_list"
                    :key="status.code"
                    role="button"
                    :class="get_status_filter_class(status)"
                    :status-code="status.code"
                    @click="filter_by_status(status)"
                ></expense-status-label>
            </div>
          </div>
          <div class="column">
              <div class="field is-grouped is-grouped-right">
                  <div class="buttons">
                      <button class="button is-loading" v-if="is_loading"></button>
                      <a class="button" :href="'/budget/'+pid">
                          <span class="icon"><i class="fas fa-funnel-dollar"></i></span>
                          <span>預算表 [[pid]]</span>
                      </a>
                      <a class="button" :href="'./'+pid+'/dl'">
                          <span class="icon"><i class="fas fa-download"></i></span>
                          <span>下載資料（CSV）</span>
                      </a>
                      <a class="button" :href="'/dispense/'+pid+'/dl'">
                          <span class="icon"><i class="fas fa-download"></i></span>
                          <span>匯出出款單（CSV）</span>
                      </a>
                      <a class="button is-info is-outlined" target="_blank" href="https://github.com/COSCUP/COSCUP-Volunteer/wiki/%E9%A0%90%E7%AE%97%E3%80%81%E7%B6%93%E8%B2%BB%E7%94%B3%E8%AB%8B%E6%B5%81%E7%A8%8B">
                          <span class="icon"><i class="far fa-question-circle"></i></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="block" v-if="is_table_empty">
        <div class="notification is-primary">
            <span v-if="is_loading"> 申請單/出款單讀取中 </span>
            <span v-else> 這類申請單/出款單被吃光光了 😐 </span>
        </div>
      </div>
      <div class="block" v-if="is_dispense_creation_visible">
          <div class="notification" :class="{'is-warning': invalid_dispense_reason, 'is-primary': !invalid_dispense_reason}">
              <div class="is-flex is-justify-content-space-between is-align-items-center">
                  <p v-if="invalid_dispense_reason">[[invalid_dispense_reason]]</p>
                  <div class="is-flex is-align-items-center" v-else>
                      選擇了 [[selected_expenses.length]] 筆申請單，共計
                      <span class="tags has-addons ml-1" v-for="invoice in cost_of_selected_expense">
                          <span class="tag is-info">[[ invoice.currency ]]</span>
                          <span class="tag is-success is-light">$[[ invoice.total.toLocaleString() ]]</span>
                      </span>
                  </div>
                  <button class="button" :disabled="!!invalid_dispense_reason" @click="start_preparing_dispense">製作出款單</button>
              </div>
          </div>
      </div>
      <div class="block" v-if="should_show_dispense">
        <dispense-table
            v-if="enabled_dispenses.length"
            :pid="pid"
            :all-expenses="items"
            :dispenses="enabled_dispenses"
            :budgets="budgets"
            :users="users"
            :status-list="status_list"
            @update="load"
            @edit-expense="start_edit_expense"
        ></dispense-table>
        <div class="content disabled-table" v-if="disabled_dispenses.length">
            <h3>已刪除的出款單</h3>
            <dispense-table
                :pid="pid"
                :all-expenses="items"
                :dispenses="disabled_dispenses"
                :budgets="budgets"
                :users="users"
                :status-list="status_list"
                @update="load"
                @edit-expense="start_edit_expense"
            ></dispense-table>
        </div>
      </div>
      <div class="block" v-else>
          <expense-table
            v-if="enabled_expenses.length"
            :expenses="enabled_expenses"
            :is-selectable="is_in_review_status"
            :is-loading="is_loading"
            :budgets="budgets"
            :users="users"
            :selected-expense.sync="selected_expenses"
            @edit="start_edit_expense"
          ></expense-table>
          <div class="content disabled-table" v-if="disabled_expenses.length">
            <h3>已刪除的出款單</h3>
            <expense-table
              :expenses="disabled_expenses"
              :is-selectable="is_in_review_status"
              :is-loading="is_loading"
              :budgets="budgets"
              :users="users"
              :selected-expense.sync="selected_expenses"
              @edit="start_edit_expense"
            ></expense-table>
          </div>
      </div>
    <expense-editor
      :pid="pid"
      :expense="expense_to_edit"
      :budgets="budgets"
      :users="users"
      :teams="teams"
      :status-list="status_list"
      @update="load"
      @close="expense_to_edit = null"
    ></expense-editor>
    <dispense-editor
      :pid="pid"
      :all-expenses="items"
      :dispense="dispense_to_create"
      :budgets="budgets"
      :users="users"
      :status-list="status_list"
      :is-create="true"
      @update="load"
    ></dispense-editor>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script src="{{ url_for('static', filename='buefy.min.js') }}"></script>
<script src="{{ url_for('static', filename='dayjs.min.js') }}"></script>
<script src="{{ url_for('static', filename='InvoiceList.js') }}"></script>
<script src="{{ url_for('static', filename='UserBadge.js') }}"></script>
<script src="{{ url_for('static', filename='ExpenseStatusLabel.js') }}"></script>
<script src="{{ url_for('static', filename='ExpenseTable.js') }}"></script>
<script src="{{ url_for('static', filename='ExpenseEditor.js') }}"></script>
<script src="{{ url_for('static', filename='DispenseEditor.js') }}"></script>
<script src="{{ url_for('static', filename='DispenseTable.js') }}"></script>
<script>
    (function () {
        Vue.prototype.$buefy.config.setOptions({
            defaultIconPack: 'fas'
        })
        let $expense = new Vue({
            el: '#expense',
            data () {
                return {
                    pid: '{{ project._id }}',
                    teams: [],

                    items: [],
                    dispenses: [],
                    budgets: {},
                    users: {},
                    status: {},
                    is_loading: false,
                    filter: {
                        status_code: '1'
                    },
                    // for 審核中 filter
                    selected_expenses: [],

                    // for expense modal
                    expense_to_edit: null,

                    // for 審核中 modal
                    dispense_to_create: null
                }
            },
            computed: {
                should_show_dispense () {
                    const dispense_view = [
                        this.status_label_map.出款中,
                        this.status_label_map.已出款,
                        this.status_label_map.已完成
                    ]
                    return dispense_view.includes(this.filter.status_code) && this.dispenses.length
                        
                },
                visible_dispenses () {
                    return this.dispenses.filter(dispense => dispense.status === this.filter.status_code)
                },
                enabled_dispenses () {
                    return this.visible_dispenses.filter(dispense => dispense.enable)
                },
                disabled_dispenses () {
                    return this.visible_dispenses.filter(dispense => !dispense.enable)
                },
                is_in_review_status () {
                    return this.filter.status_code === this.status_label_map.審核中
                },
                invalid_dispense_reason () {
                    if (!this.is_dispense_creation_visible) {
                        return ''
                    }

                    // only one bank account
                    const bank_accounts = new Set()
                    this.selected_expenses.forEach(({ bank }) => {
                        const unique_bank_str = `${bank.code}-${bank.no}`
                        bank_accounts.add(unique_bank_str)
                    })

                    if (bank_accounts.size > 1) {
                        const bank_str = [...bank_accounts].join('、')
                        return `申請單中包含了 ${bank_accounts.size} 組銀行帳號： ${bank_str}，無法合併至一張出款單。請調整申請單內容，或取消選取不同帳戶的申請單。`
                    }

                    return ''
                },
                is_dispense_creation_visible () {
                    return this.selected_expenses.length > 0
                },
                cost_of_selected_expense () {
                    const totalCost = this.selected_expenses.reduce((cost, expense) => {
                        expense.invoices.forEach(({ currency, total }) => {
                            if (!cost[currency]) {
                                cost[currency] = 0
                            }
                            cost[currency] += total
                        })
                        return cost
                    }, {})

                    return Object.entries(totalCost).map(([currency, total]) => {
                        return { currency, total }
                    })
                },
                status_list () {
                    return Object
                        .entries(this.status)
                        .map(([code, label]) => {
                            return { code, label }
                        })
                        .sort((a, b) => a.code - b.code)
                },
                status_label_map () {
                    return Object
                        .entries(this.status)
                        .reduce((map, [code, label]) => {
                            map[label] = code
                            return map
                        }, {})
                },
                visible_expenses () {
                    return this.items.filter(item => item.status === this.filter.status_code)
                },
                enabled_expenses () {
                    return this.visible_expenses.filter(item => item.enable)
                },
                disabled_expenses () {
                    return this.visible_expenses.filter(item => !item.enable)
                },
                is_table_empty () {
                    if (this.is_loading) {
                        return true
                    }
                    if (this.should_show_dispense) {
                        return !this.visible_dispenses.length
                    } else {
                        return !this.visible_expenses.length
                    }
                }
            },
            mounted: function() {
                this.load();
            },
            methods: {
                start_preparing_dispense () {
                    this.dispense_to_create = {
                        expense_ids: this.selected_expenses.map(exp => exp._id),
                        // default dispense 10 days later
                        dispense_date: dayjs().add(10, 'days').format('YYYY-MM-DD')
                    }
                },
                get_status_filter_class (status) {
                    const ret = ['button', 'is-filter']
                    if (this.filter.status_code === status.code) {
                        ret.push('is-active')
                    }
                    return ret
                },
                filter_by_status (status) {
                    this.filter.status_code = status.code
                },
                start_edit_expense (expense) {
                    this.expense_to_edit = expense
                },
                async load () {
                    this.is_loading = true;
                    const resp = await axios.post('./'+this.pid, {casename: 'get'})
                    const dispenseResp = await axios.post('/dispense/'+this.pid, {casename: 'get'})

                    this.items = resp.data.datas;
                    this.dispenses = dispenseResp.data.datas
                    this.budgets = resp.data.budgets;
                    this.users = resp.data.users;
                    this.status = resp.data.status;

                    this.is_loading = false;
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
