{% extends "form.html" %}
{% block head_title_form %}停車券{% endblock %}
{% block head_subtitle %}台科大停車券{% endblock %}
{% block form_menu_parking_card%}is-active{% endblock %}
{% block form_body %}
<div class="columns">
    <div class="column is-three-fifths">
        <article class="message is-info">
            <div class="message-body">
                臺科大停車已委外經營，詳細的停車辦法可以參考「<a href="https://www.general.ntust.edu.tw/var/file/54/1054/img/1986/198952929.pdf">停車場委外經營管理作業要點</a>」
            </div>
        </article>
    </div>
</div>
{% endblock %}