{% extends "form.html" %}
{% block head_title_form %}衣服尺寸{% endblock %}
{% block head_subtitle %}衣服的大小，活動日穿著{% endblock %}
{% block form_menu_clothes%}is-active{% endblock %}
{% block style %}
<link href="{{ url_for('static', filename='forms.css') }}" rel="stylesheet">
{% endblock %}
{% block form_body %}
<div class="columns">
    <div id="clothesform" class="column is-three-fifths" v-cloak>
        {% if not project.formswitch.clothes %}
        <article class="message is-warning">
            <div class="message-body">
                <span class="icon has-text-info"><i class="fas fa-exclamation-triangle"></i></span>
                目前已停止申請，如有任何需求請聯繫行政組。
            </div>
        </article>
        {% endif %}
        <form @submit.prevent="submit">
            <div class="field">
                <div class="control">
                    <table class="table is-narrow is-hoverable">
                        <thead>
                            <th>選擇</th>
                            <th>尺寸</th>
                            <th>胸寬</th>
                            <th>衣長</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="XS"></label>
                                </td>
                                <td>XS</td>
                                <td>44</td>
                                <td>64</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="S"></label>
                                </td>
                                <td>S</td>
                                <td>47</td>
                                <td>67</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="M"></label>
                                </td>
                                <td>M</td>
                                <td>50</td>
                                <td>70</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="L"></label>
                                </td>
                                <td>L</td>
                                <td>53</td>
                                <td>73</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="XL"></label>
                                </td>
                                <td>XL</td>
                                <td>56</td>
                                <td>75</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="2XL"></label>
                                </td>
                                <td>2XL</td>
                                <td>59</td>
                                <td>77</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="3XL"></label>
                                </td>
                                <td>3XL</td>
                                <td>63</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="4XL"></label>
                                </td>
                                <td>4XL</td>
                                <td>66</td>
                                <td>83</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="5XL"></label>
                                </td>
                                <td>5XL</td>
                                <td>71</td>
                                <td>86</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" v-model="size" value="6XL"></label>
                                </td>
                                <td>6XL</td>
                                <td>76</td>
                                <td>86</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="field" v-if="submit_size.length > 0">
                <div class="control">
                    目前收到的資料：[[ submit_size ]]
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">送出</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script src="{{ url_for('static', filename='buefy.min.js') }}"></script>
<script>
    (function() {
        let $clothesform = new Vue({
            el: '#clothesform',
            data: {
                debug: null,
                size: '',
                submit_size: '',
                htg: ''
            },
            mounted: function() {
                this.load();
            },
            watch: {
                size: function(newsize) {
                    Vue.prototype.$buefy.snackbar.open({
                        message: `尺寸容許範圍 +-2cm`,
                        type: 'is-info',
                        position: 'is-top',
                    })
                }
            },
            methods: {
                load: function() {
                    let $this = this;
                    axios.post('./clothes', {casename: 'get'}).then(function(resp) {
                        $this.htg = resp.data.htg;
                        $this.size = resp.data.clothes;
                        $this.submit_size = resp.data.clothes;
                    });
                },
                submit: function($e) {
                    let $btn = $e.target.querySelector('.button');
                    $btn.classList.add('is-loading');

                    let $this = this;
                    axios.post('./clothes', {casename: 'post', clothes: this.size,
                                             htg: this.htg}).then(function(resp) {
                        $this.load();
                        $btn.classList.remove('is-loading');
                        Vue.prototype.$buefy.snackbar.open({
                            message: `已送出衣服尺寸：${$this.size}`,
                            position: 'is-top',
                        })
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
