{% extends "form.html" %}
{% block head_title_form %}住宿申請{% endblock %}
{% block head_subtitle %}住宿申請{% endblock %}
{% block form_menu_accommodation %}is-active{% endblock %}
{% block form_body %}
<div class="columns">
    <div class="column is-three-fifths">
        {% if not project.formswitch.accommodation %}
        <article class="message is-warning">
            <div class="message-body">
                <span class="icon has-text-info"><i class="fas fa-exclamation-triangle"></i></span>
                目前已停止申請，如有任何需求請聯繫行政組。
            </div>
        </article>
        {% endif %}
        <article class="message">
            <div class="message-body">
                <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                以來自外縣市的夥伴為主，但如果妳的通勤時間特殊，會超過一個小時，也可以申請。
                如有任何住宿問題，請聯繫行政組或是 <a href="mailto:secretary@coscup.org">secretary@coscup.org</a>.
            </div>
        </article>
        {% if is_ok_submit %}
        <section class="section" id="accommodationform" v-cloak>
            <form v-on:submit.prevent="send">
                <div class="field" v-clock>
                    <div class="control">
                        <label class="label">我需要申請住宿？</label>
                        <div class="select">
                            <select name="accommodation" v-model="raw.selected">
                                <option value="no">我不需要住宿(No)</option>
                                <option value="yes">我需要住宿(Yes)</option>
                                <option value="yes-longtraffic">我需要住宿，且通勤時間大於一小時(Yes)</option>
                            </select>
                        </div>
                    </div>
                    <p class="help is-info">
                        住宿地點：西門窩青年旅舍 - 台北市萬華區漢中街42號8樓<br>
                        備註：7/28, 7/29 二晚，7/30 早上退房。
                    </p>
                </div>
                <div class="field" v-if="raw.selected != 'no'" disabled>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="raw.mixed">
                            可接受青年旅舍混宿房型
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">送出申請</button>
                    </div>
                </div>
            </form>
            <div class="container my-5" v-if="Object.keys(room).length == 0">
                <article class="message">
                    <div class="message-body">
                        <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                        提出申請後稍等行政組分配房間。
                    </div>
                </article>
            </div>
            <div class="container my-5" v-if="Object.keys(room).length > 0">
                <h3 class="is-size-4">住宿資訊</h3>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody v-cloak>
                        <tr>
                            <td>住宿地點</td>
                            <td>西門窩青年旅舍 - 台北市萬華區漢中街42號8樓<br>
                                <small>（Check-in：17:00，check-in 時說是<span class="tag is-success is-light">COSCUP</span>或<span class="tag is-success is-light">開源人年會</span>）</small></td>
                        </tr>
                        <tr>
                            <td>住宿時間</td>
                            <td>
                                <span class="tag is-info is-light">7/28(晚)</span>
                                <span class="tag is-info is-light">7/29(晚)</span>
                                <span class="tag is-danger is-light">7/30(早上退宿)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>交通車</td>
                            <td>
                                <span>西門窩青年旅舍 → 臺科大</span>
                                <span class="tag is-link is-light">06:30</span>
                                <span class="tag is-link is-light">06:45</span>
                                <span>上車地點在中華路一段144巷口，要提早離開並移動</span>
                            </td>
                        </tr>
                        <tr>
                            <td>床位編號</td>
                            <td><span class="is-family-monospace">[[room.no]]</span><br>
                                注意事項：
                                <ul>
                                    <li>◎ 請依分配的床位入住，勿私自更換位置，並在活動期間、包含住宿期間遵守大會的社群守則</li>
                                    <li>◎ 衛浴 6 間，大家要抓好時間盥洗避免塞車</li>
                                    <li>◎ 「不提供」毛巾、牙刷（會有沐浴乳、洗髮乳）</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>室友</td>
                            <td v-if="Object.keys(room.mate).length > 0" style="vertical-align:middle;">
                                <div style="display: inline-flex;">
                                    <a :href="'/user/'+room.mate.uid" style="display:inherit;">
                                        <figure class="image is-32x32">
                                            <img class="is-rounded" v-bind:src="room.mate.picture">
                                        </figure>
                                        <p class="ml-2" style="margin: auto 0;">[[room.mate.name]]</p>
                                    </a>
                                </div>
                            </td>
                            <td v-if="Object.keys(room.mate).length === 0">
                                無室友
                            </td>
                        </tr>
                        <tr>
                            <td>交換代碼</td>
                            <td>
                                <span class="tag is-info is-light is-family-monospace has-text-weight-bold">[[room.key]]</span>
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <a @click="inputkey"
                                    class="button is-small is-warning is-light is-family-monospace has-text-weight-bold">[[room.exkey ? room.exkey: '?']]</a>
                                <a @click="makechange" v-if="disabled"
                                    class="button is-small is-info is-light">送出</a>
                                <span class="tag is-danger is-light">今年不適用！</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <article class="message">
                    <div class="message-body">
                        <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                        <del>如果要與他人同房，請將 <span class="tag is-info is-light is-family-monospace has-text-weight-bold">[[room.key]]</span> 給對方，並索取對方的「交換代碼」一同輸入後，最後一個輸入的人，完成檢查就會進行調整同房的程序。</del>
                    </div>
                </article>
            </div>
        </section>
        {% else %}
        <article class="message is-small is-warning">
            <div class="message-body">
                <span class="icon has-text-info"><i class="fas fa-exclamation-triangle"></i></span>
                入住時須出示身份證比對姓名，請到<a href="/setting/profile_real">設定→真實資料</a>完成<strong>「姓名」</strong>、<strong>「身分證字號」</strong>後才可以申請住宿。請放心，你的姓名資料不會在其他公開場合出現或被使用。
            </div>
        </article>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
{% if is_ok_submit %}
<script src="/js/axios.min.js"></script>
<script>
    (function() {
        let $accommodationform = new Vue({
            el: '#accommodationform',
            data: {
                raw: {selected: 'no', mixed: true},
                disabled: false,
                room: {}
            },
            mounted: function() {
                this.load();
            },
            methods: {
                inputkey: function($e) {
                    let metakey = window.prompt('請輸入對方的交換代碼...', this.room.exkey);
                    if (metakey === null) {
                        return ;
                    }
                    this.room.exkey = metakey;
                    if (this.room.exkey != '') {
                        this.disabled = true;
                    }
                },
                makechange: function($e) {
                    axios.post('./accommodation', {'casename': 'makechange', 'key': this.room.exkey}).then(function(resp) {
                        alert(resp.data.msg);
                        window.location.href = './accommodation';
                    });
                },
                load: function($e) {
                    axios.post('./accommodation', {'casename': 'get'}).then(function(resp) {
                        $accommodationform.raw = resp.data.data;
                        $accommodationform.room = resp.data.room;
                    });
                },
                send: function($e) {
                    axios.post('./accommodation', {'casename': 'update',
                                                    selected: this.raw.selected,
                                                    mixed: this.raw.mixed}).then(function(resp) {
                        alert('已更新！');
                    }).catch(function(resp){
                        alert('無法送出！')
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endif %}
{% endblock %}
