{% extends "form.html" %}
{% block head_title_form %}感謝狀申請{% endblock %}
{% block head_subtitle %}感謝狀申請{% endblock %}
{% block form_menu_appreciation %}is-active{% endblock %}
{% block form_body %}
<div class="columns">
    <div class="column is-three-fifths">
        <form id="appreciationform" method="POST">
            {% if not project.formswitch.appreciation %}
            <div class="field">
                <article class="message is-warning">
                    <div class="message-body">
                        <span class="icon has-text-info"><i class="fas fa-exclamation-triangle"></i></span>
                        目前已停止申請，如有任何需求請聯繫行政組。
                    </div>
                </article>
            </div>
            {% endif %}
            <div class="field">
                <div class="control">
                    <label class="label">感謝狀</label>
                    <div class="select">
                        <select name="appreciation" v-bind:value="'{{select_value}}'">
                            <option value="no">否(No)</option>
                            {% for v in names%}
                            <option value="{{v[0]}}">是(Yes)，使用「{{v[1]}}」</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="help is-success">選擇要列印的名稱</p>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">送出申請</button>
                </div>
            </div>
            <div class="field">
                <article class="message is-small">
                    <div class="message-body">
                        <span class="icon has-text-info"><i class="fas fa-exclamation-triangle"></i></span>
                        如要使用真實姓名，請到<a href="/setting/profile_real">設定→真實資料</a>完成「姓名」。
                    </div>
                </article>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    (function () {
        let $appreciationform = new Vue({
            el: '#appreciationform',
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
