{% extends "base.html" %}
{% block head_title %}申請專區 {%block head_title_form%}{%endblock%} [{{project.name}} / {{team.name}}]{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        申請專區
    </h1>
    <p class="subtitle">{%block head_subtitle%}{%endblock%}</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
			  <aside class="menu">
			    <ul class="menu-list">
                    <li>
                        <a class="button is-info is-small is-light" href="/team/{{team.pid}}/{{team.tid}}/">
                            <span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
                            <span>回 {{team.name}}</span>
                        </a>
                    </li>
			    </ul>
                <p class="menu-label">相關申請專區</p>
                <ul class="menu-list">
                    <li>
                        <a class="{%block form_menu_drink%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/drink">
                            <span class="icon"><i class="fas fa-cocktail"></i></span>
                            <span>理性飲酒聲明</span>
                        </a>
                    </li>
                    <li>
                        <a class="{%block form_menu_clothes%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/clothes">
                            <span class="icon"><i class="fas fa-ruler"></i></span>
                            <span>衣服尺寸</span>
                        </a>
                    </li>
                    <li>
                        <a class="{%block form_menu_accommodation%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/accommodation">
                            <span class="icon"><i class="fas fa-bed"></i></span>
                            <span>活動日住宿</span>
                        </a>
                    </li>
                    <li>
                        <a class="{%block form_menu_traffic_fee%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/traffic_fee">
                            <span class="icon"><i class="fas fa-subway"></i></span>
                            <span>交通費補助</span>
                        </a>
                    </li>
                    <li>
                        <a class="{%block form_menu_volunteer_certificate%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/volunteer_certificate">
                            <span class="icon"><i class="fas fa-certificate"></i></span>
                            <span>志工時數證明</span>
                        </a>
                    </li>
                    <li>
                        <a class="{%block form_menu_appreciation%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/appreciation">
                            <span class="icon"><i class="fas fa-hand-holding-heart"></i></span>
                            <span>感謝狀申請</span>
                        </a>
                    </li>
                    <li>
                        <a class="{%block form_menu_parking_card%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/form/parking_card">
                            <span class="icon"><i class="fas fa-parking"></i></span>
                            <span>停車卡申請</span>
                        </a>
                    </li>
                </ul>
			  </aside>
          </div>
          <div class="column">
              {% block form_body %}{% endblock %}
          </div>
      </div>
  </div>
</section>
{% endblock %}
