{% extends "base.html" %}
{% block head_title %}Index{% endblock %}
{% block style %}
<style>
  .tophero {
      background-position: center;
      background-repeat:  no-repeat;
      background-size:  cover;
      background-image: url('https://volunteer.coscup.org/img/index_skiseiju_924033_1600.webp');
  }
  .tophero .title,
  .tophero .subtitle {
      text-shadow: 1px 1px 2px #000;
      color: #fff !important;
  }
</style>
{%endblock%}
{% block body %}
<section class="hero is-medium tophero">
    <div class="hero-body">
      <p class="title">
        Volunteering COSCUP
      </p>
      <p class="subtitle">COSCUP 志工第一站</p>
    </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title">
        Hello {{g.user.data.name}},
    </h1>
    <p class="subtitle">
        歡迎回來！
        {% if not check['profile'] or not check['participate_in'] or not check['mattermost']%}<br>
        <span class="icon has-text-link" style="margin-top: 10px;"><i class="far fa-comment-alt"></i></span>
        <span class="has-text-weight-semibold">請先完成以下目標，方便之後的組別加入與聯繫，感謝！</span>
        {% endif %}
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
      <!--
      <div class="columns">
          <div class="column is-4">
            <article class="message is-success">
                <div class="message-header">
                    <p><span class="icon"><i class="fas fa-id-badge"></i></span> COSCUP2023 議程表</p>
                </div>
                <div class="message-body">
                    2023 議程表已公告，收藏感興趣的議程並分享你所關注的議程！→ <a href="/schedule/2023"><strong>2023 議程表</strong></a>
                </div>
            </article>
          </div>
      </div>
      -->
      <div class="columns">
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-id-badge"></i></span>
                          <span>建立基本資料</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <p>可以到設定建立基本資料，讓組長或是其他志工夥伴認識你，在這個服務裡，可以共用一份資料，不用到處填寫。</p>
                      <div class="buttons is-right" style="margin-top: 15px;">
                          {% if check['profile'] %}
                          <a class="button is-info is-inverted" href="/setting/profile">
                              <span class="icon"><i class="fas fa-check"></i></span>
                              <span>檢視資料</span>
                          </a>
                          {% else %}
                          <a class="button is-danger is-inverted" href="/setting/profile">
                              <span class="icon"><i class="fas fa-edit"></i></span>
                              <span>前往建立資料</span>
                          </a>
                          {% endif %}
                      </div>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-satellite-dish"></i></span>
                          <span>投出組別申請</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <p style="margin-bottom:3px;">檢視組別今年要達成的事項、目標，選擇加入與否。</p>
                      <p style="margin-bottom:3px;">找到這次想要加入的組別提出申請，組長會檢閱自我介紹與屬性核准妳的申請。</p>
                      <p>在 COSCUP 裡的參與、貢獻將會幫你紀錄起來，未來需要提出志工服務或相關參與證明時，也可方便利用。</p>
                      <div class="buttons is-right" style="margin-top: 15px;">
                          {% if check['participate_in'] %}
                          <a class="button is-info is-inverted" href="/project/">
                              <span class="icon"><i class="fas fa-check"></i></span>
                              <span>檢視活動組織</span>
                          </a>
                          {% else %}
                          <a class="button is-danger is-inverted" href="/project/">
                              <span class="icon"><i class="fas fa-user-plus"></i></span>
                              <span>檢視活動組織，提出申請加入</span>
                          </a>
                          {% endif %}
                      </div>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="far fa-comments"></i></span>
                          <span>Mattermost / COSCUP Chat</span>
                      </p>
                  </div>
                  <div class="message-body">
                      {% if check['mattermost'] %}
                      <p style="margin-bottom:3px;">大會使用 Mattermost 取代 Slack 為活動期間的聯絡工具。平台有提供網頁版、桌面版與行動裝置版，請選擇合適的平台<a href="https://mattermost.com/apps/" target="_blank">下載</a>。</p>
                      <p>每屆會有一個公開頻道，而各組或因任務需求可隨意建立頻道或群組聊天。</p>
                      <div class="buttons is-right" style="margin-top: 15px;">
                          <a class="button is-primary is-light is-outlined" href="https://chat.coscup.org/" target="_blank">
                              <span class="icon is-small"><i class="far fa-comments"></i></span>
                              <span>來聊天吧！</span>
                          </a>
                      </div>
                      {% else %}
                      <p>大會使用 Mattermost 取代 Slack 為活動期間的聯絡工具。若在首次登錄時<strong>未完成帳號開通</strong>或是<strong>邀請函過期</strong>，請重新取得登入邀請函。</p>
                      <div class="buttons is-right" style="margin-top: 15px;">
                          <a class="button is-warning is-light"
                              href="/setting/link/chat">
                              <span class="icon is-small"><i class="far fa-envelope"></i></span>
                              <span>取得邀請函</span>
                          </a>
                      </div>
                      {% endif %}
                  </div>
              </article>
          </div>
      </div>
  </div>
</section>
{% endblock %}
