{% extends "base.html" %}
{% block head_title %} - Index{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Hello {{g.user.data.name}},
    </h1>
    <p class="subtitle">歡迎回來！</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-id-badge"></i></span>
                          <span>建立基本資料</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <p>可以到設定建立基本資料，在這個服務裡，可以共用一份資料，不用到處填寫。</p>
                      <div class="buttons is-right">
                          <a class="button is-info is-inverted" href="/setting/profile">
                              <span class="icon"><i class="fas fa-check"></i></span>
                              <span>建立資料</span>
                          </a>
                      </div>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-satellite-dish"></i></span>
                          <span>投出組別申請</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <p>組長建立活動組織後，可以找這次想要加入的組別提出申請，組長會檢閱自我介紹與屬性核准妳的申請。</p>
                      <p>或是收到來自組長的邀約加入，也可以檢視組別今年要達成的事項、目標，選擇加入與否。</p>
                      <div class="buttons is-right">
                          <a class="button is-info is-inverted" href="/project/">
                              <span class="icon"><i class="fas fa-check"></i></span>
                              <span>檢視活動組織</span>
                          </a>
                      </div>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-id-card"></i></span>
                          <span>志工紀錄</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <p>在 COSCUP 裡的參與、貢獻將會幫你紀錄起來，未來需要提出志工服務或相關參與證明時，也可方便利用。</p>
                      <div class="buttons is-right">
                          <a class="button is-info is-inverted">
                              <span class="icon is-small"><i class="fas fa-check"></i></span>
                              <span>檢視服務申請</span>
                          </a>
                      </div>
                  </div>
              </article>
          </div>
      </div>
  </div>
</section>
{% endblock %}
