{% extends "base.html" %}
{% block head_title %} - 志工服務系統{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Volunteering COSCUP
    </h1>
    <p class="subtitle">COSCUP 志工第一站</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column">
              <article class="message is-info">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-id-badge"></i></span> COSCUP2022 即將開始招募！</p>
                  </div>
                  <div class="message-body">
                      2022 即將招募開始了！快點前往找到感興趣的組別提出申請！→ <a href="/project/2022/"><strong>2022 組別一覽表</strong></a>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-id-badge"></i></span> 志工招募庫</p>
                  </div>
                  <div class="message-body">
                      <p><a href="https://coscup.org">COSCUP</a> 開源人年會以大拜拜的研討會致力促進開源社群發展，每年暑期於台灣舉辦。在過往十數年的歷史裡，每年不同的籌辦成員碰撞出不同的火花，讓 COSCUP 常保活力十足，繼續為開源社群服務。</p>
                      <p>登錄成為 COSCUP 志工，每屆活動開始時，就有機會一起參與籌備。</p>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-satellite-dish"></i></span> 組長找夥伴</p>
                  </div>
                  <div class="message-body">
                      <p>組長建立活動組織後，可以主動到志工庫找尋相符合技能的夥伴一起打拼。</p>
                  </div>
              </article>
          </div>
          <!--<div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-robot"></i></span> 行政效率+</p>
                  </div>
                  <div class="message-body">
                      <p>捨棄 Google 表單複製貼上資訊，串接 API 於服務、報到同步。</p>
                  </div>
              </article>
          </div>-->
      </div>
  </div>
</section>
{% endblock %}
