{% extends "base.html" %}
{% block head_title %}志工服務系統{% endblock %}
{% block style %}
<style>
  .tophero {
      background-position: center;
      background-repeat:  no-repeat;
      background-size:  cover;
      background-image: url('https://volunteer.coscup.org/img/index_skiseiju_924033_1600.webp');
  }
  .tophero .title,
  .tophero .subtitle {
      text-shadow: 1px 1px 2px #000;
      color: #fff !important;
  }
</style>
{%endblock%}
{% block body %}
<section class="hero is-large tophero">
    <div class="hero-body">
      <p class="title">
        Volunteering COSCUP
      </p>
      <p class="subtitle">COSCUP 志工第一站</p>
    </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column"></div>
          <!--
          <div class="column is-4">
              <article class="message is-warning">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-tree"></i></span> 行政組整地期招募</p>
                  </div>
                  <div class="message-body">
                    行政組今年無 2023 休耕期，預計在 2023.09 進入整地期，整地期間需要大量的腦力計算模擬與規劃接下來的計畫項目，整地期預計招募５位成員（或額外３位候補），預計在 2023.09.18 後開始運作。→ <a href="/docs/zh-TW/secretary_team/recruit/#2023-preparation"><strong>整地期招募說明</strong></a>
                  </div>
              </article>
          </div>
          -->
          <div class="column is-4">
              <article class="message is-warning">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-tree"></i></span> 2024 籌備團隊已開始招募</p>
                  </div>
                  <div class="message-body">
                    請參考各組的招募資訊與遴選方式，選擇感興趣的組別加入！→ <a href="/project/2024/"><strong>2024 組別列表</strong></a>
                  </div>
              </article>
          </div>
          <div class="column is-4">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-newspaper"></i></span> 不錯過資訊</p>
                  </div>
                  <div class="message-body">
                      除了加入籌備團隊，還可訂閱電子報密切注意各項公告 → <a href="https://secretary.coscup.org/subscribe/coscup"><strong>訂閱電子報</strong></a>
                  </div>
              </article>
          </div>
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
          <div class="column">
            <div class="has-text-centered">
                <a href="/project/2024" class="button is-large is-info is-outlined is-light is-rounded">
                    <span class="icon"><i class="far fa-check-circle"></i></span>
                    <span>加入志工夥伴</span>
                </a>
            </div>
          </div>
          <!--
          <div class="column">
            <div class="has-text-centered">
                <a href="/docs/zh-TW/secretary_team/recruit/#2023-preparation" class="button is-large is-warning is-outlined is-light is-rounded">
                    <span class="icon"><i class="fas fa-tree"></i></span>
                    <span>行政組整地期招募</span>
                </a>
            </div>
          </div>
          -->
          <div class="column">
            <div class="has-text-centered">
                <a href="/docs/zh-TW/about_coscup/how_to_participate/" class="button is-large is-warning is-outlined is-light is-rounded">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <span>如何參與、準備 COSCUP</span>
                </a>
            </div>
          </div>
          <div class="column">
            <div class="has-text-centered">
                <a href="/schedule/2023" class="button is-large is-success is-outlined is-light is-rounded">
                    <span class="icon"><i class="far fa-list-alt"></i></span>
                    <span>2023 議程表</span>
                </a>
            </div>
          </div>
          <div class="column">
            <div class="has-text-centered">
                <a href="https://secretary.coscup.org/subscribe/coscup"
                   target="_blank"
                   class="button is-large is-link is-outlined is-light is-rounded">
                    <span class="icon"><i class="far fa-newspaper"></i></span>
                    <span>訂閱電子報</span>
                </a>
            </div>
          </div>
          <div class="column"></div>
      </div>
      <!--
        <div class="columns">
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-id-badge"></i></span> 關於 COSCUP</p>
                  </div>
                  <div class="message-body">
                      <p><a href="https://coscup.org">COSCUP</a> 開源人年會以大拜拜的研討會致力促進開源社群發展，每年暑期於台灣舉辦。在過往十數年的歷史裡，每年不同的籌辦成員碰撞出不同的火花，讓 COSCUP 常保活力十足，繼續為開源社群服務。</p>
                      <p>登錄成為 COSCUP 志工，每屆活動開始時，就有機會一起參與籌備。</p>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-satellite-dish"></i></span> 成為志工夥伴</p>
                  </div>
                  <div class="message-body">
                      <p>來這裡發揮你的專長與熱情，一起籌辦年度大型研討會活動，來這裡實驗、實現你的想法與規劃！</p>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-robot"></i></span> 行政效率+</p>
                  </div>
                  <div class="message-body">
                      <p>捨棄 Google 表單複製貼上資訊，串接 API 於服務、報到同步。</p>
                  </div>
              </article>
          </div>
      </div>
    -->
    </div>
</section>
<section class="section" style="background-color:#FBFBFD;">
  <div class="container">
    <div class="columns">
        <div class="column">
            <div class="box">
                <div class="content">
                    <h2>關於志工組別</h2>
                    <p>目前 COSCUP 志工組別大致上可分為以下組別：</p>
                    <ul class="randlist">
                        <li>議程組：國際議程、大人物邀約、開源社群協調。</li>
                        <li>財務組：贊助商入款、費用出款、結算報告、協助建置大會財務系統。</li>
                        <li>行銷組：小啄導航員、主視覺設計、紀念品製作。</li>
                        <li>場務組：報到、餐飲、攤位、物流、機動。</li>
                        <li>贊助組：贊助方案、贊助商關係維持。</li>
                        <li>資訊組：官網維護、內部工作系統建置。</li>
                        <li>製播組：大會議程錄製與剪輯。</li>
                        <li>紀錄組：形象照拍攝、大會活動紀錄。</li>
                        <li>行政組：志工服務、培訓，前夜派對、療癒市集。</li>
                        <li>交流組：協助至其他研討會實體攤位活動，持續推廣 COSCUP。</li>
                        <li>CoC 服務小組：社群守則維運與更新、夥伴支援、志工內部培力。</li>
                    </ul>
                    <p>2023 招募開始了！快點前往找到感興趣的組別提出申請！</p>
                    <div class="has-text-right">
                        <a href="/project/2023" class="button is-small is-info is-outlined is-light is-rounded">
                            <span class="icon"><i class="far fa-check-circle"></i></span>
                            <span>加入志工夥伴</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="content">
                    <h2>COSCUP 是什麼？</h2>
                    <p>
                        <div align="center">
                            <img width="50%" src="https://volunteer.coscup.org/img/coscup_logo_tw.png">
                        </div>
                    </p>
                    <p>
                        COSCUP 是 Conference for Open Source Coders, Users, Promoters 的縮寫，是由台灣開放原始碼社群一起推動的年度研討會。
                    </p>
                    <p>
                        以大拜拜的研討會致力促進開源社群發展，每年七月底或八月初於台灣舉辦。在過往十幾年的歷史裡，每年不同的籌辦成員碰撞出不同的火花，讓 COSCUP 常保活力十足，繼續為開源社群服務。
                    </p>
                    <p>我們會這樣介紹 COSCUP：</p>
                    <ul>
                        <li>是舉辦與 <strong>Open Source</strong> 相關議題的科技研討會。</li>
                        <li>參與對象是開發者、使用者、推廣者（Coders, Users, Promoters）。</li>
                        <li>是一個<strong>不需要付費</strong>、也<strong>不需要報名</strong>的研討會。</li>
                        <li>通常會在七月底、八月初在台科大舉辦活動。</li>
                        <li>每一議程軌都是由各<strong>開源社群夥伴</strong>自審、自辦。</li>
                        <li>大約會有 1500 - 2000 人來參與的研討會。</li>
                    </ul>
                    <p>登錄成為 COSCUP 志工，每屆活動開始時，就有機會一起參與籌備。來這裡發揮你的專長與熱情，一起籌辦年度大型研討會活動，來這裡實驗、實現你的想法與規劃！</p>
                    <div class="has-text-right">
                        <a href="https://coscup.org/"
                           target="_blank"
                           class="button is-small is-light is-info is-outlined is-rounded">
                            前往 COSCUP 官網
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="content">
                    <h2>籌備團隊行事曆</h2>
                    <p>看看我們目前籌備的進度！也歡迎加入我們的討論！</p>
                    <iframe src="https://calendar.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTaipei&hl=zh_TW&mode=AGENDA&title=COSCUP%20%E5%A4%A7%E6%9C%83%E8%A1%8C%E4%BA%8B%E6%9B%86&showCalendars=0&showTabs=0&showTz=0&showTitle=0&src=Y19hMzc2ZWM4YmViNmVmMGFiM2FjYjVmZTMyMTM4ODBkZmNiYmE1MGNlODkxMDc1MzJhYWNiZmRkYTcxYzZlMjk0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23006239" style="border-width:0" width="100%" height="435" frameborder="0" scrolling="no"></iframe>
                    <div class="has-text-right">
                        <a href="https://calendar.google.com/calendar/embed?src=c_a376ec8beb6ef0ab3acb5fe3213880dfcbba50ce89107532aacbfdda71c6e294@group.calendar.google.com&ctz=Asia%2FTaipei"
                           target="_blank"
                           class="button is-small is-light is-info is-outlined is-rounded">
                            觀看行事曆
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
    gtag('event', 'conversion', {'send_to': 'AW-11007060379/BrfoCObe34IYEJvTyYAp'});
    (function() {
        let li = [];
        document.querySelectorAll('.randlist li').forEach(item => {
            li.push(item.outerHTML);
        });
        let len = li.length;
        let content = document.getElementsByClassName('randlist')[0];
        content.innerHTML= "";
        for(i=0;i<len;i++){
            let random = Math.floor(Math.random()*(li.length));
            content.innerHTML += (li[random]);
            li.splice(random, 1);
        };
    })();
</script>
{% endblock %}
