{% extends "project_edit_base.html" %}
{% block head_title_project_edit %}表單結果{% endblock %}
{%block project_form_menu%}is-active{%endblock%}
{% block project_edit_body %}
<div id="projectform" class="columns">
    <div class="column" v-cloak>
        <div class="content">
            <div class="buttons">
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'accommodation'}"
                    v-on:click="getResult('accommodation')">住宿申請</button>
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'volunteer_certificate'}"
                    v-on:click="getResult('volunteer_certificate')">志工時數證明</button>
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'traffic_fee'}"
                    v-on:click="getResult('traffic_fee')">交通費補助</button>
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'appreciation'}"
                    v-on:click="getResult('appreciation')">感謝狀</button>
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'clothes'}"
                    v-on:click="getResult('clothes')">衣服尺寸</button>
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'parking_card'}"
                    v-on:click="getResult('parking_card')">停車卡</button>
                <button class="button is-success" v-bind:class="{'is-outlined': casename != 'drink'}"
                    v-on:click="getResult('drink')">理性飲酒聲明</button>
            </div>
            <span>資料筆數：[[ result.length ]]，有效資料：[[ has_data ]]</span>
        </div>
        <div class="table-container">
            <table v-show="casename" class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="name in fields">[[name]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in result">
                        <td>
                            <a :href="'/user/'+data[0]"><span class="tag is-family-monospace">[[ data[0] ]]</span></a>
                        </td>
                        <td>
                            <span>
                                <figure class="image is-32x32">
                                    <img class="is-rounded" v-bind:src="data[1]">
                                </figure>
                            </span>
                        </td>
                        <td v-for="col in data.slice(2)">[[ col ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
(function() {
    let $projectform = new Vue({
        el: '#projectform',
        data: {
            casename: '',
            result: [],
            has_data: 0,
            fields: []
        },
        methods: {
            getResult: function(casename) {
                this.casename = casename;
                axios.post('./form/api', {case: casename}).then(function(resp) {
                    $projectform.result = resp.data.result.slice(1);
                    $projectform.fields = resp.data.result.slice(0, 1)[0];

                    $projectform.has_data = 0;
                    $projectform.result.forEach(function(row) {
                        if (row[3] === 'True') {
                            $projectform.has_data = $projectform.has_data + 1;
                        }
                    });
                });
            }
        },
        delimiters: ['[[', ']]']
    });
})();
</script>
{% endblock %}
