{% extends "base.html" %}
{% block head_title %}{{project.name}} 組別列表{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        {{project.name}}
    </h1>
    <div class="content">
        <p>{{project.desc}}</p>
        {% if editable %}
        <div class="buttons is-right">
            <a class="button is-info is-light" href="/project/{{project._id}}/edit">
                <span class="icon"><i class="far fa-edit"></i></span> <span>Edit</span>
            </a>
        </div>
        {% endif %}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="content">
          <p><span class="tag">總人數：{{total}}</span></p>
      </div>
      {% for team_col in teams %}
      <div class="columns">
          {% for team in team_col %}
          <div class="column is-one-third">
              <article class="message is-success">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-project-diagram"></i></span>
                          <span>{{team.name}}</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <p>組長：{{team.chiefs_name|join(', ')|safe}}</p>
                      <p>人數：{{team.count}}</p>
                      <div class="buttons is-right">
                          <a class="button is-info is-light is-outlined is-rounded" href="/team/{{project._id}}/{{team.tid}}/">
                              <span class="icon"><i class="fas fa-users"></i></span>
                              <span>檢視組別</span>
                          </a>
                      </div>
                  </div>
              </article>
          </div>
          {% endfor %}
      </div>
      {% endfor %}
  </div>
</section>
{% endblock %}
