{% extends "project_edit_base.html" %}
{% block head_title_project_edit %}設定{% endblock %}
{%block project_edit_menu%}is-active{%endblock%}
{% block project_edit_body %}
<div class="columns">
    <div class="column is-two-thirds">
        <form method="POST">
            <div class="field">
                <label class="label">name</label>
                <div class="control">
                    <input class="input" type="text" name="name" value="{{project.name}}">
                </div>
                <p class="help is-success">活動名稱</p>
            </div>
            <div class="field">
                <label class="label">description</label>
                <div class="control">
                    <textarea class="textarea" name="desc" placeholder="Project description ...">{{project.desc or ''}}</textarea>
                </div>
                <p class="help is-success">描述一下活動的簡介</p>
            </div>
            <div class="field">
                <label class="label">志工時數申請上限</label>
                <div class="control">
                    <input class="input" type="number" name="volunteer_certificate_hours" min="0" value="{{project.volunteer_certificate_hours or 16}}">
                </div>
                <p class="help is-success">時數申請上限，顯示在說明處。</p>
            </div>
            <div class="field">
                <label class="label">停車卡日期 (Deprecated)</label>
                <div class="control">
                    <input class="input" type="text" name="parking_card" value="{{project.parking_card}}" disabled>
                </div>
                <p class="help is-success">文字字串或是日期 ',' 分隔</p>
            </div>
            <div class="field">
                <label class="label">行事曆 ID</label>
                <div class="control">
                    <input class="input" type="text" name="calendar" value="{{project.calendar or ''}}">
                </div>
                <p class="help is-success">類似：ust6glc03eat210i65r1g4m2j4@group.calendar.google.com</p>
            </div>
            <div class="field">
                <label class="label">Google Shared Drives</label>
                <div class="control">
                    <input class="input" type="text" name="shared_drive" value="{{project.shared_drive or ''}}">
                </div>
                <p class="help is-success">staff 共享資料夾連結</p>
            </div>
            <div class="field">
                <label class="label">Mattermost Main Channel ID</label>
                <div class="control">
                    <input class="input" type="text" name="mattermost_ch_id" value="{{project.mattermost_ch_id or ''}}">
                </div>
                <p class="help is-success">本次主要頻道 ID</p>
            </div>
            <div class="field">
                <label class="label">工作人員 mailling-list</label>
                <div class="control">
                    <input class="input" type="text" name="mailling_staff" value="{{project.mailling_staff or ''}}">
                </div>
                <p class="help is-success">工人專用的信箱，會把工作人員都丟到這裡面去。</p>
            </div>
            <div class="field">
                <label class="label">組長 mailling-list</label>
                <div class="control">
                    <input class="input" type="text" name="mailling_leader" value="{{project.mailling_leader or ''}}">
                </div>
                <p class="help is-success">組長群用的，也是會把組長丟進去。</p>
            </div>
            <div class="field">
                <label class="label">交通費補助公告辦法文件</label>
                <div class="control">
                    <input class="input" type="text" name="traffic_fee_doc" value="{{project.traffic_fee_doc or ''}}">
                </div>
                <p class="help is-success">2023 之後改用 'https://on.org/', 'https://off.org/' 來設定申請開關。（為了向下相容過往格式）</p>
            </div>
            <div class="field">
                <label class="label">GitLab Project ID</label>
                <div class="control">
                    <input class="input" type="text" name="gitlab_project_id" value="{{project.gitlab_project_id or ''}}">
                </div>
                <p class="help is-success">Project ID，給予邀請加入使用 Issue Board</p>
            </div>
            <div class="field">
                <label class="label">申請表單開關</label>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="formswitch.traffic"
                        {{'checked' if project.formswitch.traffic else ''}} />
                        啟用 申請交通費補助
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="formswitch.clothes"
                        {{'checked' if project.formswitch.clothes else ''}} />
                        啟用 衣服尺寸
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="formswitch.certificate"
                        {{'checked' if project.formswitch.certificate else ''}} />
                        啟用 志工時數證明
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="formswitch.appreciation"
                        {{'checked' if project.formswitch.appreciation else ''}} />
                        啟用 感謝狀
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="formswitch.accommodation"
                        {{'checked' if project.formswitch.accommodation else ''}} />
                        啟用 志工住宿 {{project.formswitch.accommodation}}
                    </label>
                </div>
                <p class="help is-success">表單是否可以申請的開關</p>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Update</button>
                    <a class="button" href="/project/{{project._id}}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
