{% extends "base.html" %}
{% block head_title %}活動組織列表{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        All Projects
    </h1>
    <p class="subtitle">所有活動組織列表</p>
    <div class="content">
        這裡會以活動為一個專案開啟，像是 COSCUP 2020 或是未來可能會有的 COSCUP Taigi，找到期間中正在籌辦的活動進入。
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
      {% for project_col in projects %}
      <div class="columns">
          {% for project in project_col %}
          <div class="column is-one-third">
              <article class="message is-dark">
                  <div class="message-header">
                      <p>
                          <span class="icon"><i class="fas fa-project-diagram"></i></span>
                          <span>{{project.name}}</span>
                      </p>
                  </div>
                  <div class="message-body is-small">
                      <p>{{project.desc}}</p>
                      <p>
                          <span class="icon has-text-info"><i class="far fa-calendar-alt"></i></span>
                          <span>{{project.action_date_str}}</span>
                      </p>
                      <div class="buttons is-right" style="margin-top: 15px;">
                          <a class="button is-info is-inverted" href="/project/{{project._id}}/">
                              <span class="icon"><i class="fas fa-directions"></i></span>
                              <span>檢視組別列表</span>
                          </a>
                      </div>
                  </div>
              </article>
          </div>
          {% endfor %}
      </div>
      {% endfor %}
  </div>
</section>
{% endblock %}
