{% extends "base.html" %}
{% block head_title %}
    {{submissions[0].track.get('zh-tw', submissions[0].track['en'])}} / {{pid}} 大會議程、社群時程表 Schedule
{% endblock %}
{%block og%}
<meta property="og:title" content="{{submissions[0].track.get('zh-tw', submissions[0].track['en'])}} / {{pid}} 大會議程、社群時程表 Schedule - Volunteer with COSCUP! 志工服務系統">
<meta property="og:type" content="website">
<meta property="og:site_name" content="COSCUP Volunteer">
<meta property="og:image" content="https://volunteer.coscup.org/img/volunteer_og.png">
<meta property="og:description" content="{{submissions[0].track.get('zh-tw', submissions[0].track['en'])}} / {{ submissions[0].track['en'] }}">
<meta property="twitter:title" content="{{submissions[0].track.get('zh-tw', submissions[0].track['en'])}} / {{pid}} 大會議程、社群時程表 Schedule - Volunteer with COSCUP! 志工服務系統">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@coscup">
{%endblock%}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{submissions[0].track.get('zh-tw', submissions[0].track['en'])}}</h1>
            <p class="subtitle">{{ submissions[0].track['en'] }}</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/schedule/{{pid}}">回列表</a>
                            </li>
                            <li>
                                <a class="has-text-info" href="https://pretalx.coscup.org/coscup-2023/cfp">
                                    <span class="icon"><i class="fas fa-share-square"></i></span>
                                    <span>前往議程投稿</span>
                                </a>
                            </li>
                        </ul>
                        <p class="menu-label">目次</p>
                        <ul class="menu-list">
                            {% for submission in submissions if submission.code not in exclude_submissions %}
                            <li>
                                <a href="#{{submission.code}}">{{ submission.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    {% if track_description %}
                    <div class="content">
                        <h3>議程簡介</h3>
                        <div class="content box">
                            {{ track_description.get('zh-tw', '')|safe }}
                            {{ track_description.get('en', '')|safe }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="content">
                    <h3>已投稿的議程</h3>
                    {% for submission in submissions if submission.code not in exclude_submissions %}
                    <div class="content box">
                        <h3 id="{{submission.code}}">
                            <a href="#{{submission.code}}">{{ submission.title }}</a>
                        </h3>
                        <p>
                            <span class="tags">
                                <span class="tag is-link is-small">Submission Preview</span>
                                <span class="tag is-warning is-small">稿件審核中</span>
                            </span>
                        </p>
                        <p>{{ submission.abstract|replace('\n', '<br>')|safe }}</p>
                        <h4>投稿者</h4>
                        {% for speaker in submission.speakers %}
                        <div class="card mb-5">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-32x32">
                                            {% if speaker.avatar %}
                                                <img class="is-rounded" src="{{ speaker.avatar }}" alt="{{ speaker.name }}">
                                            {% else %}
                                                <img class="is-rounded" src="https://volunteer.coscup.org/img/nonavatar.png" alt="{{ speaker.name }}">
                                            {% endif %}
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-5">{{ speaker.name }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content">
                                        <p>{{ speaker.biography }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <p>
                            <div class="tags">
                                <span class="tag"><a href="https://coscup.org/2023/zh-TW/session/{{submission.code}}">{{ submission.code }}</a></span>
                                <span class="tag">{{ submission.submission_type['en']}}</span>
                                <span class="tag">{{ submission.track['en']}}</span>
                                {% if submission.track.get('zh-tw') %}
                                <span class="tag">{{ submission.track['zh-tw']}}</span>
                                {% endif %}
                            </div>
                        </p>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
