{% extends "base.html" %} {% block head_title %} {{pid}} 大會議程、社群時程表
Schedule {% endblock %} {%block og%}
<meta
  property="og:title"
  content="{{pid}} 大會議程、社群時程表 Schedule - Volunteer with COSCUP! 志工服務系統"
/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="COSCUP Volunteer" />
<meta
  property="og:image"
  content="https://volunteer.coscup.org/img/volunteer_og.png"
/>
<meta
  property="og:description"
  content="在活動期間有哪些需要注意的時程與社群 {{pid}} 大會議程 社群時程表 議程投稿 議程簡介 Schedule"
/>
<meta
  property="twitter:title"
  content="{{pid}} 大會議程、社群時程表 Schedule - Volunteer with COSCUP! 志工服務系統"
/>
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@coscup" />
{%endblock%} {% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">{{pid}} 議程、社群時程表</h1>
    <p class="subtitle">在活動期間有哪些需要注意的時程與社群</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <aside class="menu">
          <p class="menu-label">目次</p>
          <ul class="menu-list">
            <li>
              <a href="#link_tracks">
                <span class="icon"><i class="fas fa-list-ul"></i></span>
                <span>社群議程軌</span>
              </a>
            </li>
            <li>
              <a href="/schedule/{{pid}}/talks/fav/my">
                <span class="icon"><i class="fas fa-bookmark"></i></span>
                <span>我所關注的議程</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-8">
        <div class="content">
          <article class="message is-info">
            <div class="message-body">
              <span class="icon"><i class="fas fa-running"></i></span>
              鼓勵志工夥伴在活動二日也可抽空參與各社群所排定的議程主題，如有想要聽得議程，可以與組長協調調整執勤時間後參與。
            </div>
          </article>
          <h2 id="track_intro">
            <a href="#track_intro">議程表 | 社群協助</a>
          </h2>
          <p>
            本頁面資料與大會的議程表同步更新，COSCUP
            志工夥伴或是您來不及參與這次的籌備團隊都可以透過以下目的使用：
          </p>
          <ol>
            <li>
              COSCUP
              志工夥伴可以在活動二日抽空聽有興趣的議程，可以先大致瀏覽系喜愛的議程後加入關注，之後可以在個人頁面快速顯示<a href="/schedule/{{pid}}/talks/fav/my">已關注的議程時間表</a>。
            </li>
            <li>
              一般會眾可以透過此頁面找尋議程軌，先去聆聽議程，如有興趣可以直接詢問社群議程負責人表達往後參與的意願，平時的小聚活動也可一同參與！登入後也可使用<a href="/schedule/{{pid}}/talks/fav/my">關注議程</a>的功能喔！
            </li>
          </ol>
          <h2 id="link_tracks">
            <a href="#link_tracks">社群議程軌</a>
          </h2>
          <p>
            透過社群議程軌的徵求，今年約有 {{total_tracks}}
            組社群申請自辦、自審議程，透過活動二日分享開放原始碼、開源精神、開源貢獻相關的議題。
          </p>
          <p>或是直接顯示<a href="/schedule/{{pid}}/talks/all">所有議程列表</a>！</p>
          <div class="columns">
            {% for tracks in tracks_groups%}
            <div class="column">
              <ul>
                {% for track_name, track_data in tracks %}
                <li>
                  <a
                    href="/schedule/{{pid}}/talks/{{track_data['code']}}/{{track_name|replace('/', '-')|quote_plus}}"
                    >{{ track_name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
