{% extends "base.html" %}
{% block head_title %}
{%- if one_talk is not true %}{{title}} / {{ title_en }}
{%- else %}{{title}} {{ title_en }}{%endif%}{% endblock %}

{%block og%}
    <link rel="canonical" href="https://volunteer.coscup.org{{request.path}}" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="COSCUP Volunteer">
    <meta property="og:image" content="https://volunteer.coscup.org/img/volunteer_og.png">
    {% if one_talk is not true %}
        {% if track_description.get('zh-tw', track_description.get('en', '')) == '' %}
        <meta property="og:description" content="{{title}} / {{title_en}}">
        {% else %}
        <meta property="og:description" content="{{track_description.get('zh-tw', track_description.get('en', ''))}} / {{title}} / {{ title_en}}">
        {% endif %}
    {% else %}
        <meta property="og:description" content="{{title}} {{title_en}}">
    {% endif %}

    {% if one_talk is not true %}
        <meta property="og:title" content="{{title}} / {{title_en}}">
        <meta property="twitter:title" content="{{title}} / {{ title_en }}">
    {% endif %}

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@coscup">
{%endblock%}

{%block linkstyle%}
<link href="/static/buefy.min.css" rel="stylesheet">
{%endblock%}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{title}}</h1>
            <p class="subtitle">{{ title_en }}</p>
        </div>
    </section>
    <section class="section" id="talks">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-offset-1">
                    {% if track_description %}
                    <div class="content">
                        <h3>議程簡介</h3>
                        <div class="content box">
                            {{ track_description.get('zh-tw', '')|safe }}
                            {{ track_description.get('en', '')|safe }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="content">
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                {% if one_talk is not true %}
                                <span class="tag is-info">篩選條件</span>
                                {% endif %}
                            </div>
                            {% for i in range(4)%}
                            <div class="control is-loading" v-if="!is_loaded">
                                <span class="tag is-primary is-light">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <span class="icon"><i class="fas fa-redo-alt"></i></span>
                                        Loading ...
                                    </label>
                                </span>
                            </div>
                            {% endfor %}
                            <div class="control" v-for="item in selectTagsDate" v-if="selectTagsDate.size > 1" v-cloak>
                                <span class="tag is-success is-light">
                                    <label class="checkbox">
                                        <input type="checkbox" :value="item" v-model="selectedDate">
                                        <span class="icon"><i class="fas fa-calendar-day"></i></span>
                                        [[ item ]]
                                    </label>
                                </span>
                            </div>
                            <div class="control" v-for="item in selectTagsRoom" v-if="selectTagsRoom.size > 1" v-cloak>
                                <span class="tag">
                                    <label class="checkbox">
                                        <input type="checkbox" :value="item" v-model="selectedRoom">
                                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                        [[ item ]]
                                    </label>
                                </span>
                            </div>
                            <div class="control" v-for="item in selectTagsLang" v-if="selectTagsLang.size > 1" v-cloak>
                                <span class="tag is-warning is-light">
                                    <label class="checkbox">
                                        <input type="checkbox" :value="item" v-model="selectedLang">
                                        <span class="icon"><i class="fas fa-language"></i></span>
                                        [[ item ]]
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                    <h3>議題</h3>
                    {% if talks|length == 0 %}
                    <article class="message is-info">
                        <div class="message-body">
                          <span class="icon"><i class="fas fa-running"></i></span>
                          目前無任何議程載入，<a href="/schedule/{{pid}}">請參考其他議程軌內容</a>。
                        </div>
                    </article>
                    {% endif %}
                    {% for talk in talks %}
                    <div class="card mb-3"
                        :data-date="new Date( '{{ talk.slot.start }}' ).toLocaleDateString('ja', {year: 'numeric', month: '2-digit', day: '2-digit'})"
                        data-room="{{ talk.slot.room['en'] }}"
                        data-lang="{{ talk.content_locale }}">
                        <header class="card-header">
                            <p class="card-header-title" id="{{talk.code}}" style="margin-bottom: 0;">
                                <a href="/schedule/{{pid}}/session/{{talk.code}}">
                                    <span class="icon"><i class="far fa-comment-alt"></i></span>
                                    <span>{{ talk.title }}</span>
                                </a>
                            </p>
                        </header>
                        <div class="card-content">
                        <span class="tags mb-1">
                            <span class="tag mr-1 is-family-monospace">
                                <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                <span>{{ talk.slot.room['en'] }}</span>
                            </span>
                            <span class="tag mr-1 is-success is-light is-family-monospace">
                                <span class="icon"><i class="fas fa-calendar-day"></i></span>
                                <span v-cloak>[[ new Date( '{{ talk.slot.start }}' ).toLocaleDateString('ja', {year: 'numeric', month: '2-digit', day: '2-digit'}) ]]</span>
                            </span>
                            <span class="tag mr-1 is-info is-light is-family-monospace">
                                <span class="icon"><i class="far fa-clock"></i></span>
                                <span v-cloak>[[ new Date( '{{ talk.slot.start }}' ).toLocaleTimeString('zh-Hant', {hour12: false, hour: '2-digit', minute:'2-digit'}) ]] ~
                                        [[ new Date( '{{ talk.slot.end }}' ).toLocaleTimeString('zh-Hant', {hour12: false, hour: '2-digit', minute:'2-digit'}) ]]</span>
                            </span>
                            <span class="tag mr-1 is-warning is-light is-family-monospace">
                                <span class="icon"><i class="fas fa-language"></i></span>
                                <span>{{ talk.content_locale }}</span>
                            </span>
                        </span>
                        <div class="buttons are-small is-right has-addons mb-1">
                            <a class="button is-text"
                               target="_blank"
                              :href="`https://calendar.google.com/calendar/render?action=TEMPLATE&text={{talk.title|quote_plus}}&dates=${new Date( '{{ talk.slot.start }}' ).toISOString().replaceAll('-', '').replaceAll(':', '').replaceAll('.', '')}/${new Date( '{{ talk.slot.end }}' ).toISOString().replaceAll('-', '').replaceAll(':', '').replaceAll('.', '')}&details={{ ('https://volunteer.coscup.org/schedule/%s/session/%s' % (pid, talk.code)) | quote_plus }}&location={{talk.slot.room['en']}}`">
                                <span class="icon"><i class="far fa-calendar-plus"></i></span>
                                <span>加入行事曆</span>
                            </a>
                            <span v-cloak class="button is-text" v-if="!is_login" onclick="alert('需登入才可加入使用。')" v-cloak>
                                <span v-cloak class="icon"><i class="far fa-bookmark"></i></span>
                                <span v-cloak>加入關注</span>
                            </span>
                            <span v-cloak class="button is-text"
                                  v-if="is_login && !favs.includes('{{talk.code}}')"
                                  @click="addfav('{{talk.code}}')">
                                <span v-cloak class="icon"><i class="far fa-bookmark"></i></span>
                                <span v-cloak>加入關注</span>
                            </span>
                            <span v-cloak class="button is-primary is-light is-outlined"
                                  v-if="is_login && favs.includes('{{talk.code}}')"
                                  @click="delfav('{{talk.code}}')">
                                <span v-cloak class="icon"><i class="fas fa-bookmark"></i></span>
                                <span v-cloak>已關注</span>
                            </span>
                        </div>
                        {% if share_code != '' or all_tracks %}
                        <div class="tags">
                            <span class="tag has-text-info-dark" style="white-space:unset;height:auto;">{{ talk.track['en']}}</span>
                            {% if talk.track.get('zh-tw') and talk.track['zh-tw'] != talk.track['en'] %}
                            <span class="tag has-text-info-dark" style="white-space:unset;height:auto;">{{ talk.track['zh-tw']}}</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        {{ talk.abstract|safe }}
                        {% for speaker in talk.speakers %}
                        <div class="card mb-3">
                            <header class="card-header">
                                <p class="card-header-title has-text-success-dark">
                                    <span class="icon"><i class="fas fa-id-card"></i></span>
                                    <span>講者</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-32x32">
                                            {% if speaker.avatar %}
                                                <img class="is-rounded" src="{{ speaker.avatar }}" alt="{{ speaker.name }}">
                                            {% else %}
                                                <img class="is-rounded" src="https://volunteer.coscup.org/img/nonavatar.png" alt="{{ speaker.name }}">
                                            {% endif %}
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-5">{{ speaker.name }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="content">
                                        <p>{{ speaker.biography|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="tags">
                            <span class="tag has-text-info-dark" style="white-space:unset;height:auto;">{{ talk.track['en']}}</span>
                            {% if talk.track.get('zh-tw') and talk.track['zh-tw'] != talk.track['en'] %}
                            <span class="tag has-text-info-dark" style="white-space:unset;height:auto;">{{ talk.track['zh-tw']}}</span>
                            {% endif %}
                            <span class="tag"><a href="/schedule/{{pid}}/session/{{talk.code}}">{{ talk.code }}</a></span>
                            <span class="tag">{{ talk.submission_type['en']}}</span>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="content mt-5">
                        <div class="giscus"></div>
                    </div>
                    </div>
                </div>
                <div class="column is-4">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/schedule/{{pid}}">
                                    <span class="icon"><i class="fas fa-list-ul"></i></span>
                                    <span>回議程列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="/schedule/{{pid}}/talks/fav/my">
                                    <span class="icon"><i class="fas fa-bookmark"></i></span>
                                    <span>我的關注議程</span>
                                </a>
                            </li>
                            {% if share_code != '' %}
                            <li>
                                <a class="has-text-info" href="/schedule/{{pid}}/talks/fav/share/{{share_code}}">
                                    <span class="icon"><i class="far fa-share-square"></i></span>
                                    <span>分享我的關注議程連結</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <p class="menu-label">目次</p>
                        <ul class="menu-list">
                            {% for talk in talks %}
                            <li
                                :data-date="new Date( '{{ talk.slot.start }}' ).toLocaleDateString('ja', {year: 'numeric', month: '2-digit', day: '2-digit'})"
                                data-room="{{ talk.slot.room['en'] }}"
                                data-lang="{{ talk.content_locale }}">
                                <a href="#{{talk.code}}">
                                    <span class="icon"><i class="far fa-comment-alt"></i></span>
                                    <span class="is-family-monospace" v-cloak>
                                        [[ new Date( '{{ talk.slot.start }}' ).toLocaleDateString('ja', {year: 'numeric', month: '2-digit', day: '2-digit'}) ]]
                                        [[ new Date( '{{ talk.slot.start }}' ).toLocaleTimeString('zh-Hant', {hour12: false, hour: '2-digit', minute:'2-digit'}) ]] ~
                                        [[ new Date( '{{ talk.slot.end }}' ).toLocaleTimeString('zh-Hant', {hour12: false, hour: '2-digit', minute:'2-digit'}) ]]
                                    </span>
                                    <br>
                                    <span class="is-family-monospace">[{{ talk.slot.room['en'] }}]</span>
                                    <span>{{ talk.title }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
<script src="/js/axios.min.js"></script>
<script src="{{ url_for('static', filename='buefy.min.js') }}"></script>
<script>
    (function () {
        let $talks = new Vue({
            el: '#talks',
            data: {
                datas: [],
                selectTagsDate: new Set(),
                selectedDate: [],
                selectTagsRoom: new Set(),
                selectedRoom: [],
                selectTagsLang: new Set(),
                selectedLang: [],
                favs: [],
                is_login: {{ 'true' if is_login else 'false'}},
                is_loaded: false
            },
            watch: {
                selectedDate: function(item) {
                    this.selected();
                },
                selectedRoom: function(item) {
                    this.selected();
                },
                selectedLang: function(item) {
                    this.selected();
                }
            },
            mounted: function() {
                this.init();
                this.is_loaded = true;
            },
            methods: {
                addfav: function(talk_id) {
                    let $this = this;
                    axios.post('/schedule/{{pid}}/talks/fav', {case: 'add', talk_id: talk_id}).then(function(resp) {
                        $this.favs = resp.data.favs;
                        Vue.prototype.$buefy.snackbar.open({
                            message: resp.data.note,
                            type: 'is-info',
                            position: 'is-bottom-left',
                        })
                    });
                },
                delfav: function(talk_id) {
                    let $this = this;
                    axios.post('/schedule/{{pid}}/talks/fav', {case: 'delete', talk_id: talk_id}).then(function(resp) {
                        $this.favs = resp.data.favs;
                        Vue.prototype.$buefy.snackbar.open({
                            message: resp.data.note,
                            type: 'is-info',
                            position: 'is-bottom-left',
                        })
                    });
                },
                selected: function() {
                    let $this = this;
                    if ($this.selectedDate.length === 0 && $this.selectedLang.length === 0 && $this.selectedRoom.length === 0) {
                        this.datas.forEach(item => {item.style.display = 'block';});
                    } else {
                        const allTrue = (ele) => ele === true;
                        this.datas.forEach(item => {
                            let result = [];
                            let display = 'block';
                            if ($this.selectedDate.length > 0) {
                                if (!$this.selectedDate.includes(item.dataset.date)) {
                                    display = 'none';
                                }
                            }
                            if ($this.selectedRoom.length > 0) {
                                if (display === 'block' && !$this.selectedRoom.includes(item.dataset.room)) {
                                    display = 'none';
                                }
                            }
                            if ($this.selectedLang.length > 0) {
                                if (display === 'block' && !$this.selectedLang.includes(item.dataset.lang)) {
                                    display = 'none';
                                }
                            }
                            item.style.display = display;
                        })
                    }
                },
                init: function() {
                    this.datas = document.querySelectorAll('#talks [data-date]');
                    let dateTags = new Set();
                    let roomTags = new Set();
                    let langTags = new Set();
                    this.datas.forEach(item => {
                        dateTags.add(item.dataset.date);
                        roomTags.add(item.dataset.room);
                        langTags.add(item.dataset.lang);
                    });
                    this.selectTagsDate = dateTags;
                    this.selectTagsRoom = roomTags;
                    this.selectTagsLang = langTags;

                    let $this = this;
                    axios.post('/schedule/{{pid}}/talks/fav', {case: 'get'}).then(function(resp) {
                        $this.favs = resp.data.favs;
                        Vue.prototype.$buefy.snackbar.open({
                            message: resp.data.note,
                            type: 'is-info',
                            position: 'is-bottom-left',
                        })
                    });
                }
            },
            delimiters: ["[[", "]]"]
        });
    })();
</script>
<script src="https://giscus.app/client.js"
        data-repo="COSCUP/COSCUP-Volunteer"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMzE4OTAwNTU="
        data-category="Comments (Session)"
        data-category-id="DIC_kwDODdJch84CdpEP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}