{% extends "base.html" %}
{% block head_title %}個資使用保護原則{% endblock %}
{% block og_title %}當處理到個資材料時，應注意哪些事項？{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      個資使用保護原則
    </h1>
    <p class="subtitle">當處理到個資材料時，應注意哪些事項？</p>
  </div>
</section>
<section class="section">
  <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="content">
                  <div class="notification is-success is-light">{{message}}</div>
                </div>
                {% endfor%}
                {% endif %}
                {% endwith %}
                <div class="content">
                    {{content|safe}}
                </div>
                {% if g.user %}
                <div class="content">
                  <form method="POST">
                    <button type="submit" class="button is-link is-medium is-fullwidth">
                      <span class="icon"><i class="far fa-check-circle"></i></span>
                      <span>已閱讀完保護原則</span>
                    </button>
                  </form>
                </div>
                {% endif %}
            </div>
        </div>
  </div>
</section>
{% endblock %}
