{% extends "sender_campaign.html" %}
{% block campaign_title %} edit receiver{% endblock %}
{% block campaign_receiver %} is-active{% endblock %}
{% block campaign_body %}
<div class="columns">
    <div class="column">
        <form id="campaignreceiverform" class="form" v-on:submit.prevent="save($event)" v-cloak>
            <div class="field">
                <article class="message is-info is-small">
                    <div class="message-body">
                        Team, Upload List 可以同時使用。
                    </div>
                </article>
            </div>
            <div class="field box">
                <label class="label">Team<sup>([[ pickteams.length ]])</sup></label>
                <div class="control">
                    <label class="checkbox" v-for="team in teams" style="margin: 0 12px 12px 0;">
                        <input type="checkbox" v-bind:value="team.tid" v-model="pickteams">
                        <span v-bind:class="{'has-text-weight-bold': pickteams.includes(team.tid)}">
                            [[ team.tid ]] ([[ team.name ]])
                        </span>
                    </label>
                </div>
                <p class="help is-success">發送到組為單位的人員</p>
            </div>
            <div class="field box" v-if="team_w_tags.length > 0">
                <label class="label">組內的分組</label>
                <div class="control">
                    <label class="checkbox" v-for="tag in team_w_tags" style="margin: 0 12px 12px 0;">
                        <input type="checkbox" v-bind:value="tag.id" v-model="picktags">
                        <span v-bind:class="{'has-text-weight-bold': picktags.includes(tag.id)}">
                            [[ tag.name ]] ([[ tag.id ]])
                        </span>
                    </label>
                </div>
                <p class="help is-success">
                    發送到組內組別的人員，可以透過<a href="/team/{{team['pid']}}/{{team['tid']}}/edit_user">編輯組員</a>中的<strong>新增標籤</strong>來分類組員。
                </p>
            </div>
            <div class="field box" v-if="team_w_tags.length === 0">
                <label class="label">組內的分組</label>
                <div class="control">
                    目前未設定，可以透過<a href="/team/{{team['pid']}}/{{team['tid']}}/edit_user">編輯組員</a>中的<strong>新增標籤</strong>來分類組員。
                </div>
            </div>
            <div class="field box">
                <label class="label">全志工平台的人員</label>
                <div class="control">
                    <label class="checkbox" style="margin: 0 12px 12px 0;">
                        <input type="checkbox" v-model="is_all_users">
                        <span v-bind:class="{'has-text-weight-bold': is_all_users, 'has-text-danger': is_all_users}">
                            寄送全部人員（約：[[ all_users_count ]]）
                        </span>
                    </label>
                </div>
                <p class="help is-danger">使用這個請小心！</p>
            </div>
            <div class="field box">
                <label class="label">Upload List</label>
                <div class="control">
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" ref="file" name="resume"
                                   v-on:change="handleupload" accept="text/csv">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span v-if="!file" class="file-label">
                                    選擇檔案…
                                </span>
                                <span v-if="file" class="file-label">
                                    [[ file.name ]]
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
                <p class="help is-info">上傳 CSV 檔案，必須包含 name, mail 欄位，或只提供 uid 欄位由系統帶入 name、mail。</p>
            </div>
            <div class="field box">
                <label class="label">上傳更新或取代方式</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="uploadtype" value='update' v-model="uploadtype">
                        更新(Update)
                    </label>
                    <label class="radio">
                        <input type="radio" name="uploadtype" value='replace' v-model="uploadtype">
                        取代(Replace)
                    </label>
                    <label class="radio">
                        <input type="radio" name="uploadtype" value='remove' v-model="uploadtype">
                        清除(Remove)
                    </label>
                </div>
                <p class="help is-info">更新：會以 mail 當作唯一值索引更新。取代：直接覆蓋舊檔案資料。</p>
            </div>
            <div class="field">
                <button class="button is-info">儲存</button>
            </div>
            <div class="field">
                <hr>
            </div>
            <div class="field box" v-if="filedata[1].length">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th v-for="field in filedata[0]">[[ field ]]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="raw in filedata[1]">
                                <td v-for="r in raw">[[ r ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $campaignreceiverform = new Vue({
            el: '#campaignreceiverform',
            data: {
                teams: [],
                pickteams: [],
                team_w_tags: [],
                picktags: [],
                uploadtype: 'update',
                is_all_users: false,
                all_users_count: 0,
                file: null,
                filedata: [[], []],
            },
            mounted: function() {
                this.load();
            },
            methods: {
                load: function() {
                    axios.post('./receiver', {casename: 'getinit'}).then(function(resp) {
                        $campaignreceiverform.teams = resp.data.teams;
                        $campaignreceiverform.pickteams = resp.data.pickteams;
                        $campaignreceiverform.picktags = resp.data.picktags;
                        $campaignreceiverform.team_w_tags = resp.data.team_w_tags;
                        $campaignreceiverform.filedata = resp.data.filedata;
                        $campaignreceiverform.is_all_users = resp.data.is_all_users;
                        $campaignreceiverform.all_users_count = resp.data.all_users_count;
                    });
                },
                handleupload: function($e) {
                    this.file = this.$refs.file.files[0];
                },
                save: function($e) {
                    $e.submitter.classList.add('is-loading');

                    axios.post('./receiver', {casename: 'save',
                            pickteams: this.pickteams,
                            picktags: this.picktags,
                            is_all_users: this.is_all_users}).then(function(resp) {
                        $campaignreceiverform.pickteams = resp.data.teams;
                        $campaignreceiverform.is_all_users = resp.data.all_users;
                        $e.submitter.classList.remove('is-loading');
                    }).then(function(resp) {
                        if ($campaignreceiverform.file || $campaignreceiverform.uploadtype == 'remove') {
                            let formData = new FormData();
                            formData.append('file', $campaignreceiverform.file);
                            formData.append('uploadtype', $campaignreceiverform.uploadtype);
                            axios.post('./receiver', formData, {headers: {'Content-Type': 'multipart/form-data'}}).then(function(resp) {
                                window.location.href = './receiver';
                            });
                        }
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
