{% extends "sender_campaign.html" %}
{% block campaign_title %} edit content{% endblock %}
{% block campaign_content %} is-active{% endblock %}
{% block campaign_body %}
<div class="columns">
    <div class="column is-three-quarters">
        <form id="campaigncontentform" class="form" v-on:submit.prevent="save" v-cloak>
            <div class="field">
                <label class="label">Subject</label>
                <div class="control">
                    <input class="input" type="text" v-model="data.subject">
                </div>
                <p class="help is-success">郵件的抬頭</p>
            </div>
            <div class="field">
                <label class="label">Preheader</label>
                <div class="control">
                    <input class="input" type="text" v-model="data.preheader">
                </div>
                <p class="help is-success">會顯示在信箱信件列表中的文字，但在內文不會顯示，好的句子可以增加開信的可能。</p>
            </div>
            <div class="field">
                <label class="label">Content</label>
                <div class="control">
                    <textarea class="textarea" v-model="data.content"></textarea>
                </div>
                <p class="help is-success">郵件內容，可以使用 <strong>Hi {{ '{{name}}' }},</strong> 會自動帶入收件者名稱會比較親切！</p>
            </div>
            <div class="field">
                <label class="label">樣板</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" value="1" v-model="data.layout">
                        志工服務樣板
                    </label>
                    <label class="radio">
                        <input type="radio" value="2" v-model="data.layout">
                        COSCUP 樣板
                    </label>
                </div>
                <p class="help is-success">選擇套用的郵件樣板</p>
            </div>
            <div class="field">
                <div class="buttons">
                    <button class="button is-info" v-bind:disabled="disabled">儲存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $campaigncontentform = new Vue({
            el: '#campaigncontentform',
            data: {
                disabled: true,
                data: {}
            },
            watch: {
                'data.subject': function() {
                    this.disabled = false;
                },
                'data.preheader': function() {
                    this.disabled = false;
                },
                'data.content': function() {
                    this.disabled = false;
                },
                'data.layout': function() {
                    this.disabled = false;
                }
            },
            mounted: function() {
                axios.post('./content', {casename: 'get'}).then(function(resp) {
                    $campaigncontentform.data = resp.data.mail;
                });
            },
            methods: {
                save: function($e) {
                    $e.submitter.classList.add('is-loading');

                    axios.post('./content', {data: this.data, casename: 'save'}).then(function(resp) {
                        $campaigncontentform.data = resp.data.mail;

                        $campaigncontentform.disabled = true;
                        $e.submitter.classList.remove('is-loading');
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
