{% extends "sender_campaign.html" %}
{% block campaign_title %} Schedule{% endblock %}
{% block campaign_schedule %} is-active{% endblock %}
{% block campaign_body %}
<div class="columns">
    <div class="column is-three-quarters">
        <div id="senderschedule" class="content" v-cloak>
            <div class="content">
                <h3>發送測試信</h3>
                <button class="button is-warning is-light"
                        :class="{'is-loading': is_loading}"
                        v-on:click="sendtest">
                    <span class="icon"><i class="fas fa-robot"></i></span>
                    <span>發送 測試信</span>
                </button>
                <h3>正式發送</h3>
                <button class="button is-info is-light"
                        :class="{'is-loading': is_loading}"
                        v-on:click="send">
                    <span class="icon"><i class="far fa-paper-plane"></i></span>
                    <span>發送！</span>
                </button>
            </div>
            <div class="content">
                <h3>發送紀錄</h3>
                <table class="table table-fullwidth" v-if="logs.length > 0">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Desc</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="log in logs">
                            <td>[[ log.time ]]</td>
                            <td>[[ log.desc ]]</td>
                            <td>[[ log.count ]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $senderschedule= new Vue({
            el: '#senderschedule',
            data: {
                logs: [],
                is_loading: true
            },
            mounted: function() {
                this.loadlogs();
            },
            methods: {
                loadlogs: function() {
                    $this = this;
                    axios.post('./schedule', {casename: 'getlogs'}).then(function(resp) {
                        $senderschedule.logs = resp.data.logs;
                        $this.is_loading = false;
                    });
                },
                send: function() {
                    let msg = window.prompt('請輸入 "SEND" 再次確認發送！');
                    if (msg == 'SEND') {
                        this.is_loading = true;
                        axios.post('./schedule', {casename: 'send'}).then(function(resp) {
                            window.location.href = './schedule';
                        });
                    }
                },
                sendtest: function() {
                    this.is_loading = true;
                    axios.post('./schedule', {casename: 'sendtest'}).then(function(resp) {
                            window.location.href = './schedule';
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
