{% extends "base.html" %}
{% block head_title %} Campaign{% block campaign_title %}{% endblock %}{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Campaign
    </h1>
    <p class="subtitle">{{campaign.name}}</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
			  <aside class="menu">
			    <ul class="menu-list">
                    <li><a href="/sender/{{team.pid}}/{{team.tid}}/">回列表</a></li>
			    </ul>
			    <p class="menu-label">Campaign</p>
			    <ul class="menu-list">
                    <li>
                        <a href="./" class="{% block campaign_index%}{% endblock %}">摘要</a>
                        <ul>
                            <li><a href="./content" class="{% block campaign_content%}{% endblock %}">編輯內容</a></li>
                            <li><a href="./receiver" class="{% block campaign_receiver%}{% endblock %}">發送對象</a></li>
                            <li><a href="./schedule" class="{% block campaign_schedule%}{% endblock %}">排程發送</a></li>
                        </ul>
                    </li>
			    </ul>
			  </aside>
          </div>
          <div class="column">
              {% block campaign_body %}{% endblock %}
          </div>
      </div>
  </div>
</section>
{% endblock %}
