{% extends "setting.html" %}
{% block head_title_setting %}安全保護{% endblock %}
{% block setting_security %}is-active{% endblock %}
{% block setting_body %}
<div class="columns">
    <div class="column">
        <div class='content'>
            <h3>使用中的 Session</h3>
            <table id="alivesession" class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>IP / User Agent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for raw in alive_session %}
                    <tr>
                        <td>
                            <span>{{raw.iso_time}}</span>
                            <span class="tag is-success is-light">{{raw.time_hr}}</span>
                            {% if raw['is_me'] %}
                            <span class="tag is-info">目前工作階段</span>
                            {% else %}
                            <a class="button is-warning is-small is-light" v-on:click="makeDead('{{raw['_id']}}')">登出這個裝置</a>
                            {% endif %}
                            {% if 'ipinfo' in raw %}
                            <br>
                            <span class="tag is-info is-light">{{raw.ipinfo.ip}}</span>
                            <span class="tag is-link is-light">{{raw.ipinfo.city}}, {{raw.ipinfo.region}}</span>
                            {% endif %}
                            <br>
                            <span class="has-text-grey" style="font-size: smaller;">{{raw.header['User-Agent']}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <article class="message is-warning">
                <div class="message-body">
                    登入 Session 保存天數為３日，除非有執行登出。
                </div>
            </article>
            <h3>認證日誌</h3>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>IP / User Agent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for raw in records %}
                    <tr>
                        <td>
                            <span>{{raw.iso_time}}</span><span class="tag is-success is-light">{{raw.time_hr}}</span><br>
                            {% if 'ipinfo' in raw %}
                            <span class="tag is-info is-light">{{raw.ipinfo.ip}}</span>
                            <span class="tag is-link is-light">{{raw.ipinfo.city}}, {{raw.ipinfo.region}}</span>
                            <br>
                            {% endif %}
                            <span class="has-text-grey" style="font-size: smaller;">{{raw.header['User-Agent']}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <article class="message is-warning">
                <div class="message-body">
                    顯示近 25 筆的資料。
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $planform= new Vue({
            el: '#alivesession',
            data: {},
            methods: {
                makeDead: function(sid) {
                    axios.post('./security', {'sid': sid}).then(function(resp) {
                        window.location.href = './security';
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
