{% extends "setting.html" %}
{% block head_title_setting %}連結 chat 帳號{% endblock %}
{% block setting_link_chat %}is-active{% endblock %}
{% block setting_body %}
<div class="columns">
    <div id="settingchat" class="column" v-cloak>
        <div class='content'>
            <h3>連結 chat.coscup.org 帳號</h3>
            <p>COSCUP 在 2020 年搬移 slack 服務改用 <a href="https://chat.coscup.org/">mattermost 建立溝通平台</a>，如果在原來的 slack 已有帳號(mail) ，在新的服務可以透過忘記密碼的方式重新登入。</p>
            <h4>登入 chat.coscup.org</h4>
            <article class="message is-dark">
                <div class="message-body">
                    <a href="https://chat.coscup.org/" target="_blank">https://chat.coscup.org/</a>
                </div>
            </article>
            {% if mml.raw.data %}
            <h4>認證成功</h4>
            <article class="message is-success">
                <div class="message-body">
                    使用者名稱(user_name)：<span class="tag is-family-monospace">{{mml.raw.data.user_name}}</span><br>
                    帳號ID(user_id)：<span class="tag is-family-monospace">{{mml.raw.data.user_id}}</span>
                </div>
            </article>
            <h4>移除連結</h4>
            <p>想要斷開與 chat.coscup.org 的連結，可以按下移除連結按鈕</p>
            <form method="POST">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-warning">移除連結</button>
                    </div>
                </div>
            </form>
            {% else %}
            <h4>輸入驗證</h4>
            <p>請在任何一個對話框輸入以下文字（複製貼上），不用擔心，跑出的文字訊息只有自己看得到。</p>
            <article class="message is-dark">
                <div class="message-body is-family-monospace">
                    <input class="input" type="text" value="/volunteer verify {{mml.raw._id}}.{{mml.raw.code}}" readonly>
                </div>
            </article>
            <p>理論上這步之後就綁定成功了！綁定完後可以重新整理這頁繼續以下操作。</p>
            {% endif %}
            <h3>重新取得登入邀請函</h3>
            <p>登入邀請函只有一天的使用期限，如果不小心超過時間，可以再重新取得一次！</p>
            <p><a class="button is-info"
                  @click="get_invite($event)" :class="{'is-loading': is_loading, 'is-static': is_static}">
                    取得邀請函
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function() {
        let $settingchat = new Vue({
            el: '#settingchat',
            data: {
                is_loading: 0,
                is_static: 0
            },
            methods: {
                get_invite: function($e) {
                    ++this.is_loading;
                    let $btn = $e.target;

                    axios.post('./chat', {casename: 'invite'}).then(function(resp) {
                        $btn.innerText = '來去信箱收信';
                        --$settingchat.is_loading;
                        ++$settingchat.is_static;
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
