{% extends "setting.html" %}
{% block head_title_setting %}真實資料{% endblock %}
{% block setting_profile_real %}is-active{% endblock %}
{% block setting_body %}
<div class="columns">
    <div class="column">
        <div class="content">
            <h2>真實個人資訊</h2>
            <hr>
            <form id="profileform" method="POST">
                <div class="field">
                    <label class="label">姓名 <span class="tag is-info is-light">住宿</span> <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="name" type="text" value="{{user.profile_real.name}}">
                    </div>
                    <p class="help is-success">真實世界的姓名</p>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Phone <span class="tag is-light">國碼</span></label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="phone_code" class="is-family-monospace" v-model="defaultCode">
                                        {% for code, country in phone_codes %}
                                        {% if country[0] != '001' %}
                                        <option value="{{code}}">{{country[0]}} +{{code}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"><span class="tag is-info is-light">住宿</span> <span class="tag is-link is-light">組長</span></label>
                            <div class="control">
                                <input class="input" name="phone" type="tel" value="{{user.profile_real.phone}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">出生年月日 <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="birthday" type="date" value="{{user.profile_real.birthday}}">
                    </div>
                    <p class="help is-success">這是檢查成年是否</p>
                </div>
                <div class="field">
                    <label class="label">身分證字號 <span class="tag is-info is-light">住宿</span> <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="roc_id" type="text" value="{{user.profile_real.roc_id}}">
                    </div>
                    <p class="help is-success">A187654321</p>
                </div>
                <div class="field">
                    <label class="label">組織單位（學校/公司） <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="company" type="text" value="{{user.profile_real.company}}">
                    </div>
                    <p class="help is-success">完整的學校/公司名稱</p>
                </div>
                <h3>銀行資訊 <span class="tag is-link is-light">交通費補助</span></h3>
                <hr>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">銀行代碼</label>
                            <div class="control">
                                <input class="input" name="account_bank_code" pattern="[0-9]{3}" value="{{user.profile_real.bank.code}}">
                            </div>
                            <p class="help is-success">銀行代碼</p>
                        </div>
                        <div class="field">
                            <label class="label">銀行帳號</label>
                            <div class="control">
                                <input class="input" name="account_bank_no" value="{{user.profile_real.bank.no}}">
                            </div>
                            <p class="help is-success">銀行帳號</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">分行名稱</label>
                            <div class="control">
                                <input class="input" name="account_bank_branch" value="{{user.profile_real.bank.branch}}">
                            </div>
                            <p class="help is-success">例：新莊分行，也可以<a target="_blank" href="https://www.fisc.com.tw/tc/download/twd.txt">查詢</a>這張表。</p>
                        </div>
                        <div class="field">
                            <label class="label">戶名</label>
                            <div class="control">
                                <input class="input" name="account_bank_name" value="{{user.profile_real.bank.name}}">
                            </div>
                            <p class="help is-success">帳戶名稱，通常是本名為戶名</p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div class="column is-two-fifths">
        <div class="content">
            <article class="message is-small is-dark">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    這裡的項目並非必填，主要用在辦理住宿申請、補助款轉帳時用到資訊。申請相關服務的時候會提示回來這裡補齊所需的欄位資料。
                    申請服務在加入組別後，會出現在左側功能列表上，再依需求申請即可。
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    工作人員住宿：姓名、身分證字號、電話
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    交通費補助：銀行資訊
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    志工時數證明：姓名、身分證字號、出生年月日、組織單位（學校/公司）
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    感謝狀：（如要使用真實姓名）
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    組長：電話會提供給組長聯絡使用。
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    (function () {
        let $profileform = new Vue({
            el: '#profileform',
            data: {
                defaultCode: '{{default_code}}'
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
