{% extends "setting.html" %}
{% block head_title_setting %}關於我{% endblock %}
{% block setting_profile %}is-active{% endblock %}
{% block setting_body %}
<div class="columns">
    <div class="column">
        <div class="content">
            <h2>個人資訊</h2>
            <hr>
            <form method="POST">
                <div class="field">
                    <label class="label">Name*</label>
                    <div class="control">
                        <input class="input" name="badge_name" type="text" value="{{user.profile.badge_name}}" required>
                    </div>
                    <p class="help is-success">名牌顯示的稱呼。</p>
                </div>
                <div class="field">
                    <label class="label">Intro</label>
                    <div class="control">
                        <textarea class="textarea" name="intro" placeholder="自我介紹 ...">{{user.profile.intro}}</textarea>
                    </div>
                    <p class="help is-success">可使用 markdown 語法</p>
                </div>
                <div class="field">
                    <button class="button is-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div class="column is-two-fifths">
        <div class="content">
            <article class="message is-small is-dark">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    這裡的資訊會公開，讓其他人來瞭解你的部分。這裡的內容會呈現在<a href="/user/{{user._id}}">「關於我」</a>的頁面。
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    可在此描述您個人所會的技能，包括語言、經驗、才藝等。在申請加入小組時，組長可以參考您的個人頁面。
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
