{% extends "setting.html" %}
{% block head_title_setting %}真實資料{% endblock %}
{% block setting_profile_real %}is-active{% endblock %}
{% block setting_body %}
<div class="columns">
    <div class="column">
        <div class="content">
            <h2>真實個人資訊</h2>
            <form id="profileform" method="POST" v-on:submit.prevent="send" v-cloak>
                <div class="field">
                    <label class="label">姓名 <span class="tag is-info is-light">住宿</span> <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="name" type="text" v-model="profile.name">
                    </div>
                    <p class="help is-success">真實世界的姓名</p>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Phone <span class="tag is-light">國碼</span></label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="phone_code" class="is-family-monospace" v-model="defaultCode">
                                        <option v-for="codes in phoneCodes" :value="codes[0]">[[ codes[1][0] ]] +[[ codes[0] ]]</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"><span class="tag is-info is-light">住宿</span> <span class="tag is-link is-light">組長</span></label>
                            <div class="control">
                                <input class="input" name="phone" type="tel" v-model="profile.phone">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">出生年月日 <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="birthday" type="date" v-model="profile.birthday">
                    </div>
                    <p class="help is-success">這是檢查成年是否</p>
                </div>
                <div class="field">
                    <label class="label">身分證字號 <span class="tag is-info is-light">住宿</span> <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="roc_id" type="text" v-model="profile.roc_id">
                    </div>
                    <p class="help is-success">A187654321</p>
                </div>
                <div class="field">
                    <label class="label">組織單位（學校/公司） <span class="tag is-warning is-light">志工時數</span></label>
                    <div class="control">
                        <input class="input" name="company" type="text" v-model="profile.company">
                    </div>
                    <p class="help is-success">完整的學校/公司名稱</p>
                </div>
                <hr style="border: 3px solid #cfe8d4;border-radius: 3px;">
                <h3>飲食習慣 <span class="tag is-link is-light">餐點外燴</span></h3>
                <div class="field">
                    <label class="label">需注意的項目</label>
                    <div class="control">
                        <label class="checkbox mr-3" v-for="ditem in dietaryHabit">
                            <input type="checkbox" :value="ditem[0]" v-model="profile.dietary_habit">
                            [[ ditem[1] ]]
                        </label>
                    </div>
                </div>
                <hr style="border: 3px solid #cfe8d4;border-radius: 3px;">
                <h3>收件地址 <span class="tag is-link is-light">紀念品發送</span></h3>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">郵遞區號</label>
                            <div class="control">
                                <input class="input" name="address_code" pattern="[0-9\-]{3,7}" v-model="profile.address.code">
                            </div>
                            <p class="help is-success"><a target="_blank" href="https://www.post.gov.tw/post/internet/Postal/index.jsp?ID=208">郵遞區號，最好為 3+3 的方式提供</a>，格式為 ######</p>
                        </div>
                        <div class="field">
                            <label class="label">收件人</label>
                            <div class="control">
                                <input class="input" name="address_receiver" v-model="profile.address.receiver">
                            </div>
                            <p class="help is-success">本名或暱稱，可以知道是寄給你的</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">地址</label>
                            <div class="control">
                                <input class="input" name="address" v-model="profile.address.address">
                            </div>
                            <p class="help is-success">請記得包含縣市、區域的地址。例如：台北市信義區 ...</p>
                        </div>
                    </div>
                </div>
                <hr style="border: 3px solid #cfe8d4;border-radius: 3px;">
                <h3>銀行資訊 <span class="tag is-link is-light">交通費補助</span></h3>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">銀行代碼</label>
                            <div class="control">
                                <input class="input" name="account_bank_code" pattern="[0-9]{3}" v-model="profile.bank.code">
                            </div>
                            <p class="help is-success">銀行代碼</p>
                        </div>
                        <div class="field">
                            <label class="label">銀行帳號</label>
                            <div class="control">
                                <input class="input" name="account_bank_no" v-model="profile.bank.no">
                            </div>
                            <p class="help is-success">銀行帳號</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">分行名稱</label>
                            <div class="control">
                                <input class="input" name="account_bank_branch" v-model="profile.bank.branch">
                            </div>
                            <p class="help is-success">例：新莊分行，也可以<a target="_blank" href="https://www.fisc.com.tw/tc/download/twd.txt">查詢</a>這張表。</p>
                        </div>
                        <div class="field">
                            <label class="label">戶名</label>
                            <div class="control">
                                <input class="input" name="account_bank_name" v-model="profile.bank.name">
                            </div>
                            <p class="help is-success">帳戶名稱，通常是本名為戶名</p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div class="column is-two-fifths">
        <div class="content">
            <article class="message is-small is-dark">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    這裡的項目並非必填，主要用在辦理住宿申請、補助款轉帳時用到資訊。申請相關服務的時候會提示回來這裡補齊所需的欄位資料。
                    申請服務在加入組別後，會出現在左側功能列表上，再依需求申請即可。
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    工作人員住宿：姓名、身分證字號、電話
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    交通費補助：銀行資訊
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    志工時數證明：姓名、身分證字號、出生年月日、組織單位（學校/公司）
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    感謝狀：（如要使用真實姓名）
                </div>
            </article>
            <article class="message is-small is-info">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    組長：電話會提供給組長聯絡使用。
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $profileform = new Vue({
            el: '#profileform',
            data: {
                defaultCode: '',
                phoneCodes: [],
                dietaryHabit: [],
                profile: {bank: {}, address: {}}
            },
            mounted: function() {
                this.load();
            },
            methods: {
                load: function() {
                    axios.post('./profile_real', {'casename': 'get'}).then(function(resp) {
                        $profileform.profile = resp.data.profile;
                        $profileform.defaultCode = resp.data.default_code;
                        $profileform.phoneCodes = resp.data.phone_codes;
                        $profileform.dietaryHabit = resp.data.dietary_habit;
                    });
                },
                send: function() {
                    this.profile.phone_code = this.defaultCode;
                    axios.post('./profile_real', {'casename': 'update', 'data': this.profile}).then(function(resp) {
                        window.location.href = './profile_real';
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
