{% extends "base.html" %}
{% block head_title %}{{g.user.data.name}} 設定 {%block head_title_setting%}{%endblock%} [{{g.user.account._id}}]{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Setting
    </h1>
    <p class="subtitle">設定頁面</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
			  <aside class="menu">
			    <p class="menu-label">General</p>
			    <ul class="menu-list">
                    <li><a href="/setting/" class="{% block setting_index %}{% endblock %}">首頁</a></li>
			    </ul>
			    <p class="menu-label">Profile</p>
			    <ul class="menu-list">
                    <li><a href="/setting/profile" class="{% block setting_profile%}{% endblock %}">我的簡介</a></li>
                    <li><a href="/setting/profile_real" class="{% block setting_profile_real %}{% endblock %}">真實資料</a></li>
                    <li><a href="/setting/link/chat" class="{% block setting_link_chat %}{% endblock %}">連結 chat 帳號</a></li>
                    <li><a href="/setting/link/telegram" class="{% block setting_link_telegram %}{% endblock %}">連結 Telegram 帳號</a></li>
			    </ul>
			    <p class="menu-label">Others</p>
			    <ul class="menu-list">
                    <li><a href="/setting/mails" class="{% block setting_mails %}{% endblock %}">郵件通知</a></li>
                    <li><a href="/setting/waitting" class="{% block setting_waitting %}{% endblock %}">組別申請狀況</a></li>
                    <li><a href="/setting/security" class="{% block setting_security %}{% endblock %}">安全保護</a></li>
                    <li><a href="/setting/api_token" class="{% block setting_api_token %}{% endblock %}">取得 API Token</a></li>
			    </ul>
			  </aside>
          </div>
          <div class="column">
              {% block setting_body %}{% endblock %}
          </div>
      </div>
  </div>
</section>
{% endblock %}
