{% extends "base.html" %}
{% block head_title %} - Task {{project.name}}{% endblock %}
{% block body %}
<section class="hero is-success">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tasks: {{project.name}}
            </h1>
            <h3 class="subtitle">
                工作列表
            </h3>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active has-text-success"><a href="/tasks/">返回 / Back</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <div id="tasks" class="columns">
            <div class="column is-10 is-offset-1" v-cloak>
                <div class="content">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <a class="button" @click="star($event)">
                                <span class="icon has-text-warning" v-if="is_star">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="icon" v-if="!is_star">
                                    <i class="far fa-star"></i>
                                </span>
                                <span v-if="!is_star">關注新增活動</span>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button" @click="window.print()">
                                <span class="icon"><i class="fas fa-print"></i></span>
                                <span>列印</span>
                            </a>
                        </div>
                        <div class="control" v-if="is_in_project">
                            <a class="button is-info is-outlined" href="/tasks/{{project._id}}/add">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>建立需求單</span>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Date / Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="mdate in mdatas.entries()" v-if="mdatas.size > 0">
                            <td>
                                <div class="columns">
                                    <div class="column is-2">
                                        <p class="is-family-monospace has-text-weight-bold">[[ mdate[0] ]]</p>
                                        <progress class="progress is-small is-info" style="margin-bottom:.2rem;"
                                            :value="sumpeoples(mdate[1])" :max="sumlimits(mdate[1])">
                                            volunteers
                                        </progress>
                                        <div>
                                            <span class="icon has-text-success-dark"><i class="fas fa-user-friends"></i></span>
                                            <span>[[ sumpeoples(mdate[1]) ]] / [[ sumlimits(mdate[1]) ]]</span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <table v-for="mcate in mdate[1]"
                                               class="table is-fullwidth is-hoverable is-narrow"
                                               style="border: 1px solid #eef6fc;border-collapse:separate;border-radius:5px;"
                                            >
                                            <thead>
                                                <tr>
                                                    <th colspan=4 class="has-background-info-light">
                                                        <div class="tags has-addons">
                                                            <span class="tag is-success is-light">
                                                                <span class="icon"><i class="far fa-folder-open"></i></span>
                                                            </span>
                                                            <span v-if="mcate[0]" class="tag is-info">[[ mcate[0] ]]</span>
                                                            <span v-if="!mcate[0]" class='tag'>未分類</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th width="35%">Title</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                    <th>Volunteers</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="row in mcate[1]">
                                                    <td style="vertical-align: middle;">
                                                        <p>
                                                            <a :href="'./'+row.pid+'/r/'+row._id"
                                                                v-on:click.stop.prevent="detail(row)">
                                                                <span class="icon" v-if="!row._joined">
                                                                    <i class="fas fa-thumbtack"></i>
                                                                </span>
                                                                <span class="icon has-text-success" v-if="row._joined">
                                                                    <i class="far fa-check-square"></i>
                                                                </span>
                                                                <span>[[ row.title ]]</span>
                                                            </a>
                                                        </p>
                                                    </td>
                                                    <td style="vertical-align: middle;">
                                                        [[ new Date(row.starttime).toLocaleTimeString('zh-Hant', {hour12: false}) ]]</td>
                                                    <td style="vertical-align: middle;">
                                                        [[ new Date(row.endtime).toLocaleTimeString('zh-Hant', {hour12: false}) ]]</td>
                                                    <td style="vertical-align: middle;">
                                                        <progress class="progress is-small" style="margin-bottom:.2rem;"
                                                            :class="{'is-danger': row.people.length/row.limit < 0.8,
                                                                     'is-success': row.people.length/row.limit >= 0.8}"
                                                            :value="row.people.length" :max="row.limit">
                                                            volunteers
                                                        </progress>
                                                        <div class="buttons">
                                                            <a class="button is-small" :href="'./'+row.pid+'/r/'+row._id"
                                                                v-on:click.stop.prevent="detail(row)">
                                                                <span class="icon"
                                                                    :class="{'has-text-danger': row.people.length/row.limit < 0.8,
                                                                             'has-text-success': row.people.length/row.limit >= 0.8}"
                                                                >
                                                                    <i class="fas fa-user-friends"></i>
                                                                </span>
                                                                <span>[[ row.people.length ]] / [[ row.limit ]]</span>
                                                            </a>
                                                            <a class="button is-small" v-if="!row._login"
                                                               href="/oauth2callback?r=/tasks/{{project.pid}}">登入</a>
                                                            <a class="button is-small" v-if="row._is_in_project"
                                                               :href="'/tasks/'+row.pid+'/edit/'+row._id">
                                                                <span class="icon"><i class="far fa-edit"></i></span></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="content">
                    <pre>[[ datas ]]</pre>
                </div>
            </div>
            <!-- modal -->
            <div class="modal" :class="{'is-active': Object.keys(modal).length > 0}">
                <div class="modal-background" @click="modalclose"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">[[ modal.title ]]<span class="tag">[[ modal._id ]]</span></p>
                        <button class="delete" aria-label="close" @click="modalclose"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="content">
                            <h4>Detail</h4>
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <td>[[ modal.title ]]</td>
                                    </tr>
                                    <tr>
                                        <td>Start</td>
                                        <td>[[ new Date(modal.starttime).toLocaleString() ]]</td>
                                    </tr>
                                    <tr>
                                        <td>End</td>
                                        <td>[[ new Date(modal.endtime).toLocaleString() ]]</td>
                                    </tr>
                                    <tr>
                                        <td>Desc</td>
                                        <td v-html="prettydesc(modal.desc)"></td>
                                    </tr>
                                    <tr v-if="modal.creator && Object.keys(modal.creator).length > 0">
                                        <td>Post by</td>
                                        <td>
                                            <div class="buttons has-addons">
                                                <a class="button" :href="'/user/'+modal.creator.uid">
                                                    <span class="icon"><i class="far fa-id-badge"></i></span>
                                                    <span>[[modal.creator.name]]</span>
                                                </a>
                                                <a class="button" v-if="modal.creator && modal.creator.mattermost_uid"
                                                    :href="'https://chat.coscup.org/coscup/messages/@'+modal.creator.mattermost_uid">
                                                    <span class="icon"><i class="far fa-comments"></i></span>
                                                </a>
                                        </td>
                                    </tr>
                                    <tr v-if="Object.keys(modal).length">
                                        <td>Volunteers</td>
                                        <td>
                                            <progress class="progress is-small" style="margin-bottom:.2rem;"
                                                :class="{'is-danger': modal.people.length/modal.limit < 0.8,
                                                         'is-success': modal.people.length/modal.limit >= 0.8}"
                                                :value="modal.people.length" :max="modal.limit">
                                                volunteers
                                            </progress>
                                            <span>[[ modal.people.length ]] / [[ modal.limit ]]</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <article class="message is-info"
                                v-if="modal.creator && Object.keys(modal.creator).length > 0">
                                <div class="message-body">
                                    有任何疑問可以直接詢問 <strong>[[ modal.creator.name ]]</strong>，或是前往大會服務台旁的<strong>志工服務台</strong>，我們有專人為您服務。
                                </div>
                            </article>
                        </div>
                        <div class="content" v-if="modal.peoples && Object.keys(modal.peoples).length > 0">
                            <h4>Volunteers <small><span class="tag is-info is-light">Staff view only</span></small></h4>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th>avatar</th>
                                        <th>name</th>
                                        <th>info</th>
                                    </tr>
                                <thead>
                                <tbody>
                                    <tr v-for="uid in Object.keys(modal.peoples)">
                                        <td style="vertical-align:middle;">
                                            <figure class="image is-48x48">
                                                <img class="is-rounded" :src="modal.peoples[uid].picture">
                                            </figure>
                                        </td>
                                        <td style="vertical-align:middle;">[[modal.peoples[uid].name]]</td>
                                        <td style="vertical-align:middle;">
                                            <div class="buttons is-small">
                                                <a class="button" :href="'/user/'+uid">
                                                    <span class="icon"><i class="far fa-id-badge"></i></span>
                                                </a>
                                                <a class="button" v-if="modal.peoples[uid].mattermost_uid"
                                                    :href="'https://chat.coscup.org/coscup/messages/@'+modal.peoples[uid].mattermost_uid">
                                                    <span class="icon"><i class="far fa-comments"></i></span>
                                                </a>
                                                <a class="button" :href="'mailto:'+modal.peoples[uid].mail">
                                                    <span class="icon"><i class="far fa-paper-plane"></i></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pre>[[ modal ]]</pre>
                    </section>
                    <footer class="modal-card-foot">
                        <button v-if="!modal._joined" @click="join(modal, $event)" class="button is-success">
                            <span class="icon"><i class="fas fa-user-plus"></i></span>
                            <span>我要幫忙</span>
                        </button>
                        <button v-if="modal._joined" @click="cancel(modal, $event)" class="button is-danger">
                            <span class="icon"><i class="fas fa-user-times"></i></span>
                            <span>取消幫忙</span>
                        </button>
                        <button class="button" @click="modalclose">
                            <span class="icon"><i class="far fa-times-circle"></i></span>
                            <span>Close</span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $tasks = new Vue({
            el: '#tasks',
            data: {
                is_in_project: false,
                is_star: false,
                datas: [],
                mdatas: new Map(),
                modal: {}
            },
            mounted: function() {
                this.load();
            },
            methods: {
                dateformat: function(datetime) {
                    let date = new Date(datetime);
                    let datef = date.toLocaleDateString(
                        'ja', {year: 'numeric', month: '2-digit', day: '2-digit'});
                    let weekf = date.toLocaleDateString(
                        'en-US', {weekday: 'short'});

                    return datef +' '+weekf+'.';
                },
                sumpeoples: function(datas) {
                    let peoples = 0;
                    datas.forEach(function(data) {
                        data.forEach(function(tdata) {
                            peoples = peoples + tdata.people.length;
                        });
                    });
                    return peoples;
                },
                sumlimits: function(datas) {
                    let limits = 0;
                    datas.forEach(function(data) {
                        data.forEach(function(tdata) {
                            limits = limits + tdata.limit;
                        });
                    });
                    return limits;
                },
                modalclose: function() {
                    this.modal = {};
                },
                detail: function(data) {
                    this.modal = data;
                    if (!data.creator) {
                        axios.post('./{{project._id}}', {casename: 'peoples', task_id: data._id},
                            {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                                if (resp.status != 200) {
                                    return
                                } else {
                                    $tasks.modal['peoples'] = resp.data.peoples;
                                    $tasks.modal['creator'] = resp.data.creator;
                                    $tasks.$forceUpdate();
                                }
                            });
                    }
                },
                join: function(data, $e) {
                    let $footer_btn = $e.target.closest('footer').querySelectorAll('button');
                    $footer_btn.forEach(function(btn) {
                        btn.classList.add('is-loading');
                    });

                    axios.post('./{{project._id}}', {casename: 'join', task_id: data._id},
                        {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                            if (resp.status != 200) {
                                if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                    window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                }
                            } else {
                                $tasks.detail(resp.data.data);
                                $tasks.load();
                            }
                            $footer_btn.forEach(function(btn) {
                                btn.classList.remove('is-loading');
                            });
                    });

                },
                star: function($e) {
                    let $btns = $e.target.closest('.control').querySelectorAll('.button');
                    $btns.forEach(function(btn) {
                        btn.classList.add('is-loading');
                    });
                    axios.post('./{{project._id}}', {casename: 'star'},
                        {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                            if (resp.status != 200) {
                                if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                    window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                }
                            } else {
                                $tasks.is_star = resp.data.is_star;
                            }
                            $btns.forEach(function(btn) {
                                btn.classList.remove('is-loading');
                            });
                        });
                },
                cancel: function(data, $e) {
                    let $footer_btn = $e.target.closest('footer').querySelectorAll('button');
                    $footer_btn.forEach(function(btn) {
                        btn.classList.add('is-loading');
                    });

                    axios.post('./{{project._id}}', {casename: 'cancel', task_id: data._id},
                        {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                            if (resp.status != 200) {
                                if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                    window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                }
                            } else {
                                $tasks.detail(resp.data.data);
                                $tasks.load();
                            }
                            $footer_btn.forEach(function(btn) {
                                btn.classList.remove('is-loading');
                            });
                    });

                },
                load: function() {
                    axios.post('./{{project._id}}', {casename: 'get'}).then(function(resp) {
                        $tasks.datas = resp.data.datas;
                        $tasks.is_in_project = resp.data.is_in_project;
                        $tasks.is_star = resp.data.is_star;

                        resp.data.datas.forEach(function(data) {
                            $tasks.mdatas.set($tasks.dateformat(data.starttime), new Map());
                        });
                        resp.data.datas.forEach(function(data) {
                            let catemap = $tasks.mdatas.get($tasks.dateformat(data.starttime));
                            catemap.set(data.cate, new Array());
                        });
                        resp.data.datas.forEach(function(data) {
                            let date = $tasks.dateformat(data.starttime);
                            let catemap = $tasks.mdatas.get(date);
                            let rawlist = catemap.get(data.cate);

                            rawlist.push(data);
                            catemap.set(data.cate, rawlist);
                            $tasks.mdatas.set(date, catemap);
                        });
                    });
                },
                prettydesc: function(text) {
                    if (text && text.length > 0) {
                        return text.split('\n').join('<br>');
                    }
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
