{% extends "base.html" %}
{% block head_title %}一日志工 志工任務 Tasks {{project.name}}{% endblock %}
{%block og%}
<meta property="og:title" content="{{project.name}}'s Tasks - 志工任務平台 Volunteer with COSCUP! 志工服務系統">
<meta property="og:type" content="website">
<meta property="og:site_name" content="COSCUP Volunteer">
<meta property="og:image" content="https://volunteer.coscup.org/img/volunteer_tasks_paper_marketing.png">
<meta property="og:description" content="找任務、接任務、解任務、領獎賞">
<meta property="twitter:title" content="{{project.name}}'s Tasks - 志工任務平台 Volunteer with COSCUP! 志工服務系統">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@coscup">
{%endblock%}
{% block style %}
<style>
  .tophero {
      background-position: center bottom;
      background-repeat:  no-repeat;
      background-size:  cover;
      background-image: url('https://volunteer.coscup.org/img/volunteer_tasks_paper_marketing.png');
  }
  .tophero .title,
  .tophero .subtitle {
      text-shadow: 1px 1px 2px #000;
      color: #fff !important;
  }
  .modal-card pre {
      white-space:pre-wrap;
      border-radius: 5px;
      border: 1px solid #efefef;
  }
</style>
{%endblock%}
{% block body %}
<section class="hero is-success is-large tophero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tasks: {{project.name}}
            </h1>
            <h2 class="subtitle">
                找任務、接任務、解任務、領獎賞
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active has-text-success"><a href="/tasks/">返回 / Back</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4 is-offset-1">
                <div class="content">
                    <div class="notification is-dark">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        在活動期間能讓你與其他會眾捲起袖子瞬間轉職為志工，想要挑戰解任務嗎？想要一同參與我們嗎？想要在不知道要去聽哪一個議程時打發時間嗎？我們有些任務需要你的協助，如果願意協助我們並完成任務，會有小小的獎賞當作回饋。
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="content">
                    <div class="notification is-info is-light">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        如何開始？找到可以協助的任務，在接下任務前請仔細閱讀任務目標，閱讀後按下<strong>「我要幫忙」</strong>登記，請在時間開始前找到<strong>任務負責人</strong>並聽取「任務簡報」後，就能開始執行任務！。
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="content">
                    <div class="notification is-warning is-light">
                        <span class="icon"><i class="fas fa-info-circle"></i></span>
                        如果你對任務有疑問或是突然找不到任務負責人，請前往<strong>任務總部—「志工服務台」</strong>，我們將會使用 1893 年特斯拉所發明的<a href="https://zh.wikipedia.org/zh-tw/%E6%97%A0%E7%BA%BF%E7%94%B5">技術</a>、招喚各地的秘密特工緊急協尋任務負責人。
                    </div>
                </div>
            </div>
        </div>
        <div id="tasks" class="columns">
            <div class="column is-10 is-offset-1" v-cloak>
                <div class="content">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control">
                            <a class="button" @click="star($event)">
                                <span class="icon has-text-warning" v-if="is_star">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="icon" v-if="!is_star">
                                    <i class="far fa-star"></i>
                                </span>
                                <span v-if="!is_star">關注新增活動</span>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button" @click="load" data-name="reload">
                                <span class="icon"><i class="fas fa-sync"></i></span>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button" @click="window.print()">
                                <span class="icon"><i class="fas fa-print"></i></span>
                            </a>
                        </div>
                        <div class="control" v-if="is_in_project">
                            <a class="button is-info is-outlined" href="/tasks/{{project._id}}/add">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>建立需求單</span>
                            </a>
                        </div>
                        {% if g.user and g.user.data %}{%else%}
                        <div class="control">
                            <a class="button is-info is-outlined"
                               href="/oauth2callback?r=/tasks/{{project.pid}}">登入</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Date / Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="mdate in mdatas.entries()" v-if="mdatas.size > 0">
                            <td>
                                <div class="columns">
                                    <div class="column is-2">
                                        <p class="is-family-monospace has-text-weight-bold">[[ mdate[0] ]]</p>
                                        <progress class="progress is-small is-info" style="margin-bottom:.2rem;"
                                            :value="sumpeoples(mdate[1])" :max="sumlimits(mdate[1])">
                                            volunteers
                                        </progress>
                                        <div>
                                            <span class="icon has-text-success-dark"><i class="fas fa-user-friends"></i></span>
                                            <span>[[ sumpeoples(mdate[1]) ]] / [[ sumlimits(mdate[1]) ]]</span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <table v-for="mcate in mdate[1]"
                                               class="table is-fullwidth is-hoverable is-narrow"
                                               style="border: 1px solid #eef6fc;border-collapse:separate;border-radius:5px;"
                                            >
                                            <thead>
                                                <tr>
                                                    <th class="has-background-info-light">
                                                        <div :id="'tag'+hashCode(mdate[0]+mcate[0])" class="tags has-addons">
                                                            <span class="tag is-success is-light">
                                                                <span class="icon"><i class="far fa-folder-open"></i></span>
                                                            </span>
                                                            <span v-if="mcate[0]" class="tag is-info">[[ mcate[0] ]]</span>
                                                            <span v-if="!mcate[0]" class='tag'>未分類</span>
                                                            <span class="tag">
                                                                <a :href="'#tag'+hashCode(mdate[0]+mcate[0])">
                                                                    <span class="icon"><i class="fas fa-link"></i></span></a>
                                                            </span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="row in mcate[1]">
                                                    <td>
                                                        <div class="columns">
                                                            <div class="column">
                                                                <div class="columns">
                                                                    <div class="column pb-1">
                                                                        <p><a :href="'./'+row.pid+'/r/'+row._id"
                                                                            v-on:click.stop.prevent="detail(row)">
                                                                            <span class="icon" v-if="!row._joined">
                                                                                <i class="fas fa-thumbtack"></i>
                                                                            </span>
                                                                            <span class="icon has-text-success" v-if="row._joined">
                                                                                <i class="far fa-check-square"></i>
                                                                            </span>
                                                                            <span>[[ row.title ]]</span></a></p>
                                                                        <div class="is-size-7"
                                                                             style="width:220px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;"><span class="icon"><i class="far fa-sticky-note"></i></span><span>[[ row.desc ]]</span></div>
                                                                    </div>
                                                                    <div class="column is-5 pb-1">
                                                                        <span class="icon"><i class="far fa-clock"></i></span>
                                                                        <span>[[ new Date(row.starttime).toLocaleTimeString('zh-Hant', {hour12: false}) ]] - [[ new Date(row.endtime).toLocaleTimeString('zh-Hant', {hour12: false}) ]]</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="column is-3">
                                                                <progress class="progress is-small" style="margin-bottom:.2rem;"
                                                                    :class="{'is-danger': row.people.length/row.limit < 0.8,
                                                                             'is-success': row.people.length/row.limit >= 0.8}"
                                                                    :value="row.people.length" :max="row.limit">
                                                                    volunteers
                                                                </progress>
                                                                <div class="buttons">
                                                                    <a class="button is-small" :href="'./'+row.pid+'/r/'+row._id"
                                                                        v-on:click.stop.prevent="detail(row)">
                                                                        <span class="icon"
                                                                            :class="{'has-text-danger': row.people.length/row.limit < 0.8,
                                                                                     'has-text-success': row.people.length/row.limit >= 0.8}"
                                                                        >
                                                                            <i class="fas fa-user-friends"></i>
                                                                        </span>
                                                                        <span>[[ row.people.length ]] / [[ row.limit ]]</span>
                                                                    </a>
                                                                    <a class="button is-small" :href="'/tasks/'+row.pid+'/r/'+row._id"
                                                                        @click="golink(row, $event)">
                                                                        <span class="icon"><i class="fas fa-link"></i></span>
                                                                    </a>
                                                                    <a class="button is-small" v-if="row._is_in_project"
                                                                       :href="'/tasks/'+row.pid+'/edit/'+row._id">
                                                                        <span class="icon"><i class="far fa-edit"></i></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-right">
                                <a class="button is-small" @click="load" data-name="reload">
                                    <span class="icon"><i class="fas fa-sync"></i></span>
                                    <span>[[ last_update ]]</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- modal -->
            <div class="modal" :class="{'is-active': Object.keys(modal).length > 0}">
                <div class="modal-background" @click="modalclose"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">[[ modal.title ]]<span class="tag">[[ modal._id ]]</span></p>
                        <button class="delete" aria-label="close" @click="modalclose"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="content">
                            <h4>Detail</h4>
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <td>[[ modal.title ]]</td>
                                    </tr>
                                    <tr>
                                        <td>Start</td>
                                        <td>[[ new Date(modal.starttime).toLocaleString() ]]</td>
                                    </tr>
                                    <tr>
                                        <td>End</td>
                                        <td>[[ new Date(modal.endtime).toLocaleString() ]]</td>
                                    </tr>
                                    <tr>
                                        <td>Desc</td>
                                        <td>
                                          <pre>[[ modal.desc ]]</pre>
                                        </td>
                                    </tr>
                                    <tr v-if="modal.creator && Object.keys(modal.creator).length > 0">
                                        <td>Post by</td>
                                        <td>
                                            <div class="buttons has-addons">
                                                <a class="button" :href="'/user/'+modal.creator.uid">
                                                    <span class="icon"><i class="far fa-id-badge"></i></span>
                                                    <span>[[modal.creator.name]]</span>
                                                </a>
                                                <a class="button" v-if="modal.creator && modal.creator.mattermost_uid"
                                                    :href="'https://chat.coscup.org/coscup/messages/@'+modal.creator.mattermost_uid">
                                                    <span class="icon"><i class="far fa-comments"></i></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-if="Object.keys(modal).length">
                                        <td>Volunteers</td>
                                        <td>
                                            <progress class="progress is-small" style="margin-bottom:.2rem;"
                                                :class="{'is-danger': modal.people.length/modal.limit < 0.8,
                                                         'is-success': modal.people.length/modal.limit >= 0.8}"
                                                :value="modal.people.length" :max="modal.limit">
                                                volunteers
                                            </progress>
                                            <span>[[ modal.people.length ]] / [[ modal.limit ]]</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <article class="message is-info my-2"
                                v-if="modal.creator && Object.keys(modal.creator).length > 0">
                                <div class="message-body">
                                    <span class="icon"><i class="fas fa-info-circle"></i></span>
                                    <span>請在時間開始前找到<strong>任務負責人：[[modal.creator.name]]</strong> 開始任務，有任何疑問可以直接詢問 <strong>[[ modal.creator.name ]]</strong>，或是前往<strong>TR409-2 志工服務台</strong>，我們有專人為您服務。</span>
                                </div>
                            </article>
                        </div>
                        <div class="content" v-if="modal.peoples && Object.keys(modal.peoples).length > 0">
                            <h4>Volunteers <small><span class="tag is-info is-light">Staff view only</span></small></h4>
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th>avatar</th>
                                        <th>name</th>
                                        <th>info</th>
                                    </tr>
                                <thead>
                                <tbody>
                                    <tr v-for="uid in Object.keys(modal.peoples)">
                                        <td style="vertical-align:middle;">
                                            <figure class="image is-48x48">
                                                <img class="is-rounded" :src="modal.peoples[uid].picture">
                                            </figure>
                                        </td>
                                        <td style="vertical-align:middle;">[[modal.peoples[uid].name]]</td>
                                        <td style="vertical-align:middle;">
                                            <div class="buttons is-small">
                                                <a class="button" :href="'/user/'+uid">
                                                    <span class="icon"><i class="far fa-id-badge"></i></span>
                                                </a>
                                                <a class="button" v-if="modal.peoples[uid].mattermost_uid"
                                                    :href="'https://chat.coscup.org/coscup/messages/@'+modal.peoples[uid].mattermost_uid">
                                                    <span class="icon"><i class="far fa-comments"></i></span>
                                                </a>
                                                <a class="button" :href="'mailto:'+modal.peoples[uid].mail">
                                                    <span class="icon"><i class="far fa-envelope"></i></span>
                                                </a>
                                                <button @click="cancel_user(modal, uid, $event)" class="button is-danger">
                                                    <span class="icon"><i class="fas fa-user-times"></i></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button v-if="!modal._joined" @click="join(modal, $event)" class="button is-success">
                            <span class="icon"><i class="fas fa-user-plus"></i></span>
                            <span>我要幫忙</span>
                        </button>
                        <button v-if="modal._joined" @click="cancel(modal, $event)" class="button is-danger">
                            <span class="icon"><i class="fas fa-user-times"></i></span>
                            <span>取消幫忙</span>
                        </button>
                        <button class="button" @click="modalclose">
                            <span class="icon"><i class="far fa-times-circle"></i></span>
                            <span>Close</span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $tasks = new Vue({
            el: '#tasks',
            data: {
                is_in_project: false,
                is_star: false,
                last_update: new Date(),
                mdatas: new Map(),
                modal: {}
            },
            mounted: function() {
                this.load();
            },
            methods: {
                dateformat: function(datetime) {
                    let date = new Date(datetime);
                    let datef = date.toLocaleDateString(
                        'ja', {year: 'numeric', month: '2-digit', day: '2-digit'});
                    let weekf = date.toLocaleDateString(
                        'en-US', {weekday: 'short'});

                    return datef +' '+weekf+'.';
                },
                sumpeoples: function(datas) {
                    let peoples = 0;
                    datas.forEach(function(data) {
                        data.forEach(function(tdata) {
                            peoples = peoples + tdata.people.length;
                        });
                    });
                    return peoples;
                },
                sumlimits: function(datas) {
                    let limits = 0;
                    datas.forEach(function(data) {
                        data.forEach(function(tdata) {
                            limits = limits + tdata.limit;
                        });
                    });
                    return limits;
                },
                modalclose: function() {
                    this.modal = {};
                    document.querySelector('html').classList.remove('is-clipped');
                },
                detail: function(data) {
                    if (typeof gtag === 'function') {
                        gtag('event', 'show', {
                            event_category: data._id+' '+data.title,
                            event_label: 'is_in_project:'+this.is_in_project+'|is_star:'+this.is_star+'|_joined:'+data._joined+'|_login:'+data._login,
                            value: 1
                        });
                    }

                    document.querySelector('html').classList.add('is-clipped');
                    this.modal = data;
                    if (!data.creator) {
                        axios.post('./{{project._id}}', {casename: 'peoples', task_id: data._id},
                            {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                                if (resp.status != 200) {
                                    return
                                } else {
                                    $tasks.modal['peoples'] = resp.data.peoples;
                                    $tasks.modal['creator'] = resp.data.creator;
                                    $tasks.$forceUpdate();
                                }
                            });
                    }
                },
                join: function(data, $e) {
                    let $footer_btn = $e.target.closest('footer').querySelectorAll('button');
                    $footer_btn.forEach(function(btn) {
                        btn.classList.add('is-loading');
                    });

                    axios.post('./{{project._id}}', {casename: 'join', task_id: data._id},
                        {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                            if (resp.status != 200) {
                                if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                    window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                }
                            } else {
                                $tasks.detail(resp.data.data);
                                $tasks.load();
                            }
                            $footer_btn.forEach(function(btn) {
                                btn.classList.remove('is-loading');
                            });
                    });

                },
                star: function($e) {
                    if (typeof gtag === 'function') {
                        gtag('event', 'star', {
                            event_category: this.is_star+' -> '+!this.is_star,
                            event_label: 'is_in_project:'+this.is_in_project+'|is_star:'+this.is_star,
                            value: 1
                        });
                    }
                    let $btns = $e.target.closest('.control').querySelectorAll('.button');
                    $btns.forEach(function(btn) {
                        btn.classList.add('is-loading');
                    });
                    axios.post('./{{project._id}}', {casename: 'star'},
                        {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                            if (resp.status != 200) {
                                if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                    window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                }
                            } else {
                                $tasks.is_star = resp.data.is_star;
                            }
                            $btns.forEach(function(btn) {
                                btn.classList.remove('is-loading');
                            });
                        });
                },
                cancel: function(data, $e) {
                    let $footer_btn = $e.target.closest('footer').querySelectorAll('button');
                    $footer_btn.forEach(function(btn) {
                        btn.classList.add('is-loading');
                    });

                    axios.post('./{{project._id}}', {casename: 'cancel', task_id: data._id},
                        {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                            if (resp.status != 200) {
                                if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                    window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                }
                            } else {
                                $tasks.detail(resp.data.data);
                                $tasks.load();
                            }
                            $footer_btn.forEach(function(btn) {
                                btn.classList.remove('is-loading');
                            });
                    });

                },
                cancel_user: function(data, uid, $e) {
                    if (confirm('確認取消？')) {
                        axios.post('./{{project._id}}', {casename: 'cancel_user', task_id: data._id, uid: uid},
                            {validateStatus: function (status){return status < 500;}}).then(function(resp) {
                                if (resp.status != 200) {
                                    if (confirm('需要登入志工服務才可以使用，前往登入？')) {
                                        window.location.href = '/oauth2callback?r=/tasks/{{project._id}}';
                                    }
                                } else {
                                    $tasks.detail(resp.data.data);
                                    $tasks.load();
                                }
                        });
                    }

                },
                load: function() {
                    let $btns = this.$el.querySelectorAll('[data-name="reload"]');
                    $btns.forEach(function($btn) {
                        $btn.classList.add('is-loading');
                    });
                    axios.post('./{{project._id}}', {casename: 'get'}).then(function(resp) {
                        $tasks.is_in_project = resp.data.is_in_project;
                        $tasks.is_star = resp.data.is_star;

                        resp.data.datas.forEach(function(data) {
                            $tasks.mdatas.set($tasks.dateformat(data.starttime), new Map());
                        });
                        resp.data.datas.forEach(function(data) {
                            let catemap = $tasks.mdatas.get($tasks.dateformat(data.starttime));
                            catemap.set(data.cate, new Array());
                        });
                        resp.data.datas.forEach(function(data) {
                            let date = $tasks.dateformat(data.starttime);
                            let catemap = $tasks.mdatas.get(date);
                            let rawlist = catemap.get(data.cate);

                            rawlist.push(data);
                            catemap.set(data.cate, rawlist);
                            $tasks.mdatas.set(date, catemap);
                        });
                        $btns.forEach(function($btn) {
                            $btn.classList.remove('is-loading');
                        });
                        $tasks.last_update = new Date();
                        $tasks.$forceUpdate();
                    });
                },
                golink: function(data, $e) {
                    if (typeof gtag === 'function') {
                        $e.preventDefault();

                        let $a = $e.target;
                        if ($e.target.tagName != 'A') {
                            $a = $e.target.closest('a');
                        }

                        gtag('event', 'share_link', {
                            event_category: data._id+' '+data.title,
                            event_label: 'is_in_project:'+this.is_in_project+'|is_star:'+this.is_star+'|_joined:'+data._joined+'|_login:'+data._login,
                            value: 1,
                            event_callback: function() {
                                location.href = $a.href;
                            }});
                    }
                },
                hashCode: function(s) {
                    let h;
                    for(let i = 0; i < s.length; i++) {
                        h = Math.imul(31, h) + s.charCodeAt(i) | 0;
                    }
                    return h;
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
