{% extends "base.html" %}
{% block head_title %} - {{project.name}} / {{team.name}} {% if join_able or preview_public %}加入簡介{%else%}{%block head_title_team %}{%endblock%}{%endif%}{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        {{team.name}}
    </h1>
  </div>
</section>
{% if join_able or preview_public %}
<section class="section">
  <div class="container">
      <div class="columns is-half is-offset-one-quarter">
          <div class="column is-half is-offset-one-quarter">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon has-text-white"><i class="fas fa-info-circle"></i></span>
                          <span>{{project.name}} / {{team.name}} 簡介</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <div class="content">
                          {{team.public_desc|safe}}
                      </div>
                  </div>
              </article>
              <div class="content">
                  <a class="button is-link is-light" href="/team/{{team.pid}}/{{team.tid}}/join_to">
                      <span class="icon has-text-info"><i class="far fa-hand-point-right"></i></span>
                      <span>申請加入 {{project.name}} / {{team.name}}</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
{% else %}
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
              <aside class="menu">
                  <p class="menu-label">{{team.name}}</p>
                  <ul class="menu-list">
                      <li>
                          <a class="{%block menu_index%}{%endblock%}" href="{{url_for('team.index', pid=team.pid, tid=team.tid)}}">首頁</a>
                      </li>
                      <li><a>公告</a></li>
                  </ul>
                  {% if is_admin %}
                  <p class="menu-label">{{team.name}} - 管理</p>
                  <ul class="menu-list">
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/edit">
                              <span class="icon"><i class="fas fa-tools"></i></span>
                              <span>設定</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/edit_user">
                              <span class="icon"><i class="fas fa-users"></i></span>
                              <span>組員</span>
                          </a>
                      </li>
                  </ul>
                  {% endif %}
                  <p class="menu-label">{{project.name}}</p>
                  <ul class="menu-list">
                      <li>
                          <a class="{%block menu_members%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/members">
                              <span class="icon"><i class="far fa-address-book"></i></span>
                              <span>通訊錄</span>
                          </a>
                      </li>
                      {% if project.calendar %}
                      <li>
                          <a class="{%block menu_calendar%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/calendar">
                              <span class="icon"><i class="far fa-calendar-alt"></i></span>
                              <span>行事曆</span>
                          </a>
                      {% endif %}
                      <li><a>調查事項</a></li>
                  </ul>
                  <p class="menu-label">相關申請專區</p>
                  <ul class="menu-list">
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/accommodation">
                              <span class="icon"><i class="fas fa-bed"></i></span>
                              <span>活動日住宿</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/traffic_fee">
                              <span class="icon"><i class="fas fa-subway"></i></span>
                              <span>交通費補助</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/volunteer_certificate">
                              <span class="icon"><i class="fas fa-certificate"></i></span>
                              <span>志工時數證明</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/appreciation">
                              <span class="icon"><i class="fas fa-hand-holding-heart"></i></span>
                              <span>感謝狀申請</span>
                          </a>
                      </li>
                  </ul>
			  </aside>
          </div>
          <div class="column">{% block team_body %}{% endblock %}</div>
      </div>
  </div>
</section>
{% endif %}
{% endblock %}
