{% extends "team_edit.html" %}
{% block head_title_team_setting %}編輯組員{% endblock %}
{% block team_edit_subtitle %}編輯組員{% endblock %}
{% block team_edit_user_menu %}is-active{% endblock %}
{% block team_edit_body %}
<div class="column">
    <div id="teamuser" class="content" v-cloak>
        <div class="tabs">
            <ul>
                <li class="is-active"><a v-on:click="showMemberTabs">已加入組員([[ members.length ]])</a></li>
                <li><a v-on:click="showWaittingTabs">等待核准組員({{waitting_list|length}})</a></li>
            </ul>
        </div>
        <div id="waittingTabs" class="content" style="display: none;">
        {% if waitting_list %}
        <h3>
            等待核准組員（{{waitting_list|length}}）
            <a href="./edit_user/dl_waiting"
               class="button is-small is-info is-light is-outlined">
                <span class="icon"><i class="fas fa-download"></i></span>
                <span>下載等候名單</span>
            </a>
        </h3>
        {% for u in waitting_list %}
        <article class="media box">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img class="is-rounded" src="{{u._info.oauth.picture}}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{u._info.profile.badge_name}}</strong>
                        <small class="tag is-family-monospace">{{u.uid}}</small>
                        <span class="button is-text is-small"
                              @click="showtags('{{u._info.profile.badge_name}}', '{{u.uid}}', '{{u._info.oauth.picture}}')">
                              預先標記標籤
                        </span>
                        <span class="tags" data-uid="{{u.uid}}">
                            {% for tag in waiting_uids_tags_name[u.uid] %}
                            <span class="tag is-info is-light">{{tag}}</span>
                            {% endfor %}
                        </span>
                    </p>
                    <textarea class="textarea">{{u.note}}</textarea>
                    {% if u.uid in apply_review_results %}
                    <details class="mt-3">
                        <summary class="is-clickable">依履歷與自我介紹給予錄取建議</summary>
                        {% for raw in apply_review_results[u.uid]['messages'] %}
                        <div class="notification is-info is-light mt-2">
                            {{ raw['content'] | safe }}
                        </div>
                        {% endfor %}
                    </details>
                    {% endif %}
                    <hr>
                    <p>申請者 Mail：<span class="tag is-info is-light"><a href="mailto:{{u._mail}}">{{u._mail}}</a></span></p>
                    {% if '_history' in u %}
                    <div class="field is-grouped is-grouped-multiline">
                        <p>申請歷程：</p>
                        {% for h in u['_history']%}
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag">{{h['tid']}}</span>
                                {% if h['result'] == 'approval' %}
                                <span class="tag is-success">approved</span>
                                {% elif h['result'] == 'deny' %}
                                <span class="tag is-danger">denied</span>
                                {% elif h['result'] == 'waitting' %}
                                <span class="tag is-warning">{{h['result']}}</span>
                                {%endif%}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item" href="/user/{{u.uid}}">
                            <span class="icon">
                                <i class="far fa-id-badge"></i>
                            </span>
                            <span class="is-hidden-mobile">個人頁面</span>
                        </a>
                        <a class="level-item" v-on:click="showapprove">
                            <span class="icon">
                                <i class="fas fa-user-cog" data-uid="{{u.uid}}"></i>
                            </span>
                            <span class="is-hidden-mobile" data-uid="{{u.uid}}">編輯申請</span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
        {% endfor %}
        {% endif %}
        </div>

        <div id="membersTabs" class="content">
        {% if team.headcount %}
        <h3>已加入組員（<span class="is-family-monospace">[[ members.length ]]/{{team.headcount}}</span>）</h3>
        {% else %}
        <h3>已加入組員（[[ members.length ]]）</h3>
        {% endif %}
        <div class="content">
            <div class="buttons">
                <a v-if="!is_apply_tag" class="button is-small" @click="new_tag">新增標籤</a>
                <a v-if="!is_apply_tag" class="button is-small is-info is-outlined"
                   v-for="tag in tags" :class="{'is-light': new Set(select_tags).has(tag.id)}">
                    <label class="checkbox">
                        <input type="checkbox" :value="tag.id" v-model="select_tags">
                        [[ tag.name ]]
                    </label>
                </a>
                <a class="button is-small"
                    :class="{'is-success': is_apply_tag, 'is-warning': !is_apply_tag, 'is-loading': is_loading}"
                    v-if="tags.length > 0"
                    @click="edit_tag">
                    <span v-if="!is_apply_tag">開啟套用標籤編輯</span>
                    <span v-if="is_apply_tag">儲存設定</span>
                </a>
                <a v-if="is_apply_tag" class="button is-small is-danger" @click="del_tag">刪除標籤</a>
            </div>
        </div>
        <div class="table-container">
            <table class="table is-hoverable">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th v-if="!is_apply_tag">tag</th>
                        <th v-if="is_apply_tag">edit tag</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Mail</th>
                        <th><abbr title="Operator">OP</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in members">
                        <td class="is-vcentered"><span class="tag is-family-monospace">[[ u._id ]]</span></td>
                        <td class="is-vcentered" v-if="!is_apply_tag">
                            <span class="tags">
                                <span class="tag is-small" :class="dict_tags[tag].color" v-for="tag in u.tags">
                                    [[ dict_tags[tag].name ]]
                                </span>
                            </span>
                        </td>
                        <td class="is-vcentered" v-if="is_apply_tag">
                            <span class="tags">
                                <span class="tag is-small" :class="dict_tags[tag.id].color" v-for="tag in tags">
                                    <label class="checkbox">
                                        <input type="checkbox" :value="tag.id" v-model="u.tags">
                                        [[ tag.name ]]
                                    </label>
                                </span>
                            </span>
                        </td>
                        <td class="is-vcentered">
                            <a :href="'/user/' + u._id">
                                <figure class="image is-32x32"><img class="is-rounded" :src="u.oauth['picture']"></figure>
                            </a>
                        </td>
                        <td class="is-vcentered"><a :href="'/user/' + u._id">[[ u.profile['badge_name'] ]]</a></td>
                        <td class="is-vcentered" class="is-family-monospace">
                            <span class="tag" v-if="u.profile_real.phone">[[ u.phone['country_code'] ]]</span>
                            <span>[[ u.phone['phone'] ]]</span>
                        </td>
                        <td class="is-vcentered">[[ u.oauth['email'] ]]</td>
                        <td class="is-vcentered">
                            <span class="icon">
                                <a @click="history(u._id, u.profile.badge_name, u.oauth.picture)">
                                    <i class="fas fa-history"></i>
                                </a>
                            </span>
                            <span class="icon">
                                <a v-if="u.chat.mid != undefined" :href="'https://chat.coscup.org/coscup/messages/' + u.chat['mid']" target="_blank">
                                    <i class="far fa-comments"></i>
                                </a>
                                <i v-else class="far fa-comments"></i>
                            </span>
                            <span class="icon">
                                <a :href="'/user/' + u._id"><i class="far fa-id-badge"></i></a>
                            </span>
                            <span class="icon">
                                <a class="has-text-danger" @click="deluser">
                                    <i class="fas fa-user-times" :data-uid="u._id" :data-name="u.profile.badge_name"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content">
            <article class="message is-dark is-small">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    人員新增、移除會在每 5 分時刻執行同步到大會的專用郵件群組（包含共享資料夾）
                </div>
            </article>
            {% if 'mailling' in team %}
            <article class="message is-warning is-small">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    組員也會同步到組的專用信箱 <span class="tag"><a href="mailto:{{team.mailling}}">{{team.mailling}}</a></span>
                </div>
            </article>
            {% endif %}
        </div>
        <!-- modal -->
        <div class="modal" v-bind:class="{'is-active': Object.keys(historymodal).length}">
            <div class="modal-background" v-on:click="goback"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" style="margin-bottom: 0;">History - [[ historymodal.name ]]</p>
                    <button class="delete" aria-label="close" v-on:click="goback"></button>
                </header>
                <section class="modal-card-body">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-96x96"><img class="is-rounded" :src="historymodal.picture"></p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p><strong>[[ historymodal.name]]</strong></p>
                                <article class="message is-info" v-for="h in historymodal">
                                    <div class="message-body">
                                        [[ h.note ]]
                                    </div>
                                </article>
                            </div>
                        </div>
                    </article>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" v-on:click="goback">
                        <span class="icon"><i class="fas fa-check"></i></span>
                        <span>確定</span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div id="teamusermodal" class="modal" v-bind:class="{'is-active': isActive}">
    <div class="modal-background" v-on:click="goback"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">[[modalTitle]]</p>
            <button class="delete" aria-label="close" v-on:click="goback"></button>
        </header>
        <section class="modal-card-body">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img class="is-rounded" v-bind:src="user.picture">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p><strong>[[user.badge_name]]</strong> <small class="tag is-family-monospace">[[user.uid]]</small></p>
                        <p>[[user.note]]</p>
                    </div>
                </div>
            </article>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" v-on:click="sendresult('approval')">
                <span class="icon"><i class="fas fa-user-plus"></i></span>
                <span>核准加入</span>
            </button>
            <button class="button is-danger" v-on:click="sendresult('deny')">
                <span class="icon"><i class="fas fa-user-times"></i></span>
                <span>不允許加入</span>
            </button>
            <button class="button" v-on:click="goback">
                <span class="icon"><i class="fas fa-user-clock"></i></span>
                <span>暫不處理</span>
            </button>
        </footer>
    </div>
</div>

<!-- modal -->
<div id="tagmodal" class="modal" v-bind:class="{'is-active': isActive}">
    <div class="modal-background" v-on:click="goback"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">[[modalTitle]]</p>
            <button class="delete" aria-label="close" v-on:click="goback"></button>
        </header>
        <section class="modal-card-body">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img class="is-rounded" v-bind:src="user.picture">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p><strong>[[user.badge_name]]</strong> <small class="tag is-family-monospace">[[user.uid]]</small></p>
                        <p>可預先設定標籤在候選組員中。</p>
                        <div class="is-vcentered">
                            <span class="tags">
                                <span class="tag is-small" v-for="tag in user.tags">
                                    <label class="checkbox">
                                        <input type="checkbox" :value="tag.id" v-model="user.user_tags">
                                        [[ tag.name ]]
                                    </label>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" @click="sendresult">
                <span class="icon"><i class="fas fa-user-plus"></i></span>
                <span>更新標籤</span>
            </button>
            <button class="button" @click="goback">
                <span class="icon"><i class="fas fa-user-clock"></i></span>
                <span>取消</span>
            </button>
        </footer>
    </div>
</div>

</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $teamusermodal = new Vue({
            el: '#teamusermodal',
            data: {
                isActive: false,
                user: {},
                modalTitle: ''
            },
            methods: {
                showapprove: function(uid) {
                    this.user = {};
                    axios.get('./edit_user/api', {params: {casename: 'join', uid: uid}}).then(function(resp){
                        $teamusermodal.modalTitle = '核准加入 ' + resp.data.badge_name;
                        $teamusermodal.user = resp.data;
                    }).then(function(){
                        $teamusermodal.fixpage();
                    });
                },
                sendresult: function(result) {
                    this.$el.querySelectorAll('footer button.button').forEach(function(btn){
                        btn.classList.add('is-loading');
                    });

                    axios.post('./edit_user/api', {casename: 'join', uid: $teamusermodal.user.uid, wid: $teamusermodal.user.wid, result: result}).then(function(resp){
                        $teamusermodal.goback();
                        window.location.href = './edit_user';
                    });
                },
                fixpage: function() {
                    this.isActive = true;
                    document.querySelector('html').classList.add('is-clipped');
                },
                goback: function() {
                    document.querySelector('html').classList.remove('is-clipped');
                    this.isActive = false;

                    this.$el.querySelectorAll('footer button.button').forEach(function(btn){
                        btn.classList.remove('is-loading');
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
        let $tagmodal = new Vue({
            el: '#tagmodal',
            data: {
                isActive: false,
                user: {user_tags: []},
                modalTitle: ''
            },
            methods: {
                showtags: function(name, uid, picture) {
                    this.user.badge_name = name;
                    this.user.picture = picture;
                    this.user.uid = uid;

                    let $this = this;

                    axios.post('./edit_user/api', {casename: 'get_tags', uid: uid}).then(function(resp){
                        $this.user.tags = resp.data.tags;
                        $this.user.user_tags = resp.data.user_tags[$this.user.uid];
                        $this.isActive = true;
                    });
                },
                sendresult: function($e) {
                    this.$el.querySelectorAll('footer button.button').forEach(function(btn){
                        btn.classList.add('is-loading');
                    });

                    let $this = this;

                    let $return = document.querySelector('#waittingTabs [data-uid="'+this.user.uid+'"]');

                    axios.post('./edit_user/api', {casename: 'presave_tags', uid: this.user.uid, tags: this.user.user_tags}).then(function(resp){
                        $return.innerHTML = '';
                        $this.user.tags.forEach(function(tag){
                            if ($this.user.user_tags.includes(tag.id)) {
                                $return.innerHTML = $return.innerHTML + '<span class="tag is-info is-light">'+tag.name+'</span>';
                            }
                        });

                        $this.goback();
                        $this.user = {user_tags: []};
                    });
                },
                fixpage: function() {
                    this.isActive = true;
                    document.querySelector('html').classList.add('is-clipped');
                },
                goback: function() {
                    document.querySelector('html').classList.remove('is-clipped');
                    this.isActive = false;

                    this.$el.querySelectorAll('footer button.button').forEach(function(btn){
                        btn.classList.remove('is-loading');
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
        let $teamuser = new Vue({
            el: '#teamuser',
            data: {
                tags: [],
                select_tags: [],
                dict_tags: {},
                members_tags: {},
                historymodal: {},
                is_apply_tag: false,
                is_loading: 0,
                members: [],
                org_members: []
            },
            mounted: function() {
                this.load();
            },
            watch: {
                select_tags: function(val) {
                    if (val.length > 0) {
                        if ($teamuser.org_members.length === 0 && $teamuser.members.length > 0 ) {
                            $teamuser.org_members = Object.assign(new Array(), $teamuser.members);
                        }

                        $teamuser.members = $teamuser.members.filter(function(member) {
                            return val.some(function(tag) { return member.tags.includes(tag); });
                        });
                    } else if (val.length === 0 && $teamuser.org_members.length > 0) {
                        $teamuser.members = Object.assign(new Array(), $teamuser.org_members);
                    }
                }
            },
            methods: {
                append_data: function() {
                    this.members.forEach(function(raw) {
                        raw.tags = new Array();
                    });
                },
                make_dict_tags: function() {
                    let color = [
                            {'is-primary': true},
                            {'is-link': true},
                            {'is-info': true},
                            {'is-success': true},
                            {'is-warning': true},
                            {'is-danger': true},
                        ];
                    this.dict_tags = {};
                    this.tags.forEach(function(raw, index) {
                        $teamuser.dict_tags[raw['id']] = {'name': raw['name'], 'color': color[index % color.length]};
                    });
                },
                new_tag: function() {
                    let tag_name = window.prompt('請輸入標籤名稱。', '');
                    if (typeof(tag_name) == 'string' && tag_name.length > 0) {
                        tag_name = tag_name.trim();
                        axios.post('./edit_user', {case: 'add_tag', tag_name: tag_name}).then(function(resp){
                            $teamuser.tags.push(resp.data.tag);
                            $teamuser.make_dict_tags();
                        });
                    }
                },
                refresh_members_tags: function() {
                    this.members.forEach(function(raw) {
                        if ($teamuser.members_tags[raw._id] != undefined) {
                            raw.tags = $teamuser.members_tags[raw._id].tags;
                        } else {
                            raw.tags = [];
                        }
                    });
                },
                del_tag: function() {
                    let wording = new Array();
                    wording.push('請輸入要刪除的順序號 [?],');
                    this.tags.forEach(function(raw, index) {
                        wording.push('- ['+index+'] '+raw.name);
                    });
                    wording.push('\n');

                    let no = window.prompt(wording.join('\n'));

                    if (this.tags[no] != undefined) {
                        axios.post('./edit_user', {case: 'del_tag', tag: this.tags[no]}).then(function(resp){
                            $teamuser.load();
                        });
                    }
                },
                edit_tag: function() {
                    ++this.is_loading;
                    if (this.is_apply_tag) {
                        let members_tags = {};
                        this.members.forEach(function(raw) {
                            members_tags[raw._id] = raw.tags;
                        });
                        axios.post('./edit_user', {case: 'update_member_tags', data: members_tags}).then(function(resp){
                            $teamuser.members_tags = resp.data.data;
                        });
                    }
                    this.is_apply_tag = !this.is_apply_tag;
                    --this.is_loading;
                },
                load: function() {
                    axios.post('./edit_user', {case: 'members'}).then(function(resp){
                        $teamuser.tags = resp.data.tags;
                        $teamuser.make_dict_tags();
                        $teamuser.select_tags = new Array();

                        $teamuser.members = resp.data.members;
                        $teamuser.append_data();

                        $teamuser.members_tags = resp.data.members_tags;
                        $teamuser.refresh_members_tags();

                        $teamuser.showMemberTabs();
                    });
                },
                showapprove: function(btn) {
                    $teamusermodal.showapprove(btn.target.dataset.uid);
                },
                showtags: function(name, uid, picture) {
                    $tagmodal.showtags(name, uid, picture);
                },
                deluser: function(btn) {
                    let ans = window.confirm('是否刪除 ' + btn.target.dataset.name + '(' + btn.target.dataset.uid + ') ?\r\n\r\n（確定就直接移除組員喔！）');
                    if (ans === true) {
                        axios.post('./edit_user', {uid: btn.target.dataset.uid, case: 'deluser'}).then(function(resp){
                            window.location.href = './edit_user';
                        });
                    }
                },
                showMemberTabs: function($e) {
                    if ($e) {
                        $e.target.parentNode.parentNode.querySelectorAll('li').forEach(function(e) {
                            e.classList.remove('is-active');
                        });
                        $e.target.parentNode.classList.add('is-active');
                    }
                    document.getElementById('membersTabs').style.display = '';
                    document.getElementById('waittingTabs').style.display = 'none';
                },
                showWaittingTabs: function($e) {
                    if ($e) {
                        $e.target.parentNode.parentNode.querySelectorAll('li').forEach(function(e) {
                            e.classList.remove('is-active');
                        });
                        $e.target.parentNode.classList.add('is-active');
                    }
                    document.getElementById('membersTabs').style.display = 'none';
                    document.getElementById('waittingTabs').style.display = '';
                },
                history: function(uid, name, picture) {
                    axios.post('./edit_user', {case: 'history', uid: uid}).then(function(resp) {
                        $teamuser.historymodal = resp.data.history;
                        $teamuser.historymodal.name = name;
                        $teamuser.historymodal.picture = picture;
                    });
                },
                goback: function() {
                    this.historymodal = {};
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
