{% extends "base.html" %}
{% block head_title %}{{project.name}} / {{team.name}} {% if join_able or preview_public %}加入簡介{%else%}{%block head_title_team %}{%endblock%}{%endif%}{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        {{team.name}}
    </h1>
  </div>
</section>
{% if join_able or preview_public %}
<section class="section">
  <div class="container">
      <div class="columns is-half is-offset-one-quarter">
          <div class="column is-half is-offset-one-quarter">
              <article class="message is-info">
                  <div class="message-header">
                      <p>
                          <span class="icon has-text-white"><i class="fas fa-info-circle"></i></span>
                          <span>{{project.name}} / {{team.name}} 簡介</span>
                      </p>
                  </div>
                  <div class="message-body">
                      <div class="content">
                          {{team.public_desc|safe}}
                      </div>
                  </div>
              </article>
              <div class="content">
                  <a class="button is-link is-light" href="/team/{{team.pid}}/{{team.tid}}/join_to">
                      <span class="icon has-text-info"><i class="far fa-hand-point-right"></i></span>
                      <span>申請加入 {{project.name}} / {{team.name}}</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
{% else %}
<section class="section">
  <div class="container">
      <div class="columns">
          <div id="teammainmenu" class="column is-one-quarter">
              <aside class="menu">
                  <ul class="menu-list">
                      <li>
                          <a class="button is-info is-small is-light" href="/project/{{team.pid}}/">
                              <span class="icon"><i class="fas fa-arrow-circle-left"></i></span>
                              <span>回 {{project.name}}</span>
                          </a>
                      </li>
                  </ul>
                  <p class="menu-label">{{team.name}}</p>
                  <ul class="menu-list">
                      <li>
                          <a class="{%block menu_index%}{%endblock%}" href="{{url_for('team.index', pid=team.pid, tid=team.tid)}}">
                              <span class="icon"><i class="fas fa-home"></i></span>
                              <span>首頁</span>
                          </a>
                      </li>
                      <!-- <li><a>公告</a></li> -->
                      <li>
                          <a class="{%block menu_members%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/members">
                              <span class="icon"><i class="far fa-address-book"></i></span>
                              <span>通訊錄</span>
                          </a>
                      </li>
                      <li>
                          <a class="{%block menu_plan%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/plan/edit">
                              <span class="icon"><i class="fas fa-calendar-week"></i></span>
                              <span>規劃時程</span>
                              <span class="icon"><i class="fas fa-flask"></i></span>
                          </a>
                      </li>
                      <li>
                          <a href="/tasks/{{ team.pid }}">
                              <span class="icon"><i class="fas fa-pizza-slice"></i></span>
                              <span>一日志工 志工任務</span>
                          </a>
                      </li>
                      <li>
                          <a href="/schedule/{{ team.pid }}" class="has-text-info-dark">
                              <span class="icon"><i class="far fa-list-alt"></i></span>
                              <span>議程表</span>
                          </a>
                      </li>
                  </ul>
                  {% if is_admin %}
                  <p class="menu-label">{{team.name}} - 管理</p>
                  <ul class="menu-list">
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/edit">
                              <span class="icon"><i class="fas fa-tools"></i></span>
                              <span>設定</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/edit_user">
                              <span class="icon"><i class="fas fa-users"></i></span>
                              <span>組員</span>
                          </a>
                      </li>
                      <li>
                          <a href="/recruit/{{team.pid}}/{{team.tid}}/list">
                              <span class="icon"><i class="fas fa-user-astronaut"></i></span>
                              <span>志工人才庫</span>
                          </a>
                      </li>
                      <li>
                          <a href="/sender/{{team.pid}}/{{team.tid}}/">
                              <span class="icon"><i class="fas fa-envelope"></i></span>
                              <span>發送電子報</span>
                              <span class="icon"><i class="fas fa-flask"></i></span>
                          </a>
                      </li>
                  </ul>
                  {% endif %}
                  <p class="menu-label">{{project.name}}</p>
                  <ul class="menu-list">
                      {% if project.calendar %}
                      <li>
                          <a class="{%block menu_calendar%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/calendar">
                              <span class="icon"><i class="far fa-calendar-alt"></i></span>
                              <span>行事曆</span>
                          </a>
                      </li>
                      {% endif %}
                      {% if project.shared_drive %}
                      <li>
                          <a href="{{project.shared_drive}}" target="_blank">
                              <span class="icon"><i class="far fa-folder-open"></i></span>
                              <span>共享資料夾</span>
                              <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                          </a>
                      </li>
                      {% endif %}
                  </ul>
                  <p class="menu-label">預算經費申請專區</p>
                  <ul class="menu-list">
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/expense/lists">
                              <span class="icon"><i class="fas fa-list"></i></span>
                              <span>預算列表</span>
                          </a>
                      </li>
                  </ul>
                  <p class="menu-label">相關申請專區</p>
                  <ul class="menu-list">
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/drink">
                              <span class="icon"><i class="fas fa-cocktail"></i></span>
                              <span>理性飲酒聲明</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/clothes">
                              <span class="icon"><i class="fas fa-ruler"></i></span>
                              <span>衣服尺寸</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/accommodation">
                              <span class="icon"><i class="fas fa-bed"></i></span>
                              <span>活動日住宿</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/traffic_fee">
                              <span class="icon"><i class="fas fa-subway"></i></span>
                              <span>交通費補助</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/volunteer_certificate">
                              <span class="icon"><i class="fas fa-certificate"></i></span>
                              <span>志工時數證明</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/appreciation">
                              <span class="icon"><i class="fas fa-hand-holding-heart"></i></span>
                              <span>感謝狀申請</span>
                          </a>
                      </li>
                      <li>
                          <a href="/team/{{team.pid}}/{{team.tid}}/form/parking_card">
                              <span class="icon"><i class="fas fa-parking"></i></span>
                              <span>停車卡申請</span>
                          </a>
                      </li>
                  </ul>
			  </aside>
          </div>
          <div class="column">
            <div class="content">
                <article class="message is-success">
                  <div class="message-body">
                    <span class="icon"><i class="fas fa-running"></i></span>
                    鼓勵志工夥伴在活動二日也可抽空參與各社群所排定的議程主題，如有想要聽得議程，可以與組長協調調整執勤時間後參與。
                    也歡迎使用志工平台提供的<a href="/schedule/{{team.pid}}">議程表</a>可收藏與分享議程！
                  </div>
                </article>
            </div>
            {% block team_body %}{% endblock %}
        </div>
      </div>
  </div>
</section>
{% endif %}
{% endblock %}
