{% extends "team.html" %}
{% block head_title_team %}規劃{% endblock %}
{% block menu_plan %}is-active{% endblock %}
{% block team_body %}
<div class="content">
    <article class="message is-dark">
        <div class="message-body">
            用 timeline 的方式呈現時程表，欄位依序為 title, start, end(可不填), desc(可不填)。 title 一樣會合併在同一條的時間線。
            也可以使用「匯入其他組別」顯示其他組別已規劃的項目。
        </div>
    </article>
    <form id="planform">
        <div class="field is-horizontal" v-for="raw in data">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="title" v-model="raw.title">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="date" v-model="raw.start">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="date" v-model="raw.end">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="desc" v-model="raw.desc">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button" v-on:click="delraw(raw)">
                            <span class="icon"><i class="far fa-trash-alt"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <a class="button is-fullwidth is-info is-light" v-on:click="addraw">
                <span class="icon"><i class="fas fa-plus-circle"></i></span>
                <span>新增</span>
            </a>
        </div>
        <div class="field">
            <a class="button is-fullwidth is-success is-light" v-on:click="save">
                <span class="icon"><i class="far fa-save"></i></span>
                <span>儲存與更新圖表</span>
            </a>
        </div>
        <div class="field is-grouped-right is-grouped">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" v-model="importOthers">
                    <span class="icon"><i class="far fa-eye"></i></span>
                    <span>顯示其他組別</span>
                </label>
            </div>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" v-model="disableMenu">
                    <span class="icon"><i class="fas fa-arrows-alt-h"></i></span>
                    <span>加寬圖表</span>
                </label>
            </div>
        </div>
    </form>
</div>
<div class="content">
    <div id="schedular" style="height: 200px;"></div>
</div>
<div class="content">
    <div id="timeline" style="height: 800px;"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $planform= new Vue({
            el: '#planform',
            data: {
                data: [],
                others: [],
                baseFormat: {},
                importOthers: false,
                disableMenu: false,
                chart: null,
                chartSchedular: null
            },
            mounted: function() {
                axios.post('./edit?_t=' + Date.now(), {data: this.data, case: 'get', import_others: this.importOthers}).then(function(resp) {
                    $planform.data = resp.data.data;
                    $planform.baseFormat = resp.data.default;
                }).then(function() {
                    google.charts.load("current", {packages:["timeline", "calendar"], 'language': navigator.language || navigator.userLanguage});
                    google.charts.setOnLoadCallback($planform.drawChart);
                    google.charts.setOnLoadCallback($planform.drawSchedular);
                    window.addEventListener('resize', $planform.showchart);
                });
            },
            watch: {
                disableMenu: function() {
                    if (this.disableMenu === true) {
                        document.getElementById('teammainmenu').style.display = 'none';
                    } else {
                        document.getElementById('teammainmenu').style.display = '';
                    }
                    this.save();
                },
                importOthers: function() {
                    this.save();
                }
            },
            methods: {
                addraw: function() {
                    this.data.push(Object.assign({}, this.baseFormat));
                },
                delraw: function(raw) {
                    if (window.confirm('確定是否刪除「'+raw.title+'」？（無法恢復喔！）')) {
                        this.data.splice(this.data.indexOf(raw), 1);
                    }
                },
                save: function() {
                    axios.post('./edit?_t='+Date.now(), {data: this.data, case: 'post', import_others: this.importOthers}).then(function(resp) {
                        $planform.data = resp.data.data;
                        $planform.baseFormat = resp.data.default;
                        $planform.others = resp.data.others;
                    }).then(function() {
                        $planform.showchart();
                    });
                },
                drawChart: function() {
                    if (this.chart === null ) {
                        this.chart = new google.visualization.Timeline(document.getElementById('timeline'));
                    }
                    this.chart.clearChart();
                    let dataTable = new google.visualization.DataTable();

                    dataTable.addColumn({ type: 'string', id: 'Name' });
                    dataTable.addColumn({ type: 'string', id: 'Desc' });
                    dataTable.addColumn({ type: 'string', role: 'tooltip' });
                    dataTable.addColumn({ type: 'date', id: 'Start' });
                    dataTable.addColumn({ type: 'date', id: 'End' });

                    let allData = new Array();
                    allData.push.apply(allData, this.data);
                    if (this.importOthers === true) {
                        allData.push.apply(allData, this.others);
                    }

                    allData.sort(function(a, b) {
                        return a.start_timestamp - b.start_timestamp;
                    });

                    allData.forEach(function(raw){
                        if (raw.start === raw.end || raw.end === '') {
                            let start = new Date(raw.start);
                            let end = new Date(raw.start);
                            end.setDate(end.getDate() + 1);
                            if ($planform.importOthers === true) {
                                dataTable.addRow([raw.title+'('+raw.team_name+')', raw.title+'('+raw.desc+' '+raw.team_name+')', $planform.renderTip(raw), start, end]);
                            } else {
                                dataTable.addRow([raw.title, raw.title+'('+raw.desc+')', $planform.renderTip(raw), start, end]);
                            }
                        } else {
                            if ($planform.importOthers === true) {
                                dataTable.addRow([raw.title+'('+raw.team_name+')', raw.title+'('+raw.desc+' '+raw.team_name+')', $planform.renderTip(raw), new Date(raw.start), new Date(raw.end)]);
                            } else {
                                dataTable.addRow([raw.title, raw.title+'('+raw.desc+')', $planform.renderTip(raw), new Date(raw.start), new Date(raw.end)]);
                            }
                        }
                    });

                    this.chart.draw(dataTable, {
                        tooltip: { isHtml: true },
                        timeline: {colorByRowLabel: true, barLabelStyle: {fontSize: 10}, rowLabelStyle: {fontSize: 10}}
                    });
                },
                drawSchedular: function() {
                    if (this.chartSchedular === null ) {
                        this.chartSchedular = new google.visualization.Calendar(document.getElementById('schedular'));
                    }
                    this.chartSchedular.clearChart();

                    let dataTable = new google.visualization.DataTable();
                    dataTable.addColumn({ type: 'date', id: 'Date' });
                    dataTable.addColumn({ type: 'number', id: 'Times' });
                    dataTable.addColumn({ type: 'string', role: 'tooltip' });

                    axios.post('./edit?_t='+Date.now(), {case: 'get_schedular', import_others: this.importOthers}).then(function(resp) {
                        resp.data.data.forEach(function(raw) {
                            dataTable.addRow([new Date(raw[0]), raw[1].length, $planform.renderSchedularTip(raw[0], raw[1])]);
                        });
                        $planform.chartSchedular.draw(dataTable, {colorAxis: {colors: ['#C6E48B', '#196127']}, calendar: {cellColor: { stroke: '#fff', strokeOpacity: 1, strokeWidth: 3 }}});
                    });
                },
                renderTip: function(raw) {
                    return '<div style="padding: 5px; width: 300px;">' +
                        raw.title + ' ' + raw.desc + '<br>' +
                        '<span style="font-family: monospace; font-weight: bold;">' + raw.start + '<br>' + raw.end + '</span><br>' +
                        raw.team_name +
                        '</div>'
                },
                renderSchedularTip: function(date, raw) {
                    let items = new Array();
                    items.push('<strong>' + date + '</strong> 共 <strong>' + raw.length + '</strong> 個事項');
                    raw.forEach(function(plan) {
                        items.push('<li>' + plan.title + ' ' + plan.desc + '<br><span style="font-family: monospace; font-weight: bold;">' + plan.start + ' ' + plan.end + '</span></li>');
                    });
                    return '<div style="padding: 5px; width: 300px;">' +
                        '<ul>' + items.join('') + '</ul></div>'
                },
                showchart: function() {
                    document.getElementById('timeline').innerHTML = '';
                    document.getElementById('schedular').innerHTML = '';
                    google.charts.setOnLoadCallback(this.drawChart);
                    google.charts.setOnLoadCallback(this.drawSchedular);
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
