{% extends "team_edit.html" %}
{% block head_title_team_setting %}編輯組員{% endblock %}
{% block team_edit_subtitle %}編輯組員{% endblock %}
{% block team_edit_user_menu %}is-active{% endblock %}
{% block team_edit_body %}
<div class="column">
    <div id="teamuser" class="content">
        <div class="tabs">
            <ul>
                <li class="is-active"><a v-on:click="showMemberTabs">已加入組員({{members|length}})</a></li>
                <li><a v-on:click="showWaittingTabs">等待核准組員({{waitting_list|length}})</a></li>
            </ul>
        </div>
        <div id="waittingTabs" class="content" style="display: none;">
        {% if waitting_list %}
        <h3>等待核准組員（{{waitting_list|length}}）</h3>
        {% for u in waitting_list %}
        <article class="media box">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img class="is-rounded" src="{{u._info.oauth.picture}}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p><strong>{{u._info.profile.badge_name}}</strong> <small class="tag is-family-monospace">{{u.uid}}</small></p>
                    <p>{{u.note}}</p>
                    <hr>
                    <p>申請者 Mail：<span class="tag is-info is-light"><a href="mailto:{{u._mail}}">{{u._mail}}</a></span></p>
                    {% if '_history' in u %}
                    <p>申請歷程：</p>
                    <div class="field is-grouped is-grouped-multiline">
                        {% for h in u['_history']%}
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag">{{h['tid']}}</span>
                                {% if h['result'] == 'approval' %}
                                <span class="tag is-success">approved</span>
                                {% elif h['result'] == 'deny' %}
                                <span class="tag is-danger">denied</span>
                                {% elif h['result'] == 'waitting' %}
                                <span class="tag is-warning">{{h['result']}}</span>
                                {%endif%}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a class="level-item" href="/user/{{u.uid}}">
                            <span class="icon">
                                <i class="far fa-id-badge"></i>
                            </span>
                            <span class="is-hidden-mobile">個人頁面</span>
                        </a>
                        <a class="level-item" v-on:click="showapprove">
                            <span class="icon">
                                <i class="fas fa-user-cog" data-uid="{{u.uid}}"></i>
                            </span>
                            <span class="is-hidden-mobile" data-uid="{{u.uid}}">編輯申請</span>
                        </a>
                    </div>
                </nav>
            </div>
        </article>
        {% endfor %}
        {% endif %}
        </div>

        <div id="membersTabs" class="content" style="display: none;">
        {% if team.headcount %}
        <h3>已加入組員（<span class="is-family-monospace">{{members|length}}/{{team.headcount}}</span>）</h3>
        {% else %}
        <h3>已加入組員（{{members|length}}）</h3>
        {% endif %}
        <div class="table-container">
            <table class="table is-hoverable">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Mail</th>
                        <th><abbr title="Operator">OP</abbr></th>
                    </tr>
                </thead>
                <tbody>
                {% for u in members %}
                    <tr>
                        <td><span class="tag is-family-monospace">{{u._id}}</span></td>
                        <td>
                            <a href="/user/{{u._id}}">
                                <figure class="image is-32x32"><img class="is-rounded" src="{{u.oauth.picture}}"></figure>
                            </a>
                        </td>
                        <td><a href="/user/{{u._id}}">{{u.profile.badge_name}}</a></td>
                        <td class="is-family-monospace">
                            {%if u.profile_real['phone'] %}<span class="tag">{{u.phone['country_code']}}</span>{{u.phone['phone']}}{%endif%}
                        </td>
                        <td>{{u.oauth.email}}</td>
                        <td>
                            <span class="icon">
                                <a v-on:click="history('{{u._id}}', '{{u.profile.badge_name}}', '{{u.oauth.picture}}')">
                                    <i class="fas fa-history"></i>
                                </a>
                            </span>
                            <span class="icon">
                            {% if u.chat %}
                                <a href="https://chat.coscup.org/coscup/messages/{{u.chat['mid']}}" target="_blank"><i class="far fa-comments"></i></a>
                            {% else %}
                                <i class="far fa-comments"></i>
                            {% endif %}
                            </span>
                            <span class="icon">
                                <a href="/user/{{u._id}}"><i class="far fa-id-badge"></i></a>
                            </span>
                            <span class="icon">
                                <a class="has-text-danger" v-on:click="deluser">
                                    <i class="fas fa-user-times" data-uid="{{u._id}}" data-name="{{u.profile.badge_name}}"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="content">
            <article class="message is-dark is-small">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    人員新增、移除會在每 5 分時刻執行同步到大會的專用郵件群組（包含共享資料夾）
                </div>
            </article>
            {% if 'mailling' in team %}
            <article class="message is-warning is-small">
                <div class="message-body">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                    組員也會同步到組的專用信箱 <span class="tag"><a href="mailto:{{team.mailling}}">{{team.mailling}}</a></span>
                </div>
            {% endif %}
        </div>
        </div>
        <!-- modal -->
        <div class="modal" v-bind:class="{'is-active': Object.keys(historymodal).length}">
            <div class="modal-background" v-on:click="goback"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" style="margin-bottom: 0;">History - [[ historymodal.name ]]</p>
                    <button class="delete" aria-label="close" v-on:click="goback"></button>
                </header>
                <section class="modal-card-body">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-96x96"><img class="is-rounded" :src="historymodal.picture"></p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p><strong>[[ historymodal.name]]</strong></p>
                                <article class="message is-info" v-for="h in historymodal">
                                    <div class="message-body">
                                        [[ h.note ]]
                                    </div>
                                </article>
                            </div>
                        </div>
                    </article>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" v-on:click="goback">
                        <span class="icon"><i class="fas fa-check"></i></span>
                        <span>確定</span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>
<div id="teamusermodal" class="modal" v-bind:class="{'is-active': isActive}">
    <div class="modal-background" v-on:click="goback"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">[[modalTitle]]</p>
            <button class="delete" aria-label="close" v-on:click="goback"></button>
        </header>
        <section class="modal-card-body">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img class="is-rounded" v-bind:src="user.picture">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p><strong>[[user.badge_name]]</strong> <small class="tag is-family-monospace">[[user.uid]]</small></p>
                        <p>[[user.note]]</p>
                    </div>
                </div>
            </article>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info" v-on:click="sendresult('approval')">
                <span class="icon"><i class="fas fa-user-plus"></i></span>
                <span>核准加入</span>
            </button>
            <button class="button is-danger" v-on:click="sendresult('deny')">
                <span class="icon"><i class="fas fa-user-times"></i></span>
                <span>不允許加入</span>
            </button>
            <button class="button" v-on:click="goback">
                <span class="icon"><i class="fas fa-user-clock"></i></span>
                <span>暫不處理</span>
            </button>
        </footer>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $teamusermodal = new Vue({
            el: '#teamusermodal',
            data: {
                isActive: false,
                user: {},
                modalTitle: ''
            },
            methods: {
                showapprove: function(uid) {
                    this.user = {};
                    axios.get('./edit_user/api', {params: {uid: uid}}).then(function(resp){
                        $teamusermodal.modalTitle = '核准加入 ' + resp.data.badge_name;
                        $teamusermodal.user = resp.data;
                    }).then(function(){
                        $teamusermodal.fixpage();
                    });
                },
                sendresult: function(result) {
                    this.$el.querySelectorAll('footer button.button').forEach(function(btn){
                        btn.classList.add('is-loading');
                    });

                    axios.post('./edit_user/api', {uid: $teamusermodal.user.uid, wid: $teamusermodal.user.wid, result: result}).then(function(resp){
                        $teamusermodal.goback();
                        window.location.href = './edit_user';
                    });
                },
                fixpage: function() {
                    this.isActive = true;
                    document.querySelector('html').classList.add('is-clipped');
                },
                goback: function() {
                    document.querySelector('html').classList.remove('is-clipped');
                    this.isActive = false;

                    this.$el.querySelectorAll('footer button.button').forEach(function(btn){
                        btn.classList.remove('is-loading');
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
        let $teamuser = new Vue({
            el: '#teamuser',
            data: {
                historymodal: {}
            },
            mounted: function() {
                this.showMemberTabs();
            },
            methods: {
                showapprove: function(btn) {
                    $teamusermodal.showapprove(btn.target.dataset.uid);
                },
                deluser: function(btn) {
                    let ans = window.confirm('是否刪除 ' + btn.target.dataset.name + '(' + btn.target.dataset.uid + ') ?\r\n\r\n（確定就直接移除組員喔！）');
                    if (ans === true) {
                        axios.post('./edit_user', {uid: btn.target.dataset.uid, case: 'deluser'}).then(function(resp){
                            window.location.href = './edit_user';
                        });
                    }
                },
                showMemberTabs: function($e) {
                    if ($e) {
                        $e.target.parentNode.parentNode.querySelectorAll('li').forEach(function(e) {
                            e.classList.remove('is-active');
                        });
                        $e.target.parentNode.classList.add('is-active');
                    }
                    document.getElementById('membersTabs').style.display = '';
                    document.getElementById('waittingTabs').style.display = 'none';
                },
                showWaittingTabs: function($e) {
                    if ($e) {
                        $e.target.parentNode.parentNode.querySelectorAll('li').forEach(function(e) {
                            e.classList.remove('is-active');
                        });
                        $e.target.parentNode.classList.add('is-active');
                    }
                    document.getElementById('membersTabs').style.display = 'none';
                    document.getElementById('waittingTabs').style.display = '';
                },
                history: function(uid, name, picture) {
                    axios.post('./edit_user', {case: 'history', uid: uid}).then(function(resp) {
                        $teamuser.historymodal = resp.data.history;
                        $teamuser.historymodal.name = name;
                        $teamuser.historymodal.picture = picture;
                    });
                },
                goback: function() {
                    this.historymodal = {};
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
