{% extends "base.html" %}
{% block head_title %}{{project.name}} / {{team.name}} 設定 {%block head_title_team_setting %}{%endblock%}{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Setting {{project.name}} / {{team.name}}
    </h1>
    <p class="subtitle">{% block team_edit_subtitle %}{% endblock %}</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
              <aside class="menu">
                  <p class="menu-label">{{team.name}}</p>
                  <ul class="menu-list">
                      <li>
                          <a href="{{url_for('team.index', pid=team.pid, tid=team.tid)}}">首頁</a>
                      </li>
                  </ul>
                  <p class="menu-label">{{team.name}} - 管理</p>
                  <ul class="menu-list">
                      <li>
                          <a class="{%block team_edit_menu%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/edit">
                              <span class="icon"><i class="fas fa-tools"></i></span>
                              <span>設定</span>
                          </a>
                      </li>
                      <li>
                          <a class="{%block team_edit_user_menu%}{%endblock%}" href="/team/{{team.pid}}/{{team.tid}}/edit_user">
                              <span class="icon"><i class="fas fa-users"></i></span>
                              <span>組員</span>
                          </a>
                      </li>
                      <li>
                          <a class="{%block team_edit_recruit_menu%}{%endblock%}" href="/recruit/{{team.pid}}/{{team.tid}}/list">
                              <span class="icon"><i class="fas fa-user-astronaut"></i></span>
                              <span>志工人才庫</span>
                          </a>
                      </li>
                  </ul>
              </aside>
          </div>
          {% block team_edit_body %}{% endblock %}
      </div>
  </div>
</section>
{% endblock %}
