{% extends "team.html" %}
{% block head_title_team %}組織夥伴{% endblock %}
{% block menu_members %}is-active{% endblock %}
{% block team_body %}
<div class="content">
    <div class="table-container">
        <table class="table is-hoverable">
            <thead>
                <tr>
                    <th>uid</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Chat</th>
                </tr>
            </thead>
            <tbody>
            {% for u in members %}
                <tr>
                    <td><span class="tag is-family-monospace">{{u._id}}</span></td>
                    <td>
                        <a href="/user/{{u._id}}">
                            <figure class="image is-32x32"><img class="is-rounded" src="{{u.oauth.picture}}"></figure>
                        </a>
                    </td>
                    <td><a href="/user/{{u._id}}">{{u.profile.badge_name}}</a></td>
                    <td>
                        {% if u.chat %}
                        <a class="button is-small is-info is-light" href="https://chat.coscup.org/coscup/messages/@{{u.chat['name']}}">chat with @{{u.chat['name']}}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
