{% extends "base.html" %}
{% block head_title_team %}加入{% endblock %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
        Team Join to
    </h1>
    <p class="subtitle">加入 {{project.name}} / {{team.name}}</p>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-half is-offset-one-quarter">
              {% if is_in_wait %}
              <article class="message">
                  <div class="message-body">
                      已收到申請加入 <strong>{{project.name}} / {{team.name}}</strong>，敬請稍等組長們的審核。
                  </div>
              </article>
              <div class="content">
                  <a class="button is-success is-light" href="/team/{{team.pid}}/{{team.tid}}">確定</a>
              </div>
              {% else %}
              <form method="POST">
                  <div class="field">
                      <div class="content">
                          <article class="message is-info">
                              <div class="message-header">
                                  <p>
                                      <span class="icon has-text-white"><i class="fas fa-info-circle"></i></span>
                                      <span>{{project.name}} / {{team.name}} 招募訊息</span>
                                  </p>
                              </div>
                              <div class="message-body">
                                  <div class="content">
                                      {{team.public_desc|safe}}
                                  </div>
                              </div>
                          </article>
                          {% set messages = get_flashed_messages() %}
                          {% if messages %}
                          <article class="message is-danger">
                              <div class="message-header">
                                  <p>
                                      <span class="icon has-text-white"><i class="fas fa-info-circle"></i></span>
                                      <span>請先完成以下事項</span>
                                  </p>
                              </div>
                              <div class="message-body">
                                  <div class="content">
                                    <ol>
                                        {% for msg in messages %}
                                        <li>{{ msg|safe }}</li>
                                        {% endfor %}
                                    </ol>
                                  </div>
                              </div>
                          </article>
                          {% endif %}
                          <p>感謝申請加入 <strong>{{project.name}} / {{team.name}}</strong>，提出申請後敬請稍等組長們的審核。<p>
                          <p><strong>請</strong>針對以下問題來給組長與大會招募小組判斷加入的依據：</p>
                          <p>
                              <ul>
                                  <li>過去參加過幾次 COSCUP？無論是擔任工作人員或是報名參加</li>
                                  <li>曾經擔任過什麼活動（特別是社群研討會跟社群活動）的工作人員？在其中擔任什麼角色呢？</li>
                                  <li>在會前及會後，平均而言「每週」能夠投入「多少小時」協助 COSCUP 的工作呢？</li>
                                  <li>描述能夠在 COSCUP 協助的事項。<small>（例如：找贊助、視覺設計、擔任苦力、當總召、架設線路、攝影、直播、做網站、娛樂眾人、打雜、主持議程、寫文案、聯絡媒體、擔任發言人、cosplay 萬能客服、聯絡社群⋯）</small></li>
                              </ul>
                          </p>
                      </div>
                  </div>
                  <div class="field">
                      <label class="label">提交資訊</label>
                      <div class="control">
                          <textarea class="textarea" minlength="100" name="note"{% if messages %}disabled{%else%}required{% endif %}></textarea>
                      </div>
                      <p class="help is-warning">
                        {% if messages %} 請先至上方 <strong>「請先完成以下事項」</strong> 紅色區域，依指示逐條完成小任務，即可開始提出申請成為組員。 {%else%} 請完整敘述內容。勿留空白或隨意提交資訊！<strong>提交字數若不足，請再多寫一點。</strong> {% endif %}
                      </p>
                  </div>
                  <div class="field">
                      <div class="control">
                          <button class="button is-link is-fullwidth" type="submit"{% if messages %}disabled{% endif %}>
                              <span class="icon"><i class="far fa-hand-point-right"></i></span>
                              <span>申請加入 {{project.name}} / {{team.name}}</span>
                          </button>
                      </div>
                  </div>
              </form>
              {% endif %}
          </div>
      </div>
  </div>
</section>
{% endblock %}