{% extends "team.html" %}
{% block head_title_team %}組織夥伴{% endblock %}
{% block menu_members %}is-active{% endblock %}
{% block team_body %}
<div class="content" id="teammembers" v-cloak>
    <div class="field is-grouped is-grouped-right">
        <div class="control" v-if="is_loading > 0">
            <a class="button is-loading"></a>
        </div>
        <div class="control">
            <div class="select">
                <select v-model="team">
                    <option v-for="lt in teams" :value="lt._id">[[ lt.name ]]</option>
                </select>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table is-hoverable">
            <thead>
                <tr>
                    <th>uid</th>
                    <th>Tag</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>is_chief</th>
                    <th>Chat</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in members">
                    <td class="is-vcentered"><span class="tag is-family-monospace">[[ u._id ]]</span></td>
                    <td class="is-vcentered">
                        <span class="tags" v-if="members_tags[u._id] != undefined">
                            <span class="tag" v-for="tag_id in members_tags[u._id].tags" :class="tags[tag_id].color">
                                [[ tags[tag_id].name ]]
                            </span>
                        </span>
                    </td>
                    <td class="is-vcentered">
                        <a :href="'/user/'+ u._id">
                            <figure class="image is-32x32"><img class="is-rounded" :src="u.oauth['picture']"></figure>
                        </a>
                    </td>
                    <td class="is-vcentered"><a :href="'/user/' + u._id">[[ u.profile['badge_name'] ]]</a></td>
                    <td class="is-vcentered">
                        <span v-if="u.is_chief">🌟</span>
                    </td>
                    <td class="is-vcentered">
                        <a v-if="u.chat['name'] != undefined " class="button is-small is-info is-light"
                            :href="'https://chat.coscup.org/coscup/messages/@'+ u.chat['name']">chat with @[[ u.chat['name'] ]]</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function () {
        let $teammembers = new Vue({
            el: '#teammembers',
            data: {
                team: '{{team.tid}}',
                teams: [],
                tags: {},
                members: [],
                color: [
                    {'is-primary': true},
                    {'is-link': true},
                    {'is-info': true},
                    {'is-success': true},
                    {'is-warning': true},
                    {'is-danger': true},
                ],
                is_loading: 0
            },
            watch: {
                team: function() {
                    this.load();
                }
            },
            mounted: function() {
                this.load();
            },
            methods: {
                load: function() {
                    ++this.is_loading;
                    axios.post('./members', {'casename': 'get', 'tid': this.team}).then(function(resp) {
                        if (resp.data.teams.length > 0) {
                            $teammembers.teams = resp.data.teams;
                        }
                        if (resp.data.tags.length > 0) {
                            $teammembers.tags = {};
                            resp.data.tags.forEach(function(tag, index) {
                                $teammembers.tags[tag.id] = {'name': tag.name, 'color': $teammembers.color[index % $teammembers.color.length]}
                            });
                        }
                        $teammembers.members = resp.data.members;
                        $teammembers.members_tags = resp.data.members_tags;
                        --$teammembers.is_loading;
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
