{% extends "base.html" %}
{% block head_title %}{{badge_name}}({{oauth.data.name}}){% endblock %}
{% block body %}
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
              <div class="card">
                  <div class="card-image">
                      <figure class="image is-1by1">
                          <img src="{{oauth.data.picture}}">
                      </figure>
                  </div>
                  <div class="card-content">
                      <div class="media">
                          <div class="media-content">
                              <p class="title is-5">{{oauth.data.name}}</p>
                              <p class="subtitle is-6">{{badge_name}}</p>
                              <p><small class="tag is-family-monospace" aria-label="user id">{{user._id}}</small></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="content" style="margin-top: 20px;">
                  <div class="buttons">
                  {% if mattermost_data %}
                      <a class="button is-small is-fullwidth is-success is-light"
                         href="https://chat.coscup.org/coscup/messages/@{{mattermost_data['username']}}">
                          <span class="icon"><i class="far fa-comments"></i></span>
                          <span>Direct Message @{{mattermost_data['username']}}</span>
                      </a>
                  {% endif %}
                  {% if g.user['account']['_id'] == user._id %}
                      <a class="button is-small is-fullwidth" href="/setting/profile">
                          <span class="icon"><i class="fas fa-user-edit"></i></span>
                          <span>修改</span>
                      </a>
                  {% endif %}
                  </div>
              </div>
          </div>
          <div class="column">
            {% if intro %}
            <div class="content box">
                {% if g.user['account']['_id'] == user._id %}
                <h2>Intro <sup>
                  <small><a href="/setting/">
                    <span class="icon"><i class="fas fa-edit"></i></span>
                  </a></small>
                </sup></h2>
                {% else %}
                <h2>Intro</h2>
                {% endif %}
                <hr>
                {{intro|safe}}
            </div>
            {% endif %}
            <div class="content box">
                <h2>參與履歷<sup><span class="tag is-info is-light">系統產生</span></sup></h2>
                {% if participate_in %}
                <ul>
                    {% for p in participate_in %}
                    <li>
                        {{p._project.name}} <strong>{{p.name}}</strong>
                        <small>
                            {% if p._title == 'chief' %}
                            <span class="tag is-warning is-light">{{p._title}}</span> {{p._action_date}}
                            {% elif p._title == 'member' %}
                            <span class="tag is-success is-light">{{p._title}}</span> {{p._action_date}}
                            {% else %}
                            <span class="tag is-light">{{p._title}}</span> {{p._action_date}}
                            {% endif %}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>目前無參與過 COSCUP 志工團隊。</p>
                {% endif %}
            </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
    gtag('event', 'view_item', {
            currency: "TWD",
            value: 1,
            items: [{item_id: '{{user._id}}'}],
        });
</script>
{% endblock %}
